﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AccJs/AccountVoucherOpening.js"></script>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label> Account Voucher Opening</label>
                    </div>
                    <input type="hidden" id="hdnIELA" value="" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label>Account Type:</label><span style="color:red">&nbsp;&nbsp;*</span>
                                    <select id="ddlVoucherType" class="form-control">
                                        <option value="0">--Select--</option>
                                        <option value="A">Assets</option>
                                        <option value="L">Liability</option>
                                        <option value="S">SubLedger</option>
                                    </select>
                                    <input type="hidden" id="txtFinYears" value="2017-2018" />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label>Search By :</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" id="radioName" value="Name" checked>Name
                                    </label>
                                    @*<label class="radio-inline">
                                            <input type="radio" name="optradio" id="radioCode" value="Code">Code
                                        </label>*@
                                    <input type="text" class="form-control" id="txtAutoComp" />
                                    <input type="hidden" ID="hdnAuto" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="txtLedger" name="txtLedger" value="" class="form-control" />
                                <input type="hidden" id="hdnLedger" name="txtLedger" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" sstyle="overflow-y:scroll;">
                                <table id="tblVoucheropening" class="table table-hover table-bordered" >
                                    <thead></thead>
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


