﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.App_Codes.BLL.Account;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/AccountBudgetMapping.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <form form-inline" id="frm">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <label>Accounts mapping with Budget</label>
                            </div>
                          
                            <div class="panel-body">

                                <div class="outerDiv">
                                    <div class="leftDiv">
                                        
                                            <select class="form-control" id="ddlDashBudgetType" style="margin-left:15px; float:left; width:50.5%" onchange="Budget()">
                                                <option value="L">Revenue Physical</option>
                                                <option selected value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                            <select class="form-control" id="ddlDashCategory" style=" margin-right:25px;width:38.5%; float:right" onchange="Budget()">
                                                <option value="I">Receipt</option>
                                                <option selected value="E">Payment</option>
                                            </select>
                                                <input type="text" class="form-control" id="input-search" placeholder="Type to search..." value="" style="margin-left:15px; width:90.5%" onkeyup="SearchTable();" autocomplete="off" />
                                                <div class="col-md-6 scrollbar" style="width:100%; height:650px !important">
                                                    <div id="treeview">
                                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl_Budget" width="100%">
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rightDiv">
                                                <div class="row" style=" margin-left:5px">
                                                    <div class="form-group">
                                                        <div class="col-md-9">
                                                            <label class="control-label">Parent Budget</label><span id="spn3" style="color: red"> *</span>
                                                            <input type="text" id="txtTabId" name="txtTabId" class="form-control">
                                                            <input type="hidden" id="hdnTabId" name="hdnTabId" class="form-control">
                                                            <input type="hidden" id="hdnDetailID" name="hdnDetailID" class="form-control">
                                                        </div>
                                                        
                                                        <div class="col-md-3">
                                                            <label class="control-label">Ledger/SubLedger </label><span id="spn3" style="color: red"> *</span>
                                                            <select id="ddlExpStatutory" class="form-control">
                                                                <option value="E"> Ledger </option>
                                                                <option selected value="S"> SubLedger </option>
                                                                @*<option value="E"> Expense </option>
                                                                <option selected value="S"> Statutory </option>*@
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t" style=" margin-left:5px">
                                                    <div class="form-group">
                                                        <div class="col-md-8">
                                                            <label class="control-label">Account Description</label><span id="spn3" style="color: red"> *</span>
                                                            <input type="text" id="txtAccountCode" name="txtAccountCode" class="form-control">
                                                            <input type="hidden" id="hdnAccountCode" name="hdnAccountCode" class="form-control">
                                                        </div>

                                                        <div class="col-md-4" style="padding-top:22px; text-align:right">
                                                            <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                            <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style=" margin-left:5px">
                                                    <div class="form-group">

                                                        <div class="col-md-12 m-t">
                                                            <div class="form-group">
                                                                <div class="scrollbar" style="width:100%; height:580px !important">
                                                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl_Account" width="100%">
                                                                        <thead></thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .outerDiv {
        color: #fff;
        height: 700px;
        margin: 0px auto;
    }

    .leftDiv {
        color: #000;
        height: 700px;
        width: 35%;
        float: left;
    }

    .rightDiv {
        color: #000;
        height: 700px;
        width: 65%;
        float: right;
    }
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 200px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
    .rowColor {
        background-color: #D4E6F1;
    }
</style>



