﻿
@{
    ViewBag.Title = "Accounts_BRS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AccJs/AccountBRS.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label> Account BRS </label>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label id="lblVoucherNo" class="control-label">Bank Code</label>
                                <input type="text" id="txtBank" class="form-control" placeholder="Select Bank.." />
                                <input type="hidden" id="hdnBank" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label id="lblTo" class="control-label">Option for Corresponding</label>
                                <select id="ddlCorrsOption" class="form-control">
                                    <option value="N">Normal</option>
                                    <option value="C">Cleared</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label id="lblTo" class="control-label">Instrument Received/Issued</label>
                                <select id="ddlInstRecIss" class="form-control">
                                    <option value="D">Received</option>
                                    <option value="C">Issued</option>
                                </select>
                            </div>
                        </div>

                        <div class="row m-t">
                            <div class="col-md-3">
                                <label id="lblVoucherNo" class="control-label">From Date</label>
                                <input type="text" id="txtFrom" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" value="01/12/2019" />
                            </div>
                            <div class="col-md-3">
                                <label id="lblVoucherNo" class="control-label">To Date / As on Date</label>
                                <input type="text" id="txtTo" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" value="31/12/2019" />
                            </div>
                            <div class="col-md-3">
                                <label id="lblVoucherNo" class="control-label">Instrument No.</label>
                                <input type="text" id="txtInstNo" class="form-control" />
                            </div>
                            <div class="col-md-3" style="padding-top:23px">
                                <button type="button" id="btnShow" class="btn btn-primary" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show</button>
                                <button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="Print();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="text-align:right; padding-top:5px">
                                <div id="myDiv" class="form-group" style="padding-top:5px;">
                                    <input id="searchInput" name="searchInput" class="form-control" onkeyup="SearchTable()" onblur="SearchTable()" placeholder="for Search..." />
                              
                                    <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                            <thead></thead>
                                            <tbody id="fbody"></tbody>
                                            <tfoot></tfoot>
                                        </table>
                                </div>
                            </div>
                        </div>

                        @*<div class="row" id="part_btn" style="display:none;">
                            <div class="col-md-5">
                                <input type="button" value="Save" id="btnSave" class="btn btn-primary" />
                                <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>



