﻿
@{
    ViewBag.Title = "AccountMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/AccJs/AccountMapping.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Account Mapping
                        </div>
                        <div class="panel-body">
                            <form id="frmAccountMapping">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label for="ddlMapType">Mapping Type</label>
                                            <select class="form-control" id="ddlMapType" name="ddlMapType"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-t">
                                    <div class="col-md-12">
                                        <table id="tblAccountMapping" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                            <thead>
                                                <tr>
                                                    <th style='display:none;'>SL </th>
                                                    <th>Component Type</th>
                                                    <th style="width:15%">Voucher Type</th>
                                                    <th>Account Description </th>
                                                    <th style="width:8%">Dr/Cr </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row" style="padding-top:2px; float:right">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" id="btnsubmit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                            <button type="button" id="btncancel" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

