﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "AccountClosing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/app/select2.full.min.js"></script>
<script src="~/Scripts/AccJs/AccountClose.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Account Closing
                        </div>
                        <div class="panel-body">
                            <form id="frmAccountMapping">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label for="ddlAccClose">Account Closing Type</label>
                                            <select class="form-control" id="ddlAccClose" name="ddlAccClose">
                                                <option selected value="">Select</option>
                                                <option value="T">Transfer</option>
                                                <option value="C">Close</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="ddlAccClose">FinYear</label>
                                            <select class="form-control" id="ddlAccCloseFinYear" name="ddlAccCloseFinYear">
                                                <option selected value="">Select</option>
                                                <option value="T">Transfer</option>
                                                <option value="C">Close</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="ddlAccClose">Sector Name</label>
                                            <select class="select2_demo_2 form-control" id="lstSector" multiple="multiple" style="width:100% !important">
                                                <option value="0">All</option>
                                                @if (SessionContext.IsAuthenticated)
                                                {
                                                    foreach (var vchtype in (new TrailBalance_BLL().Get_UserWiseSector(SessionContext.SessionData.UserID)))
                                                    {
                                                        <option value="@vchtype.SectorID">@vchtype.SectorName </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="txtClosingDate">Transaction Date</label>
                                            <input id="txtClosingDate" name="txtClosingDate" type="text" class="form-control" placeholder="DD/MM/YYYY" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-t" style="padding-top:2px; float:right">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" id="btnsubmit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                            <button type="button" id="btncancel" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>

