﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.Models.Account;

@{
    ViewBag.Title = "Bank Transaction";
}

<script src="~/Scripts/AccJs/BankStatementExcelUpload.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Bank Transaction</label>
                    </div>
                    <input type="hidden" id="hdnLedgerCode" class="form-control">
                    <input type="hidden" id="hdnSubLedgerCode" class="form-control">
                    <input type="hidden" id="hdnIsSubLedger" class="form-control">
                    <input type="hidden" id="hdnStatementID" class="form-control">
                    <input type="hidden" id="hdnPostingDate" class="form-control">
					 <input type="hidden" id="hdnVBankCode" class="form-control">

                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" > New</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2"> Posted</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="panel-body">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="full-height-scroll">
                                            <div class="panel-body">
                                                <div class="stage stage-default">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="panel-body">
                                                                <form id="frmInv">
                                                                    <div class="row">
                                                                        <div class="form-group">
                                                                            <div class="col-md-4">
                                                                                <label class="control-label">Bank Name</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <input type="text" id="txtBankName" class="form-control" placeholder="Select Bank...">
                                                                                <input type="hidden" id="hdnAccCode" class="form-control">
                                                                            </div>
                                                                            <div class="col-md-1">
                                                                                <label class="control-label">DR/CR</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <select id="ddlDRCR" class="form-control">
                                                                                    <option value="D">DR</option>
                                                                                    <option selected value="C">CR</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <label class="control-label">Choose File (.xls, .xlsx)</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <input type="file" class="form-control blankField" placeholder="File Upload..." multiple id="flPic">  @*onchange="Photo(this)"*@
                                                                            </div>
                                                                            <div class="col-md-3" style="padding-top:22px">
                                                                                <button type="button" id="btnUpload" class="btn btn-primary" onclick="Photo()"><span class="glyphicon glyphicon-open" aria-hidden="true" style="padding-right:4px"></span>Upload</button>
                                                                                <button type="button" id="btnDownload" class="btn btn-primary" onclick="Sample()"><span class="glyphicon glyphicon-save" aria-hidden="true" style="padding-right:4px"></span>Download Excel Sample</button>
                                                                                @*<button type="button" id="btnSave" class="btn btn-primary" onclick="NewSave()"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Save</button>*@
                                                                                @*<button type="button" id="btnGenAmount" class="btn btn-primary" onclick="DepotGenAmount()" style="display:none;"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Depot wise Amount</button>*@
                                                                                @*<button type="button" id="btnSave" class="btn btn-primary" onclick="Sample()"><span class="glyphicon glyphicon-save" aria-hidden="true" style="padding-right:4px"></span>Download Excel Sample</button>*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-t">
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <table id="tbl" class="table table-bordered" width="100%">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Txn Date</th>
                                                                                            <th style="width:30%">Description</th>
                                                                                            <th>Amount <span class="isdrcr"></span></th>
                                                                                            <th style="width:10%">Posting Date</th>
                                                                                            <th>Ledger/SubLedger</th>
                                                                                            <th>Action</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                    <tfoot></tfoot>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">
                                <div class="panel-body">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="full-height-scroll">
                                            <div class="panel-body">
                                                <div class="stage stage-default">
                                                    <div class="row">
                                                        <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="form-group">
                                                                            <div class="col-md-2">
                                                                                <label class="control-label">From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <input type="text" id="txtFromDate" class="form-control" placeholder="DD/MM/YYYY">
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                <label class="control-label">To Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <input type="text" id="txtToDate" class="form-control" placeholder="DD/MM/YYYY">
                                                                            </div>
                                                                           
                                                                            <div class="col-md-4">
                                                                                <label class="control-label">Bank Name</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <input type="text" id="txtSBankName" class="form-control" placeholder="Select Bank...">
                                                                                <input type="hidden" id="hdnSAccCode" class="form-control">
                                                                            </div>
                                                                            @*<div class="col-md-2">
                                                                                <label class="control-label">Posting Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <select id="ddlPostingDate" class="form-control">
                                                                                    <option value="">Select</option>
                                                                                </select>
                                                                            </div>*@
                                                                            <div class="col-md-1">
                                                                                <label class="control-label">DR/CR</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <select id="ddlSDRCR" class="form-control">
                                                                                    <option value="D">DR</option>
                                                                                    <option selected value="C">CR</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-1">
                                                                                <label class="control-label">Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                                <select id="ddlRtype" class="form-control">
                                                                                    <option value="1">All</option>
                                                                                    <option  value="2">Already Posted</option>
                                                                                    <option value="3">Pending</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-1" style="padding-top:22px">
                                                                                <button type="button" id="btnUpload" class="btn btn-primary" onclick="Search()"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px"></span>Search</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row m-t">
                                                                        <div class="form-group">
                                                                            <div class="col-md-12">
                                                                                <table id="tbl1" class="table table-bordered" width="100%">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Txn Date</th>
                                                                                            <th style="width:30%">Description</th>
                                                                                            <th>Amount <span class="isdrcr"></span></th>
                                                                                            <th style="width:10%">Posting Date</th>
                                                                                            <th>Ledger/SubLedger</th>
                                                                                            <th>Action</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                    <tfoot></tfoot>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:80%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Voucher List</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" >
                        <div class="col-md-2">
                            <label class="control-label">From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                            <input type="text" id="txtVFromDate" class="form-control" placeholder="DD/MM/YYYY">
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">To Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                            <input type="text" id="txtVToDate" class="form-control" placeholder="DD/MM/YYYY">
                        </div>
                        <div class="col-md-2" style="padding-top:23px">
                            <button type="button" id="btnVchList" class="btn btn-primary" onclick="ShowVoucher()"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px"></span>Search</button>
                        </div>
                    </div>
                </div>
                <div class="row m-t">
                    <div class="form-group" style="padding-left:5px; padding-right:5px; ">
                        <div class="col-md-12">
                                <table id="datatable" class="table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>VoucherNo</th>
                                            <th>Voucher Date</th>
                                            <th>Amount</th>
                                            <th>Remarks</th>
                                            <th>Confirm</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: #d8d1d1;
    }
</style>
