﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/AccJs/BankStatement.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Bank Statement</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Bank Name<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" id="txtBankName" name="txtBankName" placeholder="Search Bank..." />
                                        <input type="hidden" class="form-control" id="hdnBankName" name="hdnBankName" />

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Signature of<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlSignature" class="form-control">
                                            <option selected value="">Select</option>
                                            <option value="A">Authorised Signatury</option>
                                            <option value="F">Finance Officer</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label for="dtFrom">Memo No.<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithoutdecimal" placeholder="Memo No." id="txtMemoNo" name="txtMemoNo" />
                                    </div>
                                </div>*@
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Memo Date<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtMemoDate" name="txtMemoDate" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Cheque No.<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithoutdecimal" maxlength="6" placeholder="Cheque No." id="txtChequeNo" name="txtChequeNo" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Cheque Date<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtChequeDate" name="txtChequeDate" autocomplete="off" />
                                       
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="dtFrom">Remarks<span style="color:red">&nbsp;*</span></label>
                                        <textarea type="text" class="form-control"  placeholder="Remarks..." id="txtRemarks" name="txtRemarks"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>VoucherNumber</th>
                                                    <th>Voucher No.</th>
                                                    <th>Voucher Date</th>
                                                    <th>AccountCode</th>
                                                    <th>Vendor Name</th>
                                                    <th>Amount</th>
                                                    <th>IFSC</th>
                                                    <th>Bank Name</th>
                                                    <th>Select</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-md-12" style="text-align:right">
                                        <button type="button" id="btnSave" class="btn btn-primary" onclick="Save()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                        <button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="Search()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                                        <button type="button" id="btnPreview" class="btn btn-success hidden-print" onclick="Preview()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Preview</button>
                                        <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Selected Vendors are ...</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:15%" class="isSubItem">Vendor Name</th>
                                        <th style="text-align:center; width:6%" class="isSubItemType">Date</th>
                                        <th style="text-align:center; width:8%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-print" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Print</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="dtFrom">Search by Memo No.<span style="color:red">&nbsp;*</span></label>
                            <input type="text" class="form-control" placeholder="Memo No." id="txtSearchMemoNo" name="txtSearchMemoNo" />
                            <input type="hidden" class="form-control" placeholder="Memo No." id="hdnSearchMemoNo" name="hdnSearchMemoNo" />
                        </div>
                        <div class="col-md-5" style="text-align:left; padding-top:22px">
                            <button type="button" id="btnSearchPrint" class="btn btn-success hidden-print" onclick="SearchPrint()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                            <button type="button" id="btnSearchCancel" class="btn btn-danger" onclick="CloseMemoNo()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close Memo No.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 350px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>