﻿
@{
    ViewBag.Title = "Bank_Payment_Updation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AccJs/Bank_Payment_Updation.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label> Bank Payment Updation </label>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12" style="text-align:right;">
                                <div id="myDiv" class="form-group" style="padding-top:5px;">
                                    <input id="searchInput" name="searchInput" class="form-control" onkeyup="SearchTable()" onblur="SearchTable()" placeholder="for Search..." />
                                    <table id="myTable" class="Grid" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                        <thead></thead>
                                        <tbody id="fbody"></tbody>
                                        <tfoot></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>


