﻿@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes;

@{
    ViewBag.Title = "Bill Extract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/FixHeader.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Bill Abstract</label>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class=""><a data-toggle="tab" href="#tab-1" onclick="HideBack()"> Bill Abstract</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2" onclick="PendingSector()"> Pending Job</a></li>
                            <li class="clsBack" style="float:right; display:none"><button type="button" id="btnBack" class="btn btn-default" onclick="Back();"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="padding-right:4px"></span>Back</button></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="panel-body">
                                        <form id="frmCC">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="dtFrom">Memo No.<span style="color:red">&nbsp;*</span></label>
                                                        <input type="text" class="form-control" placeholder="Memo No." id="txtMemoNo" name="txtMemoNo" disabled />
                                                        <input type="hidden" class="form-control" id="hdnTabId" name="hdnTabId" />
                                                        <input type="hidden" class="form-control" id="hdnMemoSrlNo" name="hdnMemoSrlNo" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="dtFrom">Memo Date<span style="color:red; ">&nbsp;*</span></label>
                                                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtMemoDate" name="txtMemoDate" />
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Section Name<span style="color:red">&nbsp; *</span></label>
                                                        <select id="ddlSection" class="form-control"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Party Name<span style="color:red">&nbsp;*</span></label>
                                                        <input type="text" class="form-control" placeholder="Party Name" id="txtPartyName" name="txtPartyName" />
                                                        <input type="hidden" class="form-control" placeholder="Party Name" id="hdnPartyName" name="hdnPartyName" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Payee Name<span style="color:red">&nbsp;</span></label>
                                                        <input type="text" class="form-control" placeholder="Payee Name" id="txtPayeeName" name="txtPayeeName" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Gross Amount<span style="color:red">&nbsp; *</span></label>
                                                        <input type="text" class="form-control allownumericwithdecimal" disabled placeholder="0.00" id="txtGrossAmount" name="txtGrossAmount" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="search-table-outter">
                                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered search-table inner" id="tblFC" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>FC No.</th>
                                                                        <th style="width:9%">Ref Type</th>
                                                                        <th>Ref No.</th>
                                                                        <th>Ref Date</th>
                                                                        <th>SRV No.</th>
                                                                        <th>SRV Date</th>
                                                                        <th>TaxInvoice No.</th>
                                                                        <th>TaxInvoice Date</th>
                                                                        <th>Amount</th>
                                                                        <th style="width:4%"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="test_0">
                                                                        <td style="width:30%">

                                                                            <input type="text" id="txtEfftGL" class="form-control" placeholder="search here.." />

                                                                            <input type="hidden" id="hdnEfftFcDetailID" class="form-control" />
                                                                        </td>

                                                                        <td style="width:13%">
                                                                            <select id="ddlRefType" class="form-control" onchange="ReferenceValidate()">
                                                                                <option selected value="">Select</option>
                                                                                <option value="P">PO</option>
                                                                                <option value="W">WO</option>
                                                                                <option value="O">Others</option>
                                                                                <option value="N">N/A</option>
                                                                            </select>
                                                                        </td>
                                                                        <td style="width:20%"><input type="text" class="form-control" id="txtRefNo" name="txtRefNo" placeholder="Ref No." autocomplete="off" /></td>
                                                                        <td style="width:30%"><input type="text" class="form-control" id="txtRefDate" name="txtRefDate" placeholder="DD/MM/YYYY" autocomplete="off" /></td>
                                                                        <td style="width:30%"><input type="text" class="form-control" placeholder="SR No." id="txtSRNo" name="txtSRNo" autocomplete="off" /></td>
                                                                        <td style="width:20%"><input type="text" class="form-control" id="txtSRVDate" name="txtSRVDate" placeholder="DD/MM/YYYY" autocomplete="off" /></td>
                                                                        <td style="width:20%"><input type="text" class="form-control" placeholder="Invoice No." id="txtInvoiceNo" name="txtInvoiceNo" autocomplete="off" /></td>
                                                                        <td style="width:20%"><input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtInvoiceDate" name="txtInvoiceDate" autocomplete="off" /></td>
                                                                        <td style="width:20%">
                                                                            <input type="text" id="txtEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." />
                                                                            <label style="font-size:10px; color:blue">FCAmt : </label> <label id="lblFCTotalAmt" style="font-size:10px; color:blue">0.00</label>
                                                                        </td>
                                                                        <td style="text-align:center; width:10%">
                                                                            @*<button type="button" id="btnEffectAdd" class="btn btn-success" onclick="CheckFCLimit()"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>*@
                                                                            <div style="float:left; font-size:30px; cursor:pointer" class="glyphicon glyphicon-plus-sign" onclick="CheckFCLimit(2);"></div>
                                                                            <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                                                            <input type="hidden" class="form-control" id="hdnEffectAmount" />
                                                                            <input type="hidden" class="form-control" id="hdnEffectTempBudgetID" />
                                                                            <input type="hidden" class="form-control" id="hdnEffectBudgetID" />
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group">

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Remarks<span style="color:red">&nbsp;</span></label>
                                                            <textarea type="text" class="form-control" id="txtMainRemarks" name="txtMainRemarks"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label id="lblRemarks" class="control-label">Attachment (.pdf) &nbsp;</label><i class="fa fa-paperclip" aria-hidden="true" style="font-size:22px"></i>
                                                        <div style="width:94%; float:left;"><input type="file" class="form-control bill" accept="application/pdf" placeholder="File Upload..." multiple id="ExpenseflPic_bill" onchange="Expense_Preview_bill(this)"></div>
                                                        <div style="float:right; font-size:30px; display:none;" class="glyphicon glyphicon-picture document" onclick="ShowImage();"></div>
                                                    </div>

                                                    <div class="col-md-5" style="padding-top:25px; text-align:right">
                                                        <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                        @*<button type="button" id="btnPrint" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true" style="padding-right:4px"></span> Print</button>*@
                                                        @*<button type="button" id="btnPrint" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true" style="padding-right:4px"></span> History Report</button>*@
                                                        <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12 m-t">
                                                        <div class="col-md-2 m-t">
                                                            <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtFromDate" name="txtFromDate" autocomplete="off" />
                                                        </div>
                                                        <div class="col-md-2 m-t">
                                                            <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtToDate" name="txtToDate" autocomplete="off" />
                                                        </div>
                                                        <div class="col-md-3 m-t">
                                                            <input type="text" class="form-control" placeholder="Search by memo no..." id="txtSearchMemoNo" name="txtSearchMemoNo" autocomplete="off" />
                                                        </div>
                                                        <div class="col-md-3 m-t">
                                                            <input type="text" class="form-control" placeholder="Search by Party Name..." id="txtSearchPartyName" name="txtSearchPartyName" autocomplete="off" />
                                                        </div>
                                                        <div class="col-md-2 m-t">
                                                            <button type="button" id="btnSearch" class="btn btn-primary" onclick="Search();"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px"></span>Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12 m-t">
                                                        <div class="form-group" style="width:100%; ">
                                                            <div class="wrap1">
                                                                <table class="head">
                                                                    <tr>
                                                                        <th style="display:none">TabID</th>
                                                                        <th>Memo No.</th>
                                                                        <th>Memo Date</th>
                                                                        <th>Party Name</th>
                                                                        <th>Amount</th>
                                                                        <th style="display:none">JVchNo</th>
                                                                        <th style="display:none">RVchNo</th>
                                                                        <th style="display:none">PVchNo</th>
                                                                        <th style="display:none">VchType</th>
                                                                        <th style="display:none">BillStatus</th>
                                                                        <th>Status</th>
                                                                        <th>AllotTo/AccptBy</th>
                                                                        <th>Action</th>
                                                                        <th>Edit/Delete</th>
                                                                        <th>Print</th>
                                                                    </tr>
                                                                </table>
                                                                <div class="inner_table">
                                                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered head" id="tbl" width="100%">

                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            @*<div class="col-md-3">
                                                <div class="form-group" style="width:97%">
                                                    <input type="text" class="form-control" id="txtPendingUser" name="txtPendingUser" placeholder="Search here User" autocomplete="off" />
                                                    <input type="hidden" class="form-control" id="hdnPendingUserID" name="hdnPendingUserID" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <select class="form-control" id="ddlPendingSector">
                                                    @if (SessionContext.IsAuthenticated)
                                                    {
                                                    <option selected value="">Sector</option>
                                                        foreach (var sector in SessionContext.SessionData.Sectors)
                                                        {
                                                                <option value="@sector.SectorID">@sector.SectorName</option>
                                                            }
                                                    }
                                                </select>
                                            </div>*@
                                            
                                            <div class="col-md-12">
                                                <div id="myDiv">
                                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl_Pending" width="100%">
                                                        <thead></thead>
                                                        <tbody></tbody>
                                                        <tfoot></tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-Image" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:80%; height:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:500px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 m-t">
                            <iframe id="ExpIframe_bill" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:450px;width:100%;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Alloted To..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tblAllotedTo" width="100%">
                            <thead>
                                <tr>
                                    <th>Alloted UserName</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_Accept" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px; text-align:center">
                          <button type="button" id="btnAcceptSave" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_Approved" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Remarks</label><span id="spn2" style="color: red">&nbsp; *</span>
                        <textarea type="text" class="form-control clsApproveRemarks"  id="txtApprovedRemarks" name="txtApprovedRemarks" ></textarea>
                    </div>
                    <div class="col-md-5 m-t">
                        <label class="control-label">Journal Posting Date</label><span id="spn2" style="color: red">&nbsp; *</span>
                        <input type="text" class="form-control clsApproveRemarks" id="txtjournaldate" name="txtjournaldate" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-12 m-t" style="text-align:center">
                        <button type="button" id="btnApprovedSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_Remarks" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Narration</label><span id="spn2" style="color: red">&nbsp; *</span>
                        <textarea type="text" class="form-control" id="txtApprovedFinalRemarks" name="txtApprovedFinalRemarks"></textarea>
                    </div>
                    <div class="col-md-12 m-t">
                        <button type="button" id="btnApprovedRemarks" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_1" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:70%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close_1 close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <table id="tblCFC" class="table table-hover table-bordered tblInst">
                            <thead><tr><th>FC No.</th><th>Amount</th><th>Tax InvoiceNo.</th><th></th></tr></thead>
                            <tbody>
                                <tr class="test_0">
                                    <td>
                                        <select id="ddlBillAbstractFinYear" style="width:26%">
                                            <option value="">FinYear</option>
                                        </select>
                                    <input type="text" id="txtCEfftGL" class="form-control" placeholder="search here.." />
                                    </td>
                                    <td style="width:30%">
                                        <input type="text" id="txtCEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." onkeyup="CheckCFCLimitAmt();" />
                                        <label style="font-size:10px; color:blue">FCAmt : </label> <label id="lblCFCTotalAmt" style="font-size:10px; color:blue">0.00</label>
                                    </td>
                                    <td style="width:20%">
                                        <input type="text" id="txtCEfftInvoiceNo"  class="form-control"  />
                                        <input type="hidden" id="hdnCEfftFcDetailID" class="form-control" />
                                    </td>
                                    <td style="text-align:center; width:10%">
                                        <button type="button" id="btnCEffectAdd" class="btn btn-success" onclick="CheckCFCLimit(2)"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                        <input type="hidden" class="form-control" id="hdnCEffectAdd" />
                                        <input type="hidden" class="form-control" id="hdnCEffectAmount" />
                                        <input type="hidden" class="form-control" id="hdnCEffectTempBudgetID" />
                                        <input type="hidden" class="form-control" id="hdnCEffectBudgetID" />
                                        <input type="hidden" class="form-control" id="hdnTabID" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        @*<div class="col-md-12">
                            <label class="control-label" >Budget Head</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <input type="text" id="txtBudgetHead" class="form-control" placeholder="type here.." />
                            <input type="hidden" id="hdnBudgetHead" class="form-control"  />
                        </div>*@
                        <div class="col-md-3 m-t">
                            <label class="control-label">Payment Type</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <select id="ddlBankCash" class="form-control">
                                <option selected value="B">Bank</option>
                                <option value="C">Cash</option>
                            </select>
                        </div>
                        <div class="col-md-4 m-t">
                            <label class="control-label">Voucher Type</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <select id="ddlVoucherType" class="form-control">
                                <option value="L">Journal</option>
                                <option value="P">Payment</option>
                                <option selected value="J">Journal & Payment</option>
                            </select>
                        </div>
                        <div class="col-md-12 m-t" >
                            <button type="button" style="float:right" id="btnConfirmBudgetSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_2" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="float:left">
                                <label class="control-label">Alloted User Name</label><span id="spn2" style="color: red">&nbsp; *</span>
                            </div>
                            <div class="checkbox checkbox-danger checkbox-inline" style="float:right;">
                                <input type="checkbox" class="tt" id="chkisObjection" value="option1" name="objection" onclick="OpenObjection();" >
                                <label for="chkisObjection" id="lblisObjection" class="control-label" style="font-weight:bold">Forward with Objection</label>
                            </div>

                            <input type="text" class="form-control" placeholder="Add new user.." id="txtSearchUser" name="txtSearchUser" disabled />
                            <div class="AllotedUserlist m-t" style="max-height:200px;overflow-y:scroll"></div>
                        </div>
                        <div class="col-md-12 m-t" >
                            <label class="control-label">Remarks</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <textarea type="text" class="form-control" id="txtForwardRemarks" name="txtForwardRemarks" ></textarea>
                        </div>
                        <div class="col-md-12 m-t">
                            <button type="button" style="float:right" id="btnForwardSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_return" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Return User Name</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <input type="text" class="form-control" placeholder="Add new user.." id="txtSearchUser" name="txtSearchUser" />
                            <div class="ReturnAllotedUserlist m-t" style="max-height:200px;overflow-y:scroll"></div>
                        </div>
                        <div class="col-md-12 m-t">
                            <label class="control-label">Remarks</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <div class="checkbox checkbox-danger checkbox-inline" style="margin-left:342px">
                                <input type="checkbox" class="tt" id="chkisObjectionReturn" value="option1" name="objection">
                                <label for="chkisObjectionReturn" id="lblisObjectionReturn" class="control-label" style="font-weight:bold">Forward with Objection</label>
                            </div>
                            <textarea type="text" class="form-control" id="txtReturnForwardRemarks" name="txtReturnForwardRemarks"></textarea>
                        </div>
                        <div class="col-md-12 m-t">
                            <button type="button" style="float:right" id="btnReturnForwardSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_3" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label cls_doclabel">Document Verified</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <select id="ddlVerifybill" class="form-control">
                                <option  value="1">Yes</option>
                                <option selected value="0">No</option>
                            </select>
                            <input type="hidden" class="form-control" id="txthdnBEBV" name="txthdnBEBV" disabled  />
                        </div>
                        <div class="col-md-3 clsPOAmt" >
                            <div class="form-group">
                                <label>Basic Amount<span style="color:red">&nbsp; *</span></label>
                                <input type="text" class="form-control allownumericwithdecimal" id="txtBasicAmount" name="txtBasicAmount" disabled placeholder="Rs." autocomplete="off"  />
                            </div>
                        </div>
                        <div class="col-md-5 clsPOAmt" >
                            <div class="form-group">
                                @*<label>PO Amount<span style="color:red">&nbsp; *</span></label>
                                <input type="text" class="form-control allownumericwithdecimal" id="txtPOAmount" name="txtPOAmount" disabled placeholder="Rs." autocomplete="off" />*@
                                <div class="checkbox checkbox-danger checkbox-inline" style="margin-top:28px">
                                    <input type="checkbox" class="tt" id="chkpogreater" disabled value="option1" name="product">
                                    <label for="chkpogreater" id="lblPOGreater" class="control-label" style="font-weight:bold"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 m-t">
                            <label class="control-label">Remarks</label><span id="spn2" style="color: red">&nbsp; </span>
                            <textarea type="text" id="txtVerifybillRemarks" class="form-control" placeholder="Remarks.." ></textarea>
                        </div>
                        <div class="col-md-12 m-t">
                            <button type="button" style="float:right" id="btnVerifyBillSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:80%; height:500px">
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active journal_tab">
                            <a href="#tab_journal" aria-controls="tab_journal" role="tab" data-toggle="tab">Journal</a>
                        </li>
                        <li role="presentation" class="payment_tab">
                            <a href="#tab_payment" aria-controls="tab_payment" role="tab" data-toggle="tab">Payment</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab_journal">
                            <input type="hidden" id="journalRemarks" disabled>
                            <table id="tbl_Expense_Voucher_journal" class="table table-hover table-bordered tblInst" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="display:none">ORD</th>
                                        <th style="width:50%">Account Description</th>
                                        <th style="width:10%">DR/CR</th>
                                        <th>Amount (Dr.)</th>
                                        <th>Amount (Cr.)</th>
                                        <th style="width:7%" class="cls_headerAdd"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab_payment">
                            <input type="hidden"  id="paymentRemarks" disabled >
                            <table id="tbl_Expense_Voucher_payment" class="table table-hover table-bordered tblInst" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="display:none">ORD</th>
                                        <th style="width:50%">Account Description</th>
                                        <th style="width:10%">DR/CR</th>
                                        <th>Amount (Dr.)</th>
                                        <th>Amount (Cr.)</th>
                                        <th style="width:7%" class="cls_headerAdd"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="float:right" id="btnDRCRHeadSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-MultipleFC" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        @*<table id="tblFC" class="table table-hover table-bordered tblInst">
                            <thead><tr><th>FC No.</th><th>Amount</th><th>Ref Type</th><th>Ref No.</th><th>Ref Date</th><th>SRV No.</th><th>SRV Date</th><th></th></tr></thead>
                            <tbody>
                                <tr class="test_0">
                                    <td><input type="text" id="txtEfftGL" class="form-control" placeholder="search here.." /></td>
                                    <td style="width:30%"><input type="text" id="txtEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." /></td>
                                    <td style="width:30%"><input type="text" id="txtEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." /></td>
                                    <td style="width:30%"><input type="text" id="txtEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." /></td>
                                    <td style="width:30%"><input type="text" id="txtEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." /></td>
                                    <td style="width:30%"><input type="text" id="txtEfftAmount" class="form-control allownumericwithdecimal" placeholder="Rs." /></td>
                                    <td style="text-align:center; width:10%">
                                        <button type="button" id="btnEffectAdd" class="btn btn-success" onclick="CheckFCLimit()"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                        <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                        <input type="hidden" class="form-control" id="hdnEffectAmount" />
                                        <input type="hidden" class="form-control" id="hdnEffectTempBudgetID" />
                                        <input type="hidden" class="form-control" id="hdnEffectBudgetID" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_23" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false"> 
    <div class="modal-dialog" style="width:50%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">Payment Date</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <input type="text" id="txtChequeDate" class="form-control" placeholder="DD/MM/YYYY" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Bank/Cash</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <select id="ddlChequeBankCash" class="form-control" onchange="BankCash()">
                                <option selected value="B">Bank</option>
                                <option value="C">Cash</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row m-t">
                    <div class="form-group">
                        <div class="col-md-12 ">
                            <label class="control-label">Bank Name</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <input type="text" id="txtBankName" maxlength="6" class="form-control" placeholder="Select Bank..." />
                            <input type="hidden" id="hdnBankName" maxlength="6" class="form-control" />
                            <input type="hidden" id="hdnCurrBal" maxlength="6" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3 m-t">
                            <label class="control-label">Instrument Type</label><span id="spn2" style="color: red">&nbsp; *</span>
                            <select ID="ddlInstType" class="form-control" onclick="CheckPaymentMode();">
                                <option Value="" selected>Select</option>
                                @*@foreach (var lstInstrment in new VoucherMaster_BLL().Get_Instrument())
                        {
                            <option value="@lstInstrment.InstrumentTypeID">@lstInstrment.Instrument</option>
                        }*@
                                <option selected Value="Q">Cheque</option>
                                <option Value="R">NEFT/RTGS</option>
                                <option Value="O">Other</option>
                            </select>

                        </div>
                        <div class="col-md-4 m-t cls_bankcash">
                            <label class="control-label">Cheque No.</label><span id="spn2" style="color: red">&nbsp; </span>
                            <input type="text" id="txtChequeNo" maxlength="6" class="form-control" placeholder="ChequeNo." />
                        </div>
                        <div class="col-md-12 m-t">
                            <button type="button" style="float:right" id="btnSelectChequeSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-allotedto_14" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="m-t m-l" >
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="radioPAN" value="P" name="radioInline" checked onclick="GetTabActive(this)">
                    <label id="pan" for="radioPAN"> Deduct PAN </label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="radioGST" value="G" name="radioInline" onclick="GetTabActive(this)">
                    <label id="gst" for="radioGST"> Deduct GST </label>
                </div>
                <div class="radio radio-info radio-inline">
                    <input type="radio" id="radioNOT" value="N" name="radioInline" onclick="GetTabActive(this)">
                    <label id="not" for="radioNOT"> Not Applicable / Not Available </label>
                </div>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div role="tabpanel" class="tab-pane " id="tab_PAN">
                    <div class="row m-t">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">TDS Section</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <select id="ddlPANTDSSection" class="form-control">
                                    <option selected value="">Select</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">TDS %</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtTDSPert" class="form-control" disabled placeholder="%" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Basic Amount</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtPANBasicAmt" class="form-control allownumericwithdecimal" disabled placeholder="Rs." />
                                <label class="control-label lblgrossamt" style="font-size:11px; font-style:italic">Gross:</label><span id="spn2" style="color: red">&nbsp;</span>
                            </div>
                            <div class="col-md-3">
                                @*<label class="control-label">PO Amount</label><span id="spn2" style="color: red">&nbsp; *</span>
                        <input type="text" id="txtPANPOAmt" disabled class="form-control allownumericwithdecimal" placeholder="Rs."  />*@
                                <div class="checkbox checkbox-danger checkbox-inline" style="margin-top:28px">
                                    <input type="checkbox" class="tt" id="chkpopangreater" disabled value="option1" name="product">
                                    <label for="chkpogreater" id="lblPANPOGreater" class="control-label" style="font-weight:bold"></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Tax Amount</label><span id="spn2" style="color: red">&nbsp; </span>
                                <input type="text" id="txtOtherPANTaxAmt" class="form-control allownumericwithdecimal" disabled placeholder="Rs." />
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-t">
                            <button type="button" style="float:right" id="btnPANSave" class="btn btn-primary pangstSave"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab_GST" style="display:none">
                    <div class="row m-t">
                        <div class="form-group">
                            <div class="col-md-2">
                                <label class="control-label">TDS Section</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <select id="ddlGSTTDSSection" class="form-control">
                                    <option selected value="">Select</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">CGST %</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtCGST" class="form-control" disabled placeholder="%" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">SGST %</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtSGST" class="form-control" disabled placeholder="%" />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">IGST %</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtIGST" class="form-control" disabled placeholder="%" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Basic Amount</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtGSTBasicAmt" disabled class="form-control allownumericwithdecimal" placeholder="Rs." onkeyup="Calculate_GSTTDS()" />
                                <label class="control-label lblgrossamt" style="font-size:11px; font-style:italic">Gross:</label><span id="spn2" style="color: red">&nbsp;</span><br />
                            </div>
                            <div class="col-md-3">
                                @*<label class="control-label">PO Amount</label><span id="spn2" style="color: red">&nbsp; *</span>
                        <input type="text" id="txtGSTPOAmt" disabled class="form-control allownumericwithdecimal" placeholder="Rs." onkeyup="Calculate_GSTTDS()" />*@
                                <div class="checkbox checkbox-danger checkbox-inline" style="margin-top:28px">
                                    <input type="checkbox" class="tt" id="chkpogstgreater" disabled value="option1" name="product">
                                    <label for="chkpogreater" id="lblGSTPOGreater" class="control-label" style="font-weight:bold"></label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">CGST Amount</label><span id="spn2" style="color: red">&nbsp; </span>
                                <input type="text" id="txtCGSTOtherAmt" class="form-control allownumericwithdecimal" disabled placeholder="Rs." />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">SGST Amount</label><span id="spn2" style="color: red">&nbsp; </span>
                                <input type="text" id="txtSGSTOtherAmt" class="form-control allownumericwithdecimal" disabled placeholder="Rs." />
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">IGST Amount</label><span id="spn2" style="color: red">&nbsp; </span>
                                <input type="text" id="txtIGSTOtherAmt" class="form-control allownumericwithdecimal" disabled placeholder="Rs." />
                            </div>
                            <div class="col-md-12 m-t">
                                <button type="button" style="float:right" id="btnGSTSave" class="btn btn-primary pangstSave"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab_NOT" style="display:none">
                    <div class="row m-t">
                        <div class="form-group">
                            <div class="col-md-12 m-t">
                                <button type="button" style="float:right" id="btnNOTSave" class="btn btn-primary pangstSave"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


    </div>
</div>

<div class="modal fade" id="dialog-subledger" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHeads">Select SubLedger</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:60%; height:auto">
                <div role="tabpanel" class="tab-pane " >
                    <div class="row m-t">
                        <div class="form-group">
                           
                           
                            <div class="col-md-12">
                                <label class="control-label">SubLedger Name</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtOptionSubLedger" class="form-control OptionSubLedger"  placeholder="SubLedger..." />
                                <input type="hidden" id="hdnOptionSubLedger" class="form-control"  />
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-payment-subledger" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHeads">Select SubLedger</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:60%; height:auto">
                <div role="tabpanel" class="tab-pane ">
                    <div class="row m-t">
                        <div class="form-group">


                            <div class="col-md-12">
                                <label class="control-label">SubLedger Name</label><span id="spn2" style="color: red">&nbsp; *</span>
                                <input type="text" id="txtPaymentOptionSubLedger" class="form-control PaymentOptionSubLedger" placeholder="SubLedger..." />
                                <input type="hidden" id="hdnPaymentOptionSubLedger" class="form-control" />
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }


    .search-table {
        table-layout: fixed;
    }

    .search-table, td, th {
        border-collapse: collapse;
    }

</style>

<script src="~/Scripts/AccJs/Bill Extract.js?V=1"></script>

