﻿@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.App_Codes;

@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 350px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>
<style>
    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }

</style>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<script src="~/Scripts/AccJs/BudgetDashboard.js?ver=1.1"></script>
<script src="~/Scripts/AccJs/BudgetMaster.js?ver=1.1"></script>
<script src="~/Scripts/AccJs/Concurrance.js?ver=1.1"></script>



<div class="wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="sidebar-close active"><a data-toggle="tab" href="#tab-1" onclick="Populate()"> Dashboard </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> Revise </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"> Financial Concurrance </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-4"> Print Section </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-5" > Create </a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="full-height-scroll">
                            <div class="panel-body">
                                <div>
                                    <div class="stage stage-default">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-md-2">
                                                    <label class="control-label">Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                    <select class="form-control" id="ddlDashBudgetType" onchange="Get_DashCondition()">
                                                        <option selected value="">Select</option>
                                                        <option value="L">Revenue Physical</option>
                                                        <option selected value="R">Revenue Finance</option>
                                                        <option value="P">Planned Transport</option>
                                                        <option value="T">Planned TOIP</option>
                                                        <option value="O">Fund from other department</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 clsCatSubCat">
                                                    <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                    <select class="form-control" id="ddlDashCategory" onchange="Populate()">
                                                        <option value="">Select</option>
                                                        <option  value="I">Receipt</option>
                                                        <option selected value="E">Payment</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 clsDashCatSubCat">
                                                    <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                    <select class="form-control" id="ddlDashSubCategory" onchange="Populate()">
                                                        <option selected value="">Select</option>
                                                        <option value="T">Traffic Revenue</option>
                                                        <option value="O">Others</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Search by Receipt Type</label><span id="spn3" style="color: red"></span>
                                                    <input type="text" id="txtDashReceiptType" name="txtDashReceiptType" class="form-control" placeholder="type receipt..">
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label">FinYear</label><span id="spn3" style="color: red"></span>
                                                    <select class="form-control" id="ddlDFinYear" onchange="Get_DashCondition()">
                                                        <option value="">FinYear</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-1"  style="padding-top:22px; ">
                                                    <button type="button" id="btnBack" class="btn btn-info" onclick="Back();"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="padding-right:4px"></span>Back</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t clsCon" style="display:none"  >
                                            <div class="col-md-2">
                                                <label class="control-label">Date</label><span id="spn3" style="color: red"></span>
                                                <input type="text" id="txtDashConEffectiveDate" name="txtDashConEffectiveDate" class="form-control" placeholder="DD/MM/YYYY">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">Concurrance No.</label><span id="spn3" style="color: red"></span>
                                                <input type="text" id="txtDashConReferanceNo" name="txtDashConReferanceNo"  disabled class="form-control" >
                                            </div>
                                            <div class="col-md-2">
                                                <label class="control-label">Amount</label><span id="spn3" style="color: red"></span>
                                                <input type="text" id="txtDashConBudgetAmt" name="txtDashConBudgetAmt" disabled class="form-control" placeholder="0.00" onkeyup="DashCheckLimit()">
                                                <span style="color:red; font-size:11px; display:@(ViewBag.FinancialLimit > 0 ? "" : "none")">Limit : &#x20b9; @ViewBag.FinancialLimit</span><br />
                                                <span class="msgDashLimitExceeded blink" style="display:none; color:red; font-size:11px;">Limit Exceeded.</span>
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label">Remarks</label><span id="spn3" style="color: red"></span>
                                                <input type="text" id="txtDashConRemarks" name="txtDashConRemarks" class="form-control" placeholder="Remarks">
                                                <span class="dvDashErrorMsg" style="display:none;">
                                                    <span colspan="5" style="text-align:center; color:red; font-family:Verdana;font-size:12px"><span id="dasherrorMsg"></span></span>
                                                </span>
                                            </div>
                                            <div class="col-md-1" style="padding-top:22px; ">
                                                <button type="button" id="btnDashConBudgetAdd" class="btn btn-primary" onclick="Add_DashSaveConDetail()">Add</button>
                                            </div>
                                            <input id="hdnDashConBudgetID" class="form-control" type="hidden" />
                                            <input id="hdnDashConBudgetCode" class="form-control" type="hidden" />
                                            <input id="hdnDashConBudgetAmount" class="form-control" type="hidden" />
                                            <input id="hdnDashConAmount" class="form-control" type="hidden" />
                                            <input id="hdnDashConBalAmount" class="form-control" type="hidden" />
                                            <input id="hdnDashConSlNo" class="form-control" type="hidden" />
                                            <input id="hdnDashFinancialLimit" class="form-control" type="hidden" value="@ViewBag.FinancialLimit" />
                                        </div>
                                        <div class="row m-t">
                                            <div id="myDash">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <table id="myDashboard" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                            <thead></thead>
                                                            <tbody></tbody>
                                                            <tfoot></tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">

                                        <div class="col-md-2">
                                            <label class="control-label" >Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlBudgetType" onchange="Get_Condition()">
                                                <option selected value="">Select</option>
                                                <option value="L">Revenue Physical</option>
                                                <option value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsCatSubCat">
                                            <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlCategory" onchange="Get_Particulars()">
                                                <option selected value="">Select</option>
                                                <option value="I">Receipt</option>
                                                <option value="E">Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsCatSubCat">
                                            <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlSubCategory" onchange="Get_Particulars()">
                                                <option selected value="">Select</option>
                                                <option value="T">Traffic Revenue</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label" >Search by Receipt Type</label><span id="spn3" style="color: red"></span>
                                            <input type="text" id="txtReceiptType" name="txtReceiptType" class="form-control" placeholder="type receipt.." >
                                        </div>
                                        <div class="col-md-2" >
                                            <label class="control-label">FinYear</label><span id="spn3" style="color: red"></span>
                                            <select class="form-control" id="ddlBFinYear" onchange="Get_Particulars();">
                                                <option value="">FinYear</option>
                                            </select>
                                            @*<input type="text" id="txtYearPerct" style="width:70px;" name="txtYearPerct" class="form-control allownumericwithdecimal" placeholder="%" >*@
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:right; padding-top:5px">

                                        <div class="form-group" style="padding-top:5px">
                                            <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                            <div id="myDiv">
                                                <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:66%">Particulars</th>
                                                            <th style="width:8%" >Actual Amount (<span class="lblBudCode"></span>)</th>
                                                            <th>Amount</th>
                                                            <th style="width:5%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlConBudgetType" onchange="Get_ConCondition()">
                                                <option selected value="">Select</option>
                                                <option value="L">Revenue Physical</option>
                                                <option value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsConCatSubCat">
                                            <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlConCategory" onchange="Get_ConParticulars()">
                                                <option selected value="">Select</option>
                                                <option value="I">Receipt</option>
                                                <option value="E">Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsConCatSubCat">
                                            <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlConSubCategory" onchange="Get_ConParticulars()">
                                                <option selected value="">Select</option>
                                                <option value="T">Traffic Revenue</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Search by Receipt Type</label><span id="spn3" style="color: red"></span>
                                            <input type="text" id="txtConReceiptType" name="txtConReceiptType" class="form-control" placeholder="type receipt..">
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">FinYear</label><span id="spn3" style="color: red"></span>
                                            <select class="form-control" id="ddlFFinYear" onchange="Get_ConParticulars()();">
                                                <option value="">FinYear</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:right; padding-top:5px">

                                        <div class="form-group" style="padding-top:5px">
                                            <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                            <div id="myDiv">
                                                <table id="myConTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:50%">Particulars</th>
                                                            <th style="width:8%">FC Status</th>
                                                            <th>Amount</th>
                                                            <th>FC</th>
                                                            <th>Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">FinYear</label><span id="spn3" style="color: red"></span>
                                            <select class="form-control" id="ddlPFinYear">
                                                <option value="">FinYear</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlPrintConBudgetType" >
                                                <option selected value="">Select</option>
                                                <option value="L">Revenue Physical</option>
                                                <option value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5" style="padding-top:23px">
                                            <button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="Print()"><span class="glyphicon glyphicon-print" aria-hidden="true" style="padding-right:4px"></span> Print</button>
                                            <button type="button" id="btnExcel" class="btn btn-success hidden-print" onclick="Excel()"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Excel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlCreateBudgetType" >
                                                <option selected value="">Select</option>
                                                <option value="L">Revenue Physical</option>
                                                <option value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                            <input type="hidden" id="txtHeadTabID" name="txtHeadTabID" class="form-control" />
                                            <input type="hidden" id="txtHeadTabIDName" name="txtHeadTabIDName" class="form-control" />
                                        </div>
                                        <div class="col-md-2 clsConCatSubCat">
                                            <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlCreateCategory" >
                                                <option selected value="">Select</option>
                                                <option value="I">Receipt</option>
                                                <option value="E">Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsConCatSubCat">
                                            <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlCreateSubCategory" >
                                                <option selected value="">Select</option>
                                                <option value="T">Traffic Revenue</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Head Name</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <input type="text" id="txtHeadName" name="txtHeadName" class="form-control" autocomplete="off" />
                                            @*<input type="hidden" id="hdnHeadID" name="hdnHeadID" class="form-control" autocomplete="off" />*@
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Effective From</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <input type="text" id="txtEffDate" name="txtEffDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t">
                                    <div class="form-group">
                                        
                                        <div class="col-md-2">
                                            <label class="control-label">Amount</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <input type="text" id="txtHeadAmount" name="txtHeadAmount" class="form-control allownumericwithdecimal" placeholder="0.00"  autocomplete="off" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Remarks</label><span id="spn2" style="color: red">&nbsp;</span>
                                            <input type="text" id="txtHeadRemark" name="txtHeadRemark" class="form-control" autocomplete="off" />
                                        </div>
                                        <div class="col-md-2" style='display:none;'>
                                            <label class="control-label">FinYear</label><span id="spn3" style="color: red"></span>
                                            <select class="form-control" id="ddlCFinYear">
                                                <option value="O">2020-2021</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" style="padding-top:22px;">
                                            <button type="button" id="btnHeadSave" class="btn btn-primary"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                            <button type="button" id="btnCopy" class="btn btn-primary" onclick="CopylastYeardata();" style="display:none;"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Copy data from last Year</button>
                                            <button type="button" id="btnHeadRefresh" class="btn btn-danger" onclick="HeadRefresh();"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t">
                                    <div id="myDash">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <table id="tblHead" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                    <thead>
                                                        @*<tr>
                                                            <th>Head Name</th>
                                                            <th>Effective Date</th>
                                                            <th>Budget Amount</th>
                                                            <th></th>
                                                        </tr>*@
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialog-Budgetdetail" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:80%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Budget Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">

                        <table id="tbl_BudgetDetail" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width:3%">Budget Amount</th>
                                    <th style="text-align:center; width:3%;">Effective Date</th>
                                    @*<th style="text-align:center; width:3%;">Fund Type</th>*@
                                    <th style="text-align:center; width:10%;">Remarks</th>
                                    <th style="text-align:center; width:1.5%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0">
                                    <td>
                                        <input id="txtBudgetAmt" placeholder="0.00" class="form-control allowminus" autofocus style="text-align:right"  />
                                        <input id="hdnBudgetID" class="form-control" type="hidden" />
                                        <input id="hdnBudgetCode" class="form-control" type="hidden" />
                                        <input id="hdnBudgetAmount" class="form-control" type="hidden" />
                                    </td>
                                    <td>
                                        <input id="txtEffectiveDate" class="form-control" placeholder="DD/MM/YYYY" />
                                    </td>
                                    @*<td>
                                        <select id="ddlFundType" class="form-control">
                                            <option value="">Select</option>
                                            @foreach (var lst in new BudgetMaster_BLL().Get_FundType())
                                            {
                                                if (lst.FundTypeID == 1)
                                                {
                                                <option selected value="@lst.FundTypeID">@lst.FundDescription</option>
                                                }
                                                else
                                                {
                                                <option value="@lst.FundTypeID">@lst.FundDescription</option>
                                                }
                                            }
                                        </select>
                                    </td>*@
                                    <td>
                                        <input id="txtRemarks" class="form-control" />
                                    </td>
                                    <td style="text-align:center">
                                        <button type="button" id="btnBudgetAdd" class="btn btn-primary" onclick="AddBudgetDetail()">Add</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row" style="padding-left:5px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnBudgetOK" class="btn btn-primary" >OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-ConBudgetdetail" role="dialog" style="height:100%"  data-backdrop="static" data-keyboard="false">  
    <div class="modal-dialog" style="width:80%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Concurrance Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px; width:100%">
                        <div class="col-md-12">
                            <table id="tbl_ConBudgetDetail" class="table table-hover table-bordered" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:3%;">Date</th>
                                        <th style="text-align:center; width:4%;">Concurrance No.</th>
                                        <th style="text-align:center; width:3%">Amount</th>
                                        <th style="text-align:center; width:10%;">Remarks</th>
                                        <th style="text-align:center; width:1.5%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="test_0">

                                        <td>
                                            <input id="txtConEffectiveDate" class="form-control" placeholder="DD/MM/YYYY" />
                                        </td>
                                        <td>
                                            <input id="txtConReferanceNo" disabled class="form-control" />
                                        </td>
                                        <td>
                                            <input id="txtConBudgetAmt" placeholder="0.00" class="form-control allownumericwithdecimal" autofocus style="text-align:right" onkeyup="CheckLimit()" />
                                            <span style="color:red; font-size:11px; display:@(ViewBag.FinancialLimit > 0 ? "" : "none")">Limit : &#x20b9; @ViewBag.FinancialLimit</span><br />
                                            <span class="msgLimitExceeded blink" style="display:none; color:red; font-size:11px;">Limit Exceeded.</span>

                                            <input id="hdnConBudgetID" class="form-control" type="hidden" />
                                            <input id="hdnConBudgetCode" class="form-control" type="hidden" />
                                            <input id="hdnConBudgetAmount" class="form-control" type="hidden" />
                                            <input id="hdnConAmount" class="form-control" type="hidden" />
                                            <input id="hdnConBalAmount" class="form-control" type="hidden" />
                                            <input id="hdnConSlNo" class="form-control" type="hidden" />
                                            <input id="hdnFinancialLimit" class="form-control" type="hidden" value="@ViewBag.FinancialLimit" />
                                        </td>

                                        <td>
                                            <input id="txtConRemarks" class="form-control" />
                                        </td>
                                        <td style="text-align:center">
                                            <button type="button" id="btnConBudgetAdd" class="btn btn-primary" >Add</button>
                                        </td>
                                    </tr>
                                    <tr class="dvErrorMsg" style="display:none;">
                                        <td colspan="5" style="text-align:center; color:red; font-family:Verdana;font-size:12px"><span id="errorMsg"></span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                            @*<div class="row" style="padding-left:5px">
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" id="btnConBudgetOK" class="btn btn-primary" onclick="ConSave()">OK</button>
                    </div>
                </div>
            </div>*@
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var trigger = $('#inventory'), overlay = $('.overlay'), sidebarClose = $('.sidebar-close'), isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });
        sidebarClose.click(function () {
            $('#wrapperss').removeClass('toggled');
            $('.wrapperss').removeClass('toggled');
        });

        function hamburger_cross() {

            if (isClosed == true) {
                isClosed = false;
            } else {
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapperss').toggleClass('toggled');

            $('.po').toggleClass('toggled');
        });
        $('[data-toggle="offcanvasBill"]').click(function () {
            $('.bill').toggleClass('toggled');
        });
        $('[data-toggle="offcanvasPayment"]').click(function () {
            $('.payment').toggleClass('toggled');
        });
        $('[data-toggle="offcanvasIndant"]').click(function () {
            $('.indant').toggleClass('toggled');
        });

    });
</script>