﻿@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "Cash Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/CashTransaction.js?1"></script>




            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox-content">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <label>Cash Transaction</label>
                                </div>

                                <input type="hidden" id="hdnPopulateJSON" value="@ViewBag.PopulateJSON" />
                                <input type="hidden" ID="hdnlblCurrBal" value="" />

                                <div class="panel-body">
                                    <form id="frmCC">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Transaction Type<span style="color:red">&nbsp; *</span></label>
                                                    <select id="ddlTransactionType" class="form-control" autofocus >
                                                        <option value="">Select</option>
                                                        <option selected value="4">Payment</option>
                                                        <option value="3">Received</option>
                                                        <option value="5">Contra</option>
                                                        <option value="6">Journal (Adj Sale)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Transaction Date<span style="color:red">&nbsp;*</span></label>
                                                    <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtTranDate" name="txtTranDate" autocomplete="off" value="" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Voucher No.<span style="color:red">&nbsp;</span></label>
                                                    <input type="text" class="form-control" placeholder="Search here..." id="txtVoucherNo" name="txtVoucherNo" autocomplete="off" />
                                                    <input type="hidden" ID="hdnVoucherNo" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="search-table-outter">

                                                        <table id="tblLedger" class="table table-striped table-bordered search-table inner">
                                                            <thead>
                                                                <tr>
                                                                    <th style=" text-align:center; width:10%"></th>
                                                                    <th style=" text-align:center;">Account Head</th>
                                                                    <th style=" text-align:center; width:12%">Amount</th>
                                                                    <th style=" text-align:center; width:4%"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="test_0">
                                                                    <td style=" width:10%"></td>
                                                                    <td>
                                                                        <input type="text" ID="lblAccDesc_0" Text="" style="width:100%" class="form-control" />
                                                                        <input type="hidden" ID="hdnlblAccCode" />
                                                                        <input type="hidden" ID="lblGlType" Value="" />
                                                                        <input type="hidden" ID="lblSlID" Value="" />
                                                                        <input type="hidden" ID="lblGlID" Value="" />
                                                                        <input type="hidden" ID="lblVoucherDetailID" Value="" />
                                                                        <div id="AutoComplete"></div>
                                                                        <input type="text" ID="lblSubAccDesc_0" Text="" style="display:none;" />
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtDebit_0" style="width: 100%; text-align: right; " value="" class="form-control allownumericwithdecimal" autocomplete="off" />
                                                                    </td>
                                                                    @*<td><div style="float:left; font-size:30px; cursor:pointer" class="glyphicon glyphicon-plus-sign" id="btnSubLedgerAdd" onclick="DebitKeyDown();"></div></td>*@
                                                                    <td>
                                                                        <button type="button" id="btnSubAdd" class="btn btn-warning" onclick="DebitKeyDown();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:center;"><label ID="lblNarration" class="control-label">Narration</label></td>
                                                                    <td id="grd_3"><input type="text" ID="txtNarrationval" class="form-control spcl" style="width:100%" autocomplete="off" /></td>
                                                                    <td><input id="txtTotalDebit" style="width: 125px; text-align: right; color: red; font-weight: bold; width:100%" class="form-control" type="text" value="0" disabled /></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="padding-top:25px; text-align:right">
                                                <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                <button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="Print_Voucher();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                                                <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" id="dialog-Instrument" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Instrument Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true"></button>  @*&times; USE THIS FOR CROSS SYMBOL TO CLOSE*@
            </div>

            <input type="hidden" ID="lblInstBillID" Value="" />

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tblInst" class="Grid tblInst">
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid; text-align:center; width:4%"></th>
                                        <th style="border: 1px solid; text-align:center; width:10%">Type</th>
                                        <th style="border: 1px solid; text-align:center; width:12%">Number</th>
                                        <th style="border: 1px solid; text-align:center; width:9%">Date</th>
                                        <th style="border: 1px solid; text-align:center; width:8%">Amount</th>
                                        <th style="border: 1px solid; text-align:center; width:20%">Drawee Bank/Branch/InFavour of</th>
                                        <th style="border: 1px solid; text-align:center; width:2%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td style="border: solid 1px black;">
                                            <select ID="ddlInstType" class="form-control" autofocus>
                                                <option Value="" selected>Select</option>
                                                @foreach (var lstInstrment in new VoucherMaster_BLL().Get_Instrument())
                                                {
                                                    <option value="@lstInstrment.InstrumentTypeID">@lstInstrment.Instrument</option>
                                                }
                                            </select>
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtInstNo" Style="text-transform: uppercase;" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtInstDate" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtInstAmount" Style="text-align: right;" class="form-control allownumericwithdecimal" />
                                        </td>
                                        <td style="border: solid 1px black;">
                                            <input type="text" ID="txtDBankBR" Style="text-transform: uppercase;" class="form-control" />
                                        </td>
                                        <td style="border: solid 1px black; text-align:center">
                                            <input type="button" ID="btnInstAdd" value="Add" class="btn btn-primary" />
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <input type="button" ID="btnInstOK" value="OK" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="width:67%; height:500px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label style="color:black" class="lblHead"></label>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>   @*&times;*@
                            </button>
                        </div>
                        <input type="hidden" ID="lblSLBillID" Value="" />
                        <div class="modal-body" style="width:100%; height:auto">
                            <div role="tabpanel">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab_journal">
                                        <table id="tbl_SubLedger" class="table table-hover table-bordered tblInst" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th style="width:70%"> SubLedger</th>
                                                    <th>Amount</th>
                                                    <th style="width:7%" class="cls_headerAdd"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="test_1">
                                                    <td>
                                                        <input type="text" ID="txtSubLedger" Text="" style="width:100%" class="form-control" autofocus />
                                                        <input type="hidden" ID="hdnSubLedgerCode" />
                                                    </td>
                                                    <td>
                                                        <input type="text" id="txtSubLedgerAmount" style="width: 100%; text-align: right; " value="" class="form-control allownumericwithdecimal" autocomplete="off" />
                                                    </td>
                                                    <td>
                                                        @*<div style="float:left; font-size:30px; cursor:pointer" class="glyphicon glyphicon-plus-sign" id="btnSubLedgerAdd"></div>*@
                                                        <button type="button" id="btnSubLedgerAdd" class="btn btn-warning" onclick="AddSubLedger(1);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:left">
                            <button type="button" style="float:right" id="btnSubLedgerFinal" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dialog-confirms" class="content-overlay" style="display: none;">
                <div class="loadwrapper">
                    <div class="ajax-loader-outers">
                        <div class="dialog-Header " style="height: 45px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
                        </div>
                        <div style="width:100%; " class="msg-body">
                            <label id="lblMSG" class="control-label" style="font-family:Verdana;"></label>
                        </div>
                        <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                            <input type="button" ID="btnConfYes" value="Yes" class="btn btn-success" />
                            <input type="button" ID="btnConfNo" value="No" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="dialog-Narration" class="content-overlay" style="display: none;">
                <div class="loadwrapper">
                    <div class="ajax-loader-outers">
                        <div class="dialog-Header " style="height: 45px; width: 100%; background-color: #8ac7c7; font-family:Verdana; text-align:right">
                        </div>
                        <div style="width:100%; " class="msg-body">
                            <textarea type="text" id="txtPopNarration" class="form-control" style="height:115px; width:540px; text-transform:uppercase;" placeholder="Enter Narration.."></textarea>
                        </div>
                        <div style="height: 30px; width: 100%; text-align:right; padding-right:10px; padding-top:2px; border-top:solid 1px #e0d8d8">
                            <input type="button" ID="btnNarrOK" value="OK" class="btn btn-success" />
                            <input type="button" ID="btnNarrCancel" value="Cancel" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .ui-autocomplete {
                    height: 300px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    /*border: 1px solid #cbc7c7;*/
                    font-size: 13px;
                    font-weight: normal;
                    color: #242424;
                    background: #fff;
                    -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
                    -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
                    box-shadow: inset 0.9px 1px 3px #e4e4e4;
                    /*width: 200px;*/
                    /*height:30px;*/
                    padding: 5px;
                    font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
                    margin: 3px 0;
                    z-index: 10000 !important;
                }


                .search-table {
                    table-layout: fixed;
                }

                .search-table, td, th {
                    border-collapse: collapse;
                }
            </style>

            <style>
                .content-overlay {
                    background-image: url('/Content/Images/overlay.png');
                    height: 100%;
                    left: 0;
                    position: fixed;
                    _position: absolute;
                    _height: 1020px;
                    top: 0;
                    width: 100%;
                    z-index: 2051 !important;
                    display: none;
                }

                .loadwrapper {
                    width: 960px;
                    margin: 0 auto;
                    position: relative;
                }

                .ajax-loader-outers {
                    background: #f3f3f3; /*url(../images/ajax-loader_new.gif) no-repeat 5px 5px*/
                    ;
                    margin: 100px auto 0 auto;
                    width: 560px;
                    border: 2px solid #d2d0d0;
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    padding: 0px 0 0px 0px;
                    font-size: 13px;
                    color: #000;
                    font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
                    height: 215px;
                }

                .dialog-Header {
                    border: 2px solid #e7e7e7;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                }

                .msg-body {
                    padding-top: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 130px;
                }
            </style>

