﻿
@{
    ViewBag.Title = "Checking";
}
<script src="~/Scripts/AccJs/checking.js"></script>
<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <table id="tbl" border="1" style="width:100%">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



