﻿
@{
    ViewBag.Title = "ClaimingReimbursement";
}

<script src="~/Scripts/AccJs/ClaimBudgetMapping.js"></script>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Claim Reimbursement Mapping</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="myDiv">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Description</th>
                                                        <th>Sub Details</th>
                                                        <th width="35%">Budget Head</th>
                                                        <th>Account Head</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl" class="table table-hover table-bordered tblInst">
                                <thead><tr><th>Ledger Name</th><th></th></tr></thead>
                                <tbody>
                                    <tr class="test_0">
                                        <td>
                                            <input type="text" id="txtEfftGL" class="form-control" />
                                            <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                        </td>
                                        <td style="text-align:center; width:10%">
                                            <button type="button" id="btnEffectAdd" class="btn btn-success" onclick="EffectAdd();"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>