﻿
@{
    ViewBag.Title = "ClaimingReimbursement";
}
@Styles.Render("~/Content/overlay")
<script src="~/Scripts/AppJs/autoAjaxLoader.js"></script>
<script src="~/Scripts/AccJs/ClaimReimbursement.js"></script>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Reimbursement Claim</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Month (in which Reim Claimed)<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" id="txtClaimMonth" name="txtClaimMonth" placeholder="DD/YYYY" autocomplete="off"  />
                                        <input type="hidden" class="form-control" id="hdnTabID" name="hdnTabID"  />
                                        <input type="hidden" class="form-control" id="hdnMemoNo" name="hdnMemoNo"  />
                                        <input type="hidden" class="form-control" id="hdnSubDetailID" name="hdnSubDetailID" />
										 <input type="hidden" class="form-control" id="hdnStatus" name="hdnStatus" />
										   <input type="hidden" class="form-control" id="hdnClaimID" name="hdnClaimID" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Imprest Limit Sanctioned last Month<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtSanctionAmt" name="txtSanctionAmt" placeholder="0.00" autocomplete="off"  />
                                    </div>
                                </div>
                            
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="dtFrom">Opening Imprest Balance<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal"  id="txtOpeningBal" name="txtOpeningBal" placeholder="0.00" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="dtFrom">Reimbursement Received last Month<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtReimBal" name="txtReimBal" placeholder="0.00" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="dtFrom">Expenditure Incurred last Month<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" disabled class="form-control allownumericwithdecimal" id="txtExpIncurred" name="txtExpIncurred" placeholder="0.00" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="dtFrom">Exp. Incurred out of Sale last Month<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtExpIncurredoutsale" name="txtExpIncurredoutsale" placeholder="0.00" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Effective KM.<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtEffKm" name="txtEffKm" autocomplete="off" placeholder="0.00" onkeyup="Calculate_Effective();" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Earning/KM.<span style="color:red">&nbsp;</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtEffPerKm" name="txtEffPerKm" placeholder="0.00" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Cost/KM.<span style="color:red">&nbsp;</span></label>
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtCostPerKm" name="txtCostPerKm" placeholder="0.00" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable1" width="100%">
                                            <thead>
                                                <tr>
                                                    <td colspan='2' style='font-weight:bold'>Expenditure Incurred Against which Reimbursement Claimed for the Month :</td>
                                                    <td><input type='text' class='form-control ' id='txtAgainstClaimMonth' name='txtAgainstClaimMonth' autocomplete='off' placeholder='DD/YYYY' /></td>
                                                    <td style='text-align:center'>
                                                        <button type='button' id='btnGenerate' class='btn btn-success hidden-print'><span class='glyphicon glyphicon-download' aria-hidden='true'></span> Generate</button>
                                                    </td>
                                                    <td style='text-align:center'>
                                                        <button type='button' id='btnEdit' class='btn btn-success hidden-print' onclick='EditGrid()'><span class='glyphicon glyphicon-edit' aria-hidden='true'></span> Edit Detail</button>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                        <span class="clsHead" style="font-weight:bold; color:cornflowerblue; font-size:15px"></span>
                                        <div id="myDiv" >
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Description</th>
                                                        <th>Sub Details</th>
                                                        <th>Amount of Revenue(Total)</th>
                                                        <th>Remarks</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="row m-t">
                                <div class="form-group">
                                    <div class="col-md-12" style="text-align:right">
                                        <button type="button" id="btnSave" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                        <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:70%; height:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblHead"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl_edit" width="100%">
                                <thead>
                                    <tr>
                                        <th>MemoNo.</th>
                                        <th>Memo Date</th>
                                        <th>Claim Month</th>
 <th>TabId</th>                                       
									   <th>Income</th>
                                        <th>Expense</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Print</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>