﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "GSTReport";
}
<script src="~/Scripts/AccJs/GSTReport.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>GST Report</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">From Date<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtFromDate" name="txtFromDate" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">To Date<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="DD/MM/YYYY" id="txtToDate" name="txtToDate" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Report Name<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlReportName" class="form-control">
                                            <option selected value="">Select</option>
                                            @if (SessionContext.IsAuthenticated)
                                            {
                                                foreach (var vchtype in (new TrailBalance_BLL().Get_GSTReport()))
                                                {
                                                    <option value="@vchtype.SectorID">@vchtype.SectorName </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-top:22px">
                                    <button type="button" id="btnExcel" class="btn btn-success hidden-print" onclick="Excel()"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Excel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

