﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.App_Codes.BLL.Account;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/bootstrap-treeview.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/Scrollbar.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap-treeview.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/AccJs/AccountMaster.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
                <div class="ibox-content">
                    <div class="row">
                        <form form-inline" id="Acheadtree">
                           
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <label>Accounts Master</label>
                                    </div>
                                    <input type="hidden" ID="hdnfor" Value="account" />
                                    <input type="hidden" ID="hdnAccountSearchID" Value="" />
                                    <input type="hidden" value="AccountMasterPage" class="pageName" />
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-md-6 scrollbar" style="margin-top:2px;  height:700px; width:40%;">
                                                <div id="tree">
                                                    <ul id="root"></ul>
                                                </div>
                                                 <input type="text" class="form-control" id="input-search" placeholder="Type to search..." value="">
                                                @*<input type="text" class="form-control" id="txtAccountSearch" placeholder="Type to search..." value="">*@
                                                <div id="treeview"></div>
                                            </div>

                                            <div class="col-md-8" style="margin-top:2px;  height:800px; width:60%">

                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="txtacAuto" id="txtacAuto" placeholder="for Search...">
                                                    <input type="hidden" ID="hdnAccountSearchID" Value="" />
                                                    <div id="AutoComplete-ParentMenu"></div>
                                                </div>

                                               
                                                    <div class="row">
                                                        <div class="col-md-12" style="padding-bottom:10px; "> @*background-color:lightgrey;*@

                                                            <span id="panel-1">
                                                                <div class="radio radio-info radio-inline">
                                                                    <input type="radio" id="radiogroup" value="Group" name="radioInline" disabled  onclick="Blank_Auto()">
                                                                    <label for="radiogroup"> Group </label>
                                                                </div>
                                                             </span>

                                                            <span id="panel-2" style="margin-left:-18px">
                                                                <div class="radio-inline">
                                                                    <div class="radio radio-info radio-inline">
                                                                        <input type="radio" id="radioMajor" value="Group" name="radioInline" disabled onclick="Blank_Auto()">
                                                                        <label for="radioMajor"> Major </label>
                                                                    </div>
                                                                    <div class="radio radio-info radio-inline">
                                                                        <input type="radio" id="radionMinor" value="Ledger" name="radioInline" disabled onclick="Blank_Auto()">
                                                                        <label for="radionMinor"> Minor </label>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </span>
                                                       
                                                        <span id="panel-3"  style="padding-left:8px">
                                                            <div class="radio radio-info radio-inline">
                                                                <input type="radio" id="radionLedger" value="Group" name="radioInline" disabled onclick="Blank_Auto()">
                                                                <label for="radionLedger"> Ledger </label>
                                                            </div>
                                                        </span>
                                                         </div>
                                                    </div>
                                             


                                                <div style="padding-top:2px; ">
                                                    <h3 style="color:cadetblue; font-weight:bold; font-style:italic;">Account Details</h3>

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label for="ActionText">Parent Account Description :</label>
                                                                <input type="text" class="form-control" id="txtparent" name="txtparent" placeholder="Parent" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row m-t">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label for="ActionText">Account Description :</label>
                                                                <input type="text" class="form-control" id="txtacdesc" name="txtacdesc" placeholder="Parent/Child" required>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row m-t">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label for="ActionText">Account Code :</label>
                                                                <input type="text" class="form-control" id="txtachead" placeholder="Account Head">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row m-t">
                                                        <div class="form-group">

                                                            <div class="col-md-3">
                                                                <label>Specific Unit</label>
                                                                <select id="ddlunit" class="form-control"></select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>Active/Inactive</label>
                                                                <select id="ddlActive" class="form-control">
                                                                    <option selected value="A">Active</option>
                                                                    <option value="I">InActive</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label>AllowNegative</label>
                                                                <select id="ddlAllowNegative" class="form-control">
                                                                    <option  value="Y">Yes</option>
                                                                    <option selected value="N">No</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-5" style="padding-top:24px">
                                                                <div class="checkbox checkbox-info checkbox-inline">
                                                                    <input type="checkbox" class="tt" id="chkbank" value="option1"  name="product" >
                                                                    <label for="chkbank"> Bank </label>
                                                                </div>
                                                                <div class="checkbox checkbox-info checkbox-inline">
                                                                    <input type="checkbox" class="tt" id="chkcash" value="option1" name="product">
                                                                    <label for="chkcash"> Cash </label>
                                                                </div>
                                                                <div class="checkbox checkbox-info checkbox-inline">
                                                                    <input type="checkbox" class="tt" id="chkIsSubLedger" name="product" value="option2" >
                                                                    <label for="chkIsSubLedger"> Having SubLedger </label>
                                                                </div>
                                                                @*<div class="checkbox checkbox-info checkbox-inline">
                                                                    <input type="checkbox" class="tt" id="chkAllowNegative" name="product" value="option2">
                                                                    <label for="chkAllowNegative"> Allow Negative </label>
                                                                </div>*@
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="row m-t">

                                                        <div class="col-md-6">
                                                            <label for="">Schedule:</label>
                                                            <input type="text" class="form-control" id="txtschedule" placeholder="Schedule" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for="">PL Direct/Indirect:</label>
                                                            <select id="ddlPL" class="form-control">
                                                                <option value="0">--Select--</option>
                                                                <option value="D">Direct</option>
                                                                <option value="I">Indirect</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div style="padding-top:2px;" class="m-t">
                                                    <h3 style="color:cadetblue; font-weight:bold; font-style:italic;">Bank Details</h3>

                                                    <div class="row m-t">
                                                        <div class="form-group">

                                                            <div class="col-md-6">
                                                                <div>
                                                                    <label>IFSC:</label><span id="spn1" style="color:red"> </span>
                                                                    <input type="text" class="form-control" id="txtIFSC" name="txtIFSC" onkeyup="app.BlankIFSCCode()" />
                                                                    <input type="hidden" ID="hdnIFSC" />
                                                                </div>
                                                                @*<div style="width:20%; float:right; padding:28px 0 0 10px; cursor:pointer; ">
                                                                    <span class="glyphicon glyphicon-search" id="spn_IFSC" aria-hidden="true" style="font-size:20px" onclick="app.DetailbyIFSC()"></span>
                                                                </div>*@
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Account No:</label><span id="spn1" style="color:red"> </span>
                                                                <input type="text" class="form-control allownumericwithdecimal" id="txtacno" name="txtacno" autocomplete="off" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row m-t">
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <label for="exampleSelect1">Bank Name</label>
                                                                @*<select class="form-control" id="ddlbank"></select>*@
                                                                <input type="text" class="form-control" id="txtbank"  />
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="exampleSelect1">Branch Name</label>
                                                                @*<select class="form-control" id="ddlbranch"></select>*@
                                                                <input type="text" class="form-control" id="txtbranch"  />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row m-t">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label>MICR:</label>
                                                                <input type="text" class="form-control" id="txtMICR"  />
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label>Account Type:</label>
                                                                <select class="form-control" id="ddlaccounttype" name="ddlaccounttype">
                                                                    <option value="0">Select</option>
                                                                    <option value="1">Saving</option>
                                                                    <option value="2">Current</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top:23px; float:right">
                                                                <button type="button" id="btnsubmit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                                <button type="button" id="btncancel" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                        </div>
                                    </div>
                                </div>
                           
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>


<div id="contextMenu" class="dropdown clearfix" for-data="right">

    @*<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px; cursor:pointer; background-color:lightblue">
        <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
        <div style="float:left; width:85%;" acc-sub="A" class="lnkAdd"><span style="padding-left:10px">Add</span></div>

        <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
        <div style="float:left; width:85%;" acc-sub="A" class="lnkDelete"><span style="padding-left:10px">Delete</span></div>
    </div>*@

    <div id="simple" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px; cursor:pointer; background-color:#24c6c8; ">
        <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
        <div style="float:left; width:85%;" acc-sub="A" acc-gl="G" class="lnkAdd"><span style="padding-left:10px">Add Group</span></div>

        <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
        <div style="float:left; width:85%;" acc-sub="A" acc-gl="L" class="lnkAdd"><span style="padding-left:10px">Add Ledger</span></div>

        <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
        <div style="float:left; width:85%;" acc-sub="A" class="lnkDelete"><span style="padding-left:10px">Delete</span></div>
    </div>

</div>

<div id="contextMenuMND" class="dropdown clearfix">

       <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px; cursor:pointer; background-color:#24c6c8;">
            <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
            <div style="float:left; width:85%;" acc-sub="A" acc-gl="O" class="lnkAdd"><span style="padding-left:10px">Add</span></div>

            <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
            <div style="float:left; width:85%;" acc-sub="A" acc-gl="O" class="lnkDelete"><span style="padding-left:10px">Delete</span></div>
        </div>

</div>


<style>
    #contextMenu, #contextMenuMND {
        position: absolute;
        display: none;
    }
    .lnkAdd:hover, .lnkDelete:hover
    {
        color:red;
    }

   .ui-autocomplete
        {
            height: 200px;
            overflow-y: scroll;
            /*overflow-x: hidden;*/
            /*border: 1px solid #cbc7c7;*/
            font-size: 13px;
            font-weight: normal;
            color: #242424;
            background: #fff;
            -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
            -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
            box-shadow: inset 0.9px 1px 3px #e4e4e4;
            width: 350px;
            padding: 5px;
            font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
            margin: 3px 0;
            z-index:10000 !important;
        } 

</style>



