﻿
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" />

<script src="~/Scripts/plugins/ladda/spin.min.js"></script>
<script src="~/Scripts/plugins/ladda/ladda.min.js"></script>
<script src="~/Scripts/plugins/ladda/ladda.jquery.min.js"></script>
<script src="~/Scripts/AccJs/Inventory.js?v4"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    @*<div class="panel-heading">*@
                        @*<label>Inventory Consumes</label>*@
                        <div style="background-color:#acdef6; height:43px; padding-top:6px">
                            <div style="float:left; padding-left:5px; padding-top:5px"><label>Inventory Consumes</label></div>
                            <div style="float:right; padding-right:5px; padding-top:6px; display:none" class="vchNo">
                                <span> <label>Voucher No. : </label> &nbsp; </span><label class="clsVchNo" vchno="" style="cursor:pointer; color:#272456" ></label>
                            </div>
                        </div>
                    @*</div>*@
                    <div class="panel-body">
                        <form id="frmInv">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label for="dtFrom">Stock Date:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="MM YYYY" id="dtStockDate" name="dtStockDate" />
                                    </div>
                                    <div class="col-md-1" style="padding-top:22px">
                                            <button type="button" id="btnsearch" class="ladda-button btn btn-primary" data-style="expand-right"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px"></span>Fetch</button>
                                    </div>

                                    <div class="col-md-4 detail">
                                        <div class="form-group">
                                            <label for="Inventory Description">Inventory Description:<span style="color:red">&nbsp;*</span></label>
                                            <input type="text" id="txtAccountDesc" name="txtAccountDesc" class="form-control" />
                                            <input type="hidden" class="form-control" id="hdnAuto" name="hdnAuto" />
                                            <input type="hidden" class="form-control" id="hdnPAuto" name="hdnPAuto" />
                                            <input type="hidden" class="form-control" id="hdnMTabID" name="hdnMTabID" />
                                            <input type="hidden" class="form-control" id="hdnTabID" name="hdnTabID" />
                                        </div>
                                    </div>

                                    <div class="col-md-2 detail">
                                        <div class="form-group">
                                            <label for="Amount">Amount:<span style="color:red">*</span></label>
                                            <input type="text" id="txtAmount" name="txtAmount" class="form-control allownumericwithdecimal" />
                                        </div>
                                    </div>

                                    <div class="col-md-3 " style="margin-top:22px;">
                                        <div class="form-group">
                                            <button type="button" id="btnAdd" data-attrval="A" value="Add" class="btn btn-success detail" ><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                            <button type="button" id="btnPost" data-attrval="B" value="Post" class="btn btn-warning clsbtn" style="display:none"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span><span class="lblPost">Post</span></button>
                                            <button type="button" id="btnRefresh" class="btn btn-danger clsbtn" style="display:none"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px; "></span>Refresh</button>
                                            <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-t">
                                <div class="col-md-12">
                                    <table class="table table-bordered" id="tbl">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



