﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "LedgerMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/app/select2.full.min.js"></script>
<script src="~/Scripts/AccJs/LedgerMaster.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @*<div class="ibox-content">*@
                <div class="row">
                    <div class="panel panel-info">
                        <div style="background-color:#acdef6; height:43px; padding-top:6px">
                            <div style="float:left; padding-left:5px; padding-top:5px"><label>General Ledger</label></div>
                            <div style="float:right; padding-right:5px">

                                <div class="radio radio-warning radio-inline">
                                    <input type="radio" id="radioGL" value="GL" name="radioInline" checked>
                                    <label id="gl" for="radioGL"> GL </label>
                                </div>
                                <div class="radio radio-warning radio-inline" style="padding-right:20px">
                                    <input type="radio" id="radioSL" value="SL" name="radioInline">
                                    <label id="sl" for="radioSL"> SL </label>
                                </div>

                                <div class="radio radio-danger radio-inline" style="display:none;">
                                    <input type="radio" id="radioUV" value="I" name="radioInlinee">
                                    <label id="uv" for="radioUV"> Include UnPaid Voucher </label>
                                </div>

                                @*<a id="btnPrintLedger" class="btn btn-primary">Pdf</a>*@
                                <button type="button" id="btnPrintLedger" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> PDF</button>
                            <button type="button" id="btnExcelLedger" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Excel</button>
						   </div>
                        </div>


                        <input type="hidden" id="hdnAccountCode" />
                        <input type="hidden" id="hdnAccountDesc" />
                        <input type="hidden" id="hdnAccountHidden" />
						<input type="hidden" id="hdnGroupLedger" />


                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-3">
                                        <label class="control-label" >General Ledger From</label><span id="spn2" style="color: red">&nbsp;*</span>
                                        <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off"  />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" >To Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                        <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off" >
                                    </div>
                                    <div class="col-md-6" id="pnl_SubLedger" style="display:none">
                                        <label class="control-label" >Ledger</label><span id="spn3" style="color: red">&nbsp;*</span>
                                        <input type="text" id="txtSubLedger" name="txtSubLedger" class="form-control" placeholder="Ledger">
                                        <input type="hidden" id="hdnSubLedger" name="hdnSubLedger" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="row m-t">
                                <div class="form-group">
                                    <div class="col-md-12 lstSector">
                                        <select class="select2_demo_2 form-control" id="lstSector" multiple="multiple" style="width:100% !important">
                                            <option value="0">All</option>
                                            @if (SessionContext.IsAuthenticated)
                                            {
                                                foreach (var vchtype in (new TrailBalance_BLL().Get_UserWiseSector(SessionContext.SessionData.UserID)))
                                                {
                                                    <option value="@vchtype.SectorID">@vchtype.SectorName </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top:5px">
                                <div class="col-md-12">
                                    <input type="text" id="txtSearchSubLedger" name="txtSearchSubLedger" class="form-control" placeholder="Ledger" />
                                    <input type="hidden" id="hdnSearchSubLedger" name="txtSearchSubLedger" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align:right; padding-top:5px">

                                    <div class="form-group" style="padding-top:5px">
                                        <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                        <div id="myDiv">
                                            <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                <thead></thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>

                                        <div id="myDivOpt" style="display:none;">
                                            <table id="myTable" class="table table-hover table-bordered" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%;  margin-top:30px">
                                                <thead>
                                                    <tr>
                                                        <td style="width:50%; font-weight:bold; font-family:Verdana">Cash Denomination</td>
                                                        <td style="width:50%; text-align:right; font-weight:bold; font-family:Verdana">Physically Checked and Verified</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 10px">2000 x </td>

                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">500 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">200 x </td>
                                                        <td style="width:30%; text-align:right; font-weight:bold; font-family:Verdana">DGM (Finance)</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">100 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">50 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">20 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">10 x </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:50%; padding-top: 5px">Coins </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            @*</div>*@
        </div>
    </div>
</div>

<style>
    .My_Header{
       border: 1px solid; text-align:center;
       
    }
</style>

<script>
    $(".select2_demo_2").select2({
        placeholder: "Select Sector",
        allowClear: true
    });

</script>

<style>
    .ui-autocomplete {
        height: 200px;
        width:300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 350px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

</style>


