﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "PaperTktRequisition";
}

<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/PaperTktRequisition.js"></script>

<input type="hidden" class="form-control" id="hdnPaperTktID" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Paper Ticket Requisition</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Requisition Date</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control" id="txtRequisitionDate" placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label>Sector To</label><span id="spn1" style="color:red">*</span>
                                <select id="ddlSectorto" class="form-control">
                                    <option>Select</option>
                                    @if (SessionContext.IsAuthenticated)
                                    {
                                        foreach (var vchtype in (new TrailBalance_BLL().Get_Sector()))
                                        {
                                            <option value="@vchtype.SectorID">@vchtype.SectorName </option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-md-5">
                                <label>Remarks</label><span id="spn1" style="color:red"></span>
                                <input type="text" class="form-control" id="txtRemarks" autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <label style="color:brown">Search by Requisition No.</label><span id="spn1" style="color:red"></span>
                                <input type="text" class="form-control" id="txtReqNo" placeholder="Search by Req. No." autocomplete="off" />
                                <input type="hidden" class="form-control" id="hdnRequisitionID" />
                            </div>
                           
                        </div>
                        <div class="row m-t">
                            <div class="form-group">
                                <div class="col-md-9">
                                    <table id="tbl" class="table table-hover table-bordered tblInst">
                                        <thead><tr><th>Denomination</th><th>Qty</th><th>Up/Down</th><th></th></tr></thead>
                                        <tbody>
                                            <tr class="test_0">
                                                <td style="width:15%">
                                                    <input type="text" id="txtDenomination" class="form-control denomination" />
                                                    <input type="hidden" class="form-control" id="hdnDenominationID" />
                                                </td>
                                                <td><input type="text" id="txtQty" class="form-control allownumericwithdecimal" /></td>
                                                <td style="text-align:center; width:15%">
                                                    <select class="form-control" id="ddlUpDown">
                                                        <option value="">Select</option>
                                                        <option value="U">Up</option>
                                                        <option value="D">Down</option>
                                                    </select>
                                                </td>
                                                <td style="text-align:center; width:10%">
                                                    <button type="button" id="btnReqAdd" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                                    <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="text-align:right">
                                        <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                        <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-12">
                                <div class="form-group" style="padding-top:25px; text-align:right">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Requisition No.</th>
                                                <th>Requisition Date</th>
                                                <th>Requisition Remarks</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .ui-autocomplete {
        /*height: 300px;*/
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }
</style>

