﻿
@{
    ViewBag.Title = "PaperTktReceived";
}

<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/PaperTktReceived.js"></script>

<input type="hidden" class="form-control" id="hdnIssueID" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Paper Ticket Receive</label>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="display:none">
                            <div class="col-md-2">
                                <label>Receive Date</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control" id="txtReceiveDate"  placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>
                            <div class="col-md-10">
                                <label>Remarks</label><span id="spn1" style="color:red"> </span>
                                <input type="text" class="form-control" id="txtRemarks" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row m-t">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>TktIssueNo</th>
                                                <th>TktIssueDt</th>
                                                <th>Remarks</th>
                                                <th>Receive Date</th>
                                                <th>Receive Remarks</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="padding-top:25px; text-align:right">
                                    <button type="button" id="btnSave" class="btn btn-primary" style="display:none;"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                    <button type="button" id="btnEdit" class="btn btn-success" ><span class="glyphicon glyphicon-edit" aria-hidden="true" style="padding-right:4px"></span>Edit</button>
                                    <button type="button" id="btnRefresh" class="btn btn-danger" style="display:none;"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Issue Details</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">
                        <div class="col-md-12">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="detail" width="100%">
                                <thead>
                                    <tr>
                                        <th>TktIssueNo</th>
                                        <th>TktIssueDt</th>
                                        <th>Remarks</th>
                                        <th>Receive Date</th>
                                        <th>Receive Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }
</style>

