﻿

@{
    ViewBag.Title = "PaperTktRequisition";
}

<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/PaperTktIssue.js"></script>

<input type="hidden" class="form-control" id="hdnIssueID" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Paper Ticket Issue</label>
                    </div>
                    <div class="panel-body">

                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="tab1"><a data-toggle="tab" href="#tab-1" onclick="HideBack()"> Paper Ticket Issue </a></li>
                                <li class="tab2"><a data-toggle="tab" href="#tab-2" onclick="PendingReq()"> Pending Requisition </a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Issue Date</label><span id="spn1" style="color:red"> *</span>
                                                    <input type="text" class="form-control" id="txtIssueDate" placeholder="DD/MM/YYYY" autocomplete="off" />
                                                </div>

                                                <div class="col-md-2">
                                                    <label>Issue Type</label><span id="spn1" style="color:red">*</span>
                                                    <select id="ddlIssueType" class="form-control" onchange="BlankIssueTo()">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Issue To</label><span id="spn1" style="color:red"> *</span>
                                                    <input type="text" class="form-control" id="txtIssueTo" autocomplete="off" />
                                                    <input type="hidden" class="form-control" id="hdnIssueTo" autocomplete="off" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Referance No.</label><span id="spn1" style="color:red"> *</span>
                                                    <input type="text" class="form-control allownumericwithdecimal" id="txtReferanceNo" autocomplete="off" />
                                                    <input type="hidden" class="form-control" id="hdnReferanceNo" autocomplete="off" />
                                                </div>
                                                <div class="col-md-12 m-t">
                                                    <label>Remarks</label><span id="spn1" style="color:red"> </span>
                                                    <input type="text" class="form-control" id="txtRemarks" autocomplete="off" />
                                                </div>
                                            </div>

                                            <div class="row m-t">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <table id="tbl" class="table table-hover table-bordered tblInst">
                                                            <thead><tr><th>Denomination</th><th>UP/DN</th><th>Ticket Series</th><th>Ticket From</th><th>Ticket To</th><th></th></tr></thead>
                                                            <tbody>
                                                                <tr class="test_0">
                                                                    <td>
                                                                        <input type="text" id="txtDenomination" class="form-control" />
                                                                        <input type="hidden" class="form-control" id="hdnDenominationID" />
                                                                    </td>
                                                                    <td>
                                                                            <select class="form-control" id="ddlUpDn">
                                                                                <option value="U">UP</option>
                                                                                <option value="D">DN</option>
                                                                            </select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" id="txtTicketSeries" class="form-control" />
                                                                        <input type="hidden" class="form-control" id="hdnTicketSeries" />
                                                                    </td>
                                                                    <td><input type="text" id="txtTicketFrom" class="form-control allownumericwithdecimal" /></td>
                                                                    <td><input type="text" id="txtTicketTo" class="form-control allownumericwithdecimal" /></td>
                                                                    <td style="text-align:center; width:10%">
                                                                        <button type="button" id="btnIssueAdd" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group" style="padding-top:25px; text-align:right">
                                                        <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                        <button type="button" id="btnEdit" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true" style="padding-right:4px"></span>Edit</button>
                                                        <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="full-height-scroll">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group" style="padding-left:5px; padding-right:5px">
                                                    <div class="col-md-12">
                                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="pendingreq" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sector Name</th>
                                                                    <th>Requisition Date</th>
                                                                    <th>Requisition No.</th>
                                                                    <th>Requisition Remarks</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:70%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Transaction Details</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">
                        <div class="col-md-12">
                            @*<label>Issue No.</label><span id="spn1" style="color:red"> </span>
                            <input type="text" class="form-control" id="txtSearchIssueNo" autocomplete="off" />*@
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                <thead>
                                    <tr>
                                        <th>Transaction No.</th>
                                        <th>Transaction Date</th>
                                        <th>Transaction Type</th>
                                        <th>From To</th>
                                        <th>Referance No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog_req" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:70%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Requisition Details</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px; ">
                        <div class="col-md-12">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl" width="100%">
                                <thead>
                                    <tr>
                                        <th>Denomination</th>
                                        <th>UP/DN</th>
                                        <th>Requisition Qty</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }
</style>

