﻿
@{
    ViewBag.Title = "PaperTkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/PaperTkt.js"></script>

<input type="hidden" class="form-control" id="hdnPaperTktID" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Paper Ticket</label>
                    </div>
                  
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Trans Type</label><span id="spn1" style="color:red">*</span>
                                <select class="form-control" id="ddlTransType">
                                    <option value="">Select</option>
                                    <option  value="N">New</option>
                                    <option selected value="O">Opening</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Trans Date</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control" id="txtTransDate" placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label>Denomination</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control" id="txtDenomination" placeholder="--Type here--" autocomplete="off" />
                                <input type="hidden" class="form-control" id="hdnDenominationID" />
                            </div>
                            <div class="col-md-1">
                                <label>UP/DN</label><span id="spn1" style="color:red">*</span>
                                <select class="form-control" id="ddlUpDn">
                                    <option value="U">UP</option>
                                    <option value="D">DN</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label>Series</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control" style="text-transform:uppercase" id="txtSeries" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label>Ticket From</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control allownumericwithdecimal" id="txtTktFrom" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label>Ticket To</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control allownumericwithdecimal" id="txtTktTo" autocomplete="off" />
                            </div>

                        </div>
                        <br />
                        <div class="row">
                           
                            <div class="col-md-7">
                                <label>Remarks</label><span id="spn1" style="color:red"> </span>
                                <textarea rows="2" class="form-control" id="txtRemarks" autocomplete="off" ></textarea>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="padding-top:25px; text-align:right">
                                    <button type="button" id="btnSave" class="btn btn-primary" onclick="Final_Save()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                    <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Denomination</th>
                                                <th>UP/DN</th>
                                                <th>Series</th>
                                                <th>SrlNo From</th>
                                                <th>SrlNo To</th>
                                                <th>Trans Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Ticket Detail</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="detail" width="100%">
                            <thead>
                                <tr>
                                    <th>SlNo.</th>
                                    <th>Ticket No</th>
                                    <th>Denomination Amt</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }
</style>


