﻿
@{
    ViewBag.Title = "PaperTkt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
@*<script src="~/Scripts/AccJs/PaperTktReport.js"></script>*@

<input type="hidden" class="form-control" id="hdnPaperTktID" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Paper Ticket Report</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Trans Type</label><span id="spn1" style="color:red"> *</span>
                                <select class="form-control" id="ddlTransType">
                                    <option selected value="L">All</option>
                                    @*<option  value="N">New</option>
                                    <option value="O">Opening</option>*@
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Trans Date</label><span id="spn1" style="color:red"> *</span>
                                <input type="text" class="form-control" id="txtTransDate" placeholder="DD/MM/YYYY" autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="padding-top:23px; text-align:right">
                                    <button type="button" id="btnPrintLedger" class="btn btn-success hidden-print" onclick="Print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                                    <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        TransDate();
    });

    function TransDate() {
        $('#txtTransDate').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            closeText: 'X',
            showAnim: 'drop',
            changeYear: true,
            changeMonth: true,
            duration: 'slow',
            dateFormat: 'dd/mm/yy',
            todayHighlight: true
        });

        //Set To Date
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (('' + day).length < 2 ? '0' : '') + day + '/' + (('' + month).length < 2 ? '0' : '') + month + '/' + d.getFullYear();
        $('#txtTransDate').val(output);
    }

    function Print() {

        if ($("#txtTransDate").val() == "") { $("#txtTransDate").focus(); return false; }

        var final = {}; var master = []; var detail = [];

        master.push({
            ReportName: "PaperTkt.rpt",
            FileName: "TicketReport",
            Database: ''
        });

        detail.push({
            TransDate: $("#txtTransDate").val(),
            SectorId: $("#ddlSector").val(),
            TransType: $("#ddlTransType").val(),
            ReportType: "StkSummary"
        });

        final = {
            Master: master,
            Detail: detail
        }

        var left = ($(window).width() / 2) - (950 / 2),
            top = ($(window).height() / 2) - (650 / 2),
            popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
        popup.focus();
    }

</script>




