﻿    @{
        ViewBag.Title = "Bank Transaction";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-content">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label>Service Wise Fare Details</label>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <label class="control-label">From Date</label><span id="spn2" style="color: red">*</span>
                                        <input type="text" id="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">To Date</label><span id="spn3" style="color: red">*</span>
                                        <input type="text" id="txtToDate" class="form-control" placeholder="DD/MM/YYYY">
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label">Sector Name </label><span id="spn1" style="color: red"></span>
                                        <select id="ddlFSector" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </div>
                               
                                    <div class="col-md-2">
                                        <label class="control-label">Bus Type</label><span id="spn1" style="color: red"></span>
                                        <select id="ddlBusType" class="form-control">
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label">Booked By</label><span id="spn1" style="color: red"></span>
                                        <select id="ddlBookedBy" class="form-control">
                                        </select>
                                    </div>

                                    <div class="col-md-2" style="padding-top:23px">
                                        <button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="Print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                                    </div>
                                         </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#txtFromDate').datepicker({
                selectOtherMonths: true,
                closeText: 'X',
                showAnim: 'drop',
                changeYear: true,
                changeMonth: true,
                duration: 'slow',
                dateFormat: 'dd/mm/yy'
            });
            $('#txtToDate').datepicker({
                selectOtherMonths: true,
                closeText: 'X',
                showAnim: 'drop',
                changeYear: true,
                changeMonth: true,
                duration: 'slow',
                dateFormat: 'dd/mm/yy'
            });

            Bind();
        });

        function Print() {
            if ($('#txtFromDate').val() == "") { $('#txtFromDate').focus(); return false; }
            if ($('#txtToDate').val() == "") { $('#txtToDate').focus(); return false; }

            var final = {}; var master = []; var detail = [];

            master.push({
                ReportName: "ServiceWiseFareDetails.rpt",
                FileName: "ServiceWiseFareDetails",
                Database: "SbstcPayroll"
            });
            detail.push({
                ServiceDateFrom: $("#txtFromDate").val(),
                ServiceDateTo: $("#txtToDate").val(),
                SectorId: $('#ddlFSector').val(),
                BusTypeId: $('#ddlBusType').val(),
                BookedBy: $('#ddlBookedBy').val()
            });
            final = {
                Master: master,
                Detail: detail
            };

            var left = ($(window).width() / 2) - (950 / 2),
                top = ($(window).height() / 2) - (650 / 2),
                popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
            popup.focus();
        }
        function Bind()
        {
            var V = {};
            $.ajax({
                url: '/Accounts_Form/ServiceWiseFairdetail/Load',
                data: V,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (D) {
                    var t = D.Data; 

                    var table = t['Table']; alert(JSON.stringify(table));
                    var table1 = t['Table1'];
                    var table2 = t['Table2'];

                    if (table.length > 0)
                    {
                        $('#ddlFSector').empty();
                        $('#ddlFSector').append('<option value="0" selected>Select</option');
                        if (table.length > 0) {
                            $(table).each(function (index, item) {
                                $('#ddlFSector').append('<option value=' + item.SectorId + '>' + item.SectorName + '</option>');
                            });
                        }
                    }

                    if (table1.length > 0) {
                        $('#ddlBusType').empty();
                        //$('#ddlBusType').append('<option value="0" selected>Select</option');
                        if (table1.length > 0) {
                            $(table1).each(function (index, item) {
                                $('#ddlBusType').append('<option value=' + item.BusTypeId + '>' + item.BusType + '</option>');
                            });
                        }
                    }

                    if (table2.length > 0) {
                        $('#ddlBookedBy').empty();
                        //$('#ddlBookedBy').append('<option value="0" selected>Select</option');
                        if (table2.length > 0) {
                            $(table2).each(function (index, item) {
                                $('#ddlBookedBy').append('<option value=' + item.BookedByCode + '>' + item.BookedByDesc + '</option>');
                            });
                        }
                    }
                }
            });
        }
    </script>



