﻿
@{
    ViewBag.Title = "SetAccFinYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/SetAccFinYear.js"></script>

<div class="wrapper wrapper-content animated fadeInRight ">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Account Closing Master</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-12 m-t">
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbl" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Menu Name</th>
                                                <th>Account Closing Date</th>
                                                @*<th>Edit</th>*@
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


