﻿@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.App_Codes;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/AccJs/StockIssue.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Stock Issue</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Issue No.<span style="color:red">&nbsp;</span></label>
                                        <input type="text" class="form-control" id="txtIssueNo" name="txtIssueNo" placeholder="Issue No." disabled />
                                        <input type="hidden" class="form-control" id="hdnIssueId" name="hdnIssueId" placeholder="Issue No." disabled />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Issue Date<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" id="txtIssueDate" name="txtIssueDate" placeholder="Issue Date" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Stock Point From<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlStockFrom" class="form-control blankField bill">
                                            <option value="" selected>Select</option>
                                            @if (SessionContext.IsAuthenticated)
                                            {
                                                foreach (var lstTerm in new Item_BLL().StockPoint())
                                                {
                                                    <option value="@lstTerm.StockPointId">@lstTerm.StockPointTypeDesc</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Stock Point To<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlStockTo" class="form-control blankField bill">
                                            <option value="" selected>Select</option>
                                            @if (SessionContext.IsAuthenticated)
                                            {
                                                foreach (var lstTerm in new Item_BLL().StockPoint())
                                                {
                                                    <option value="@lstTerm.StockPointId">@lstTerm.StockPointTypeDesc</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Section From<span style="color:red">&nbsp;*</span></label>
                                        <select class="form-control Section" id="ddlSectionFrom">
                                            <option selected value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="dtFrom">Section To<span style="color:red">&nbsp;*</span></label>
                                        <select class="form-control Section" id="ddlSectionTo">
                                            <option selected value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="dtFrom">Remarks<span style="color:red">&nbsp;*</span></label>
                                        <textarea type="text" class="form-control" placeholder="Remarks..." id="txtRemarks" name="txtRemarks"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="tbl" class="table table-hover table-bordered tblInst">
                                            <thead><tr><th>Item Name</th><th>Unit of Measurement</th><th>Qty</th><th>Remarks</th><th></th></tr></thead>
                                            <tbody>
                                                <tr class="test_0">
                                                    <td><input type="text" id="txtItemName" class="form-control" /></td>
                                                    <td style="width:15%"><input type="text" id="txtUnit" class="form-control allownumericwithdecimal" /></td>
                                                    <td style="width:10%"><input type="text" id="txtItemQty" class="form-control allownumericwithdecimal" /></td>
                                                    <td><input type="text" id="txtItemRemarks" class="form-control" /></td>
                                                    <td style="text-align:center; width:10%">
                                                        <button type="button" id="btnEffectAdd" class="btn btn-success" onclick="Add();"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                                        <input type="hidden" class="form-control" id="hdnItemCode" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12" style="text-align:right">
                                        <button type="button" id="btnSave" class="btn btn-primary" onclick="Save()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                        <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Selected Vendors are ...</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl" class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:15%" class="isSubItem">Vendor Name</th>
                                        <th style="text-align:center; width:6%" class="isSubItemType">Date</th>
                                        <th style="text-align:center; width:8%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-print" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Print</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <label for="dtFrom">Search by Memo No.<span style="color:red">&nbsp;*</span></label>
                            <input type="text" class="form-control" placeholder="Memo No." id="txtSearchMemoNo" name="txtSearchMemoNo" />
                            <input type="hidden" class="form-control" placeholder="Memo No." id="hdnSearchMemoNo" name="hdnSearchMemoNo" />
                        </div>
                        <div class="col-md-5" style="text-align:left; padding-top:22px">
                            <button type="button" id="btnSearchPrint" class="btn btn-success hidden-print" onclick="SearchPrint()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                            <button type="button" id="btnSearchCancel" class="btn btn-danger" onclick="CloseMemoNo()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close Memo No.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 350px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>