﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "TDS Payable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/app/select2.full.min.js"></script>
<script src="~/Scripts/AccJs/TDSPayable.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>TDS Payable Report</label>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                
                                <div class="col-md-2">
                                    <label class="control-label" >From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" >To Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
                                </div>
                                <div class="col-md-6 lstSector">
                                        <label class="control-label">Sector</label><span id="spn2" style="color: red">&nbsp;*</span>
                                        <select class="select2_demo_2 form-control" id="lstSector" multiple="multiple" style="width:100% !important">
                                            @if (SessionContext.IsAuthenticated)
                                            {
                                                foreach (var vchtype in (new TrailBalance_BLL().Get_UserWiseSector(SessionContext.SessionData.UserID)))
                                                {
                                                    <option value="@vchtype.SectorID">@vchtype.SectorName </option>
                                                }
                                            }
                                        </select>
                                </div>
                                <div class="col-md-2" style="padding-top:22px">
                                    <button type="button" id="btnShow" class="btn btn-primary" onclick="BindGrid()"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show</button>
                                    <button type="button" id="btnShow" class="btn btn-success" onclick="Excel()"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Excel </button>
                                    @*<button type="button" id="btnPrint" class="btn btn-success hidden-print" onclick="PDF()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> PDF </button>*@
                                </div>
                            </div>
                        </div>

                        <div class="row m-t">
                            <div class="form-group">
                                <div class="col-md-12" >
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="datatable" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="display:none">VoucherNumber</th>
                                                <th>Vch Date</th>
                                                <th>RefVch No.</th>
                                                <th>Party Name</th>
                                                <th>PanNo.</th>
                                                <th>GST</th>
                                                <th style="display:none">TDSCode</th>
                                                <th>Basic Amt</th>
                                                <th style="display:none">TDSRate</th>
                                                <th>TDS Amt</th>
                                                <th style="display:none">CGSTRate</th>
                                                <th>CGST Amt</th>
                                                <th style="display:none">SGSTRate</th>
                                                <th>SGST Amt</th>
                                                <th style="display:none">IGSTRate</th>
                                                <th>IGST Amt</th>
                                                <th style="display:none">AutoTrans</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .hover {
        background-color: #D4EFDF;
    }
</style>
<script>
    $(".select2_demo_2").select2({
        placeholder: "Select Sector",
        allowClear: true
    });

</script>



