﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.Models.Account;

@{
    ViewBag.Title = "TollTransaction";
}

<script src="~/Scripts/AccJs/TollTransaction.js"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Fastag Transaction</label>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="sidebar-close active"><a data-toggle="tab" href="#tab-1" > Upload Excel </a></li>
                            <li class="sidebar-close"><a data-toggle="tab" href="#tab-2" onclick="GenSecAmount()"> Depot wise Amount </a></li>
                            <li class="sidebar-close"><a data-toggle="tab" href="#tab-3" onclick="GenMissingDate()"> Missing Date </a></li>
                            <li class="sidebar-close"><a data-toggle="tab" href="#tab-4" > Disputed Toll Transaction </a></li>
                            <li class="sidebar-close"><a data-toggle="tab" href="#tab-5" onclick="BuswithoutFastag()"> Buses without Fastag </a></li>

                            <li class="sidebar-close" style="float:right; padding:10px 15px 0px 0px">
                                <span  style="color:blue; cursor:pointer" onclick="SearchBus(this)"> Search-Bus &nbsp; &nbsp; </span>
                            </li>
                          
                            <li class="sidebar-close" style="float:right; padding:10px 15px 0px 0px">

                                @if (SessionContext.IsAuthenticated)
                                    {
                                        Common obj = new Common();
                                        var vchtypes = obj.FilName();
                                        if (vchtypes.Count > 0)
                                        {
                                            foreach (var vchtype in (new Common().FilName()))
                                            {
                                                <span data-file="@vchtype.FileName" data-file-id="@vchtype.ID" class="lblfileName" style="color:blue; cursor:pointer" onclick="DeleteFile(this)"> Delete </span>
                                            }
                                        }
                                        else
                                        {
                                           
                                            <span data-file="" class="lblfileName" data-file-id="" style="color:blue; cursor:pointer" onclick="DeleteFile(this)"> Delete </span>
                                        }
                                    }
                            </li>
                        </ul>
                       
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="panel-body">
                                        <div class="stage stage-default">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="panel-body">
                                                        <form id="frmInv">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <div class="col-md-5">
                                                                        <input type="file" class="form-control blankField" accept="xls/*" placeholder="File Upload..." multiple id="flPic">  @*onchange="Photo(this)"*@
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <button type="button" id="btnUpload" class="btn btn-primary" onclick="Photo()"><span class="glyphicon glyphicon-open" aria-hidden="true" style="padding-right:4px"></span>Upload</button>
                                                                        @*<button type="button" id="btnSave" class="btn btn-primary" onclick="NewSave()"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Save</button>*@
                                                                        @*<button type="button" id="btnGenAmount" class="btn btn-primary" onclick="DepotGenAmount()" style="display:none;"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Depot wise Amount</button>*@
                                                                        <button type="button" id="btnSave" class="btn btn-primary" onclick="Sample()"><span class="glyphicon glyphicon-save" aria-hidden="true" style="padding-right:4px"></span>Download Excel Sample</button>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <select id="ddlViewRecord" class="form-control" onchange="ViewRecord()">
                                                                            <option value="">View Record</option>
                                                                            <option value="L">All</option>
                                                                            <option value="Y">Desputed</option>
                                                                            <option value="N">UnDesputed</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row m-t">
                                                                <div class="col-md-12">
                                                                    <table class="table table-bordered" id="tbl" >
                                                                        <thead>
                                                                            <tr>
                                                                                <th>TabID</th>
                                                                                <th><input type="checkbox" class="chkall" name="chkall"  /></th>
                                                                                <th>Vehicle No.</th>
                                                                                <th>TagId</th>
                                                                                <th>BarCode</th>
                                                                                <th>TransactionId</th>
                                                                                <th>TollreaderTime</th>
                                                                                <th>TransactionTime</th>
                                                                                <th>TollplazaId</th>
                                                                                <th>TollplazaName</th>
                                                                                <th>TransAmount</th>
                                                                                <th>AcqId</th>
                                                                                <th>Remarks</th>
                                                                                <th>ID</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="full-height-scroll">
                                    <div class="panel-body">
                                        <div class="stage stage-default">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="panel-body">
                                                        <form id="frmInv">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <div class="col-md-2">
                                                                        <label for="ActionText">Posting Date</label>
                                                                        <input type="text" class="form-control" id="txtFromDate" name="txtFromDate" placeholder="DD/MM/YYYY" autocomplete="off">
                                                                    </div>
                                                                    <div class="col-md-3" style="padding-top:22px">
                                                                        <button type="button" id="btnPost" data-attrval="B" value="Post" class="btn btn-warning clsbtn" onclick="Post()"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span><span class="lblPost">Post</span></button>
                                                                    </div>
                                                                    <div class="col-md-7" style="padding-top:22px; text-align:right">
                                                                        VoucherNo : <span class="clsMasterVch" style='padding-left:20px; color:blue; cursor:pointer' data-id="" data-value="" onclick='PrintSectorWise(this);'></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row m-t">
                                                                <div class="col-md-12">
                                                                    <table class="table table-bordered" id="tbl1">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>TransDate</th>
                                                                                <th>SectorName</th>
                                                                                <th>TransAmount</th>
                                                                                <th>Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane">
                                <div class="full-height-scroll">
                                    <div class="panel-body">
                                        <div class="stage stage-default">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="panel-body">
                                                        <div class="row m-t">
                                                                <div class="col-md-12">
                                                                    <table class="table table-bordered" id="tbl2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Missing Date</th>
                                                                                <th>Remarks</th>
                                                                                <th>Is-Settalement</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label for="ActionText">From Date</label>
                                                                <input type="text" class="form-control" id="txtDepFromDate"  name="txtDepFromDate" placeholder="DD/MM/YYYY" autocomplete="off">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label for="ActionText">To Date</label>
                                                                <input type="text" class="form-control" id="txtDepToDate"  name="txtDepToDate" placeholder="DD/MM/YYYY" autocomplete="off">
                                                            </div>
                                                            <div class="col-md-2" style="padding-top:22px">
                                                                <button type="button" id="btnShow" class="btn btn-primary" onclick="DisputedShow()"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show</button>
                                                                <button type="button" id="btnDisputedExcel" class="btn btn-success hidden-print" onclick="DisputedExcel()"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Excel </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row m-t">
                                                        <div class="col-md-12">
                                                            <table class="table table-bordered" id="tbl3">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Depot</th>
                                                                        <th>VehicleNumber</th>
                                                                        <th>TransactionDate</th>
                                                                        <th>FastagAmt</th>
                                                                        <th>Amount</th>
                                                                        <th>TollPlazaName</th>
                                                                        <th>WayBillNo</th>
                                                                        <th>waybillId</th>
                                                                        <th>tollId</th>
                                                                        <th>Settled</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                                <tfoot><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    </div>
                            </div>
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered" id="tbl4">
                                                        <thead>
                                                            <tr>
                                                                <th>VehicleNumber</th>
                                                                <th>Division/Depot</th>
                                                                <th>Category</th>
                                                                <th>ServiceName</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot><tr><td></td><td></td><td></td></tr></tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:400px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Sector Wise Vehicle..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl_edit" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Vehicle Number</th>
                                        <th>Trans Amount</th>
                                        <th>Toll Plaza Name</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot><tr><td></td><td></td><td></td></tr></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-bus" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:400px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Search Bus..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="txtBusNo" name="txtBusNo" placeholder="Search Bus.." autocomplete="off">
                        </div>
                        <div class="col-md-12">
                            <table id="tbl_bus" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sector Name</th>
                                        <th>Bus No.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-Settle" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:60%; height:400px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black" class="lblSettlbus"></label>
                <button type="button" style="color:red" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl_settle" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>TransactionDate</th>
                                        <th>TransAmount</th>
                                        <th>TollplazaName</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot><tr><td></td><td></td><td></td></tr></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

