﻿@using wbEcsc.App_Codes.BLL.Account;
@{
    ViewBag.Title = "Update_Voucher_FC";
}

<link href="~/Content/FixHeader.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/Update_Voucher_FC.js?V=1"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Update Voucher With FC</label>
                    </div>

                    <input type="hidden" class="form-control" id="hdnEffectAdd" />
                    <input type="hidden" class="form-control" id="hdnEffectAmount" />
                    <input type="hidden" class="form-control" id="hdnEffectTempBudgetID" />
                    <input type="hidden" class="form-control" id="hdnEffectBudgetID" />

                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label" >Payment Vouncher Type </label><span id="spn1" style="color: red">*</span>
                                    <select id="ddlVchType" class="form-control">
                                        <option value="">--Select--</option>
                                        @foreach (var vchtype in (new VoucherMaster_BLL().Get_Acc_VchType()))
                                        {
                                            <option value="@vchtype.VoucherTypeID">@vchtype.VoucherDescription</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" >From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" >To Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
                                </div>
                                @*<div class="col-md-4">
                                    <label class="control-label">Account Description</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtAccDesc" name="txtAccDesc" class="form-control" placeholder="Search here.." autocomplete="off">
                                    <input type="hidden" id="hdnAccDesc" name="hdnAccDesc" class="form-control" >
                                </div>*@
                                <div class="col-md-2" style="padding-top:22px">
                                    <button type="button" id="btnShow" class="btn btn-primary" onclick="Show();"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show</button>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t clsSave" style="display:none;">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label class="control-label">MemoNo</label><span id="spn2" style="color: red">&nbsp;</span>
                                    <input type="text" id="txtMemoNo" name="txtMemoNo" class="form-control txt_2" placeholder="MemoNo" autocomplete="off" disabled />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Memo Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtMemoDate" name="txtMemoDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">FC No.</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <label style="font-size:10px; color:blue">FCAmt : </label> <label id="lblFCTotalAmt" style="font-size:10px; color:blue">0.00</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label style="font-size:10px; color:#fd0808">Used FCAmt : </label> <label id="lblUsedFCTotalAmt" style="font-size:10px; color:blue">0.00</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label style="font-size:10px; color:#fd0808">Rest FCAmt : </label> <label id="lblRestFCTotalAmt" style="font-size:10px; color:blue">0.00</label>

                                    <input type="text" id="txtEfftGL" name="txtEfftGL" class="form-control" placeholder="Search FC.." autocomplete="off">
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label">Amount</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtAmount" name="txtAmount" class="form-control allownumericwithdecimal" placeholder="0.00" autocomplete="off" readonly>
                                </div>
                                <div class="col-md-10 m-t">
                                    <label class="control-label">Remarks</label><span id="spn3" style="color: red">&nbsp;</span>
                                    <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" placeholder="Remarks" autocomplete="off">
                                </div>
                                <div class="col-md-2" style="padding-top:37px">
                                    <button type="button" id="btnSave" class="btn btn-success" ><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Save</button>
                                </div>
                            </div>
                        </div>

                        <div class="row clsGrid" style=" display:none">
                            <div class="col-md-12" style="text-align:right; padding-top:5px">
                                <div class="form-group" style="padding-top:5px; width:100%">
                                    <div class="wrap1">
                                        @*<table class="head">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">VoucherNumber</th>
                                                    <th style="text-align:center; width:30%">Vch No.</th>
                                                    <th style="text-align:center; width:15%">Vch Date</th>
                                                    <th style="text-align:center; width:100%">Narration</th>
                                                    <th style="text-align:center; width:20%">Amount</th>
                                                    <th style="text-align:center; width:10%">Edit</th>
                                                    <th style="text-align:center; width:10%">Clear</th>
                                                    <th style="text-align:center; width:13%">Delete</th>
                                                    <th style="width:10%"><input type='checkbox' class='chkallReq' id='chkallReq' name='chkallReq' onclick='SelectAll(this)'></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>*@
                                        <div class="inner_table">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered head" id="myTable" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">VoucherNumber</th>
                                                        <th style="text-align:center; width:30%">Vch No.</th>
                                                        <th style="text-align:center; width:15%">Vch Date</th>
                                                        <th style="text-align:center; width:100%">Narration</th>
                                                        <th style="text-align:center; width:20%">Amount</th>
                                                        <th style="text-align:center; width:10%">Edit</th>
                                                        <th style="text-align:center; width:10%">Clear</th>
                                                        <th style="text-align:center; width:13%">Delete</th>
                                                        <th style="width:10%"><input type='checkbox' class='chkallReq' id='chkallReq' name='chkallReq' onclick='SelectAll(this)'></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="text-align:right; padding-top:5px">
                                <div class="form-group" style="padding-top:5px; width:100%">
                                    <div class="wrap1">
                                        <table class="head">
                                            <tr>
                                                <th style="display:none;">TabId</th>
                                                <th style="text-align:center; width:35%">Memo No.</th>
                                                <th style="text-align:center; width:15%">Memo Date</th>
                                                <th style="text-align:center; width:20%">Gross Amt</th>
                                                <th style="text-align:center; width:100%">Remarks</th>
                                                <th style="text-align:center; width:10%">Delete</th>
                                                <th style="text-align:center; width:10%">Print</th>
                                            </tr>
                                        </table>
                                        <div class="inner_table">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered head" id="tbl" width="100%">
                                                <tbody></tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>

