﻿@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Scrollbar.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<script src="~/Scripts/AccJs/UserPermission.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>User Permission</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active newuser_tab">
                                            <a href="#tab_newuser" aria-controls="tab_newuser" role="tab" data-toggle="tab" onclick="ShowMenuButtons(1)">New User / Update User</a>
                                        </li>
                                        <li role="presentation" class="payment_tab">
                                            <a href="#tab_sectorpermission" aria-controls="tab_sectorpermission" role="tab" data-toggle="tab" onclick="ShowMenuButtons(2)">Menu Permission</a>
                                        </li>
                                        <li role="presentation" class="payment_tab m-r clsButton" style="float:right; display:none">
                                            <button type="button" id="btnMenuSave" class="btn btn-primary" onclick="SaveMenu()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                            <button type="button" id="btnMenuRefresh" class="btn btn-danger" onclick="Blank_Menu()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                        </li>
                                    </ul>
                                    
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="tab_newuser">
                                            <div style="margin-top:20px;  width:100%; ">
                                                <div style="padding:20px 20px 20px 30px; border-right:1px solid #e7eaec; float:left; width:50%" >
                                                    <label style="float:right; font-size:10px; padding-bottom:5px; padding-right:18px; color:#af2727">* indicates mandatory field.<span style="color:red">&nbsp;</span></label>
                                                    
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control" id="txtSearchUser" name="txtSearchUser" placeholder="Search here User" autocomplete="off" />
                                                                    <input type="hidden" class="form-control" id="hdnUserID" name="hdnUserID" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" placeholder="First Name *" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control" id="txtLastName" name="txtLastName" placeholder="Last Name *" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email *" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-6">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control allownumericwithdecimal" id="txtMobile" name="txtMobile" maxlength="10" placeholder="10-digit Mobile No. *" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group" style="width:94%">
                                                                    <select class="form-control" id="ddlActive">
                                                                        <option selected value="Y">Active</option>
                                                                        <option value="N">inActive</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control" id="txtDesignation" name="txtDesignation" placeholder="Designation *" />
                                                                    <input type="hidden" class="form-control" id="hdnDesignationID" name="hdnDesignationID" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="width:97%">
                                                                    <input type="text" class="form-control" id="txtUserName" name="txtUserName" placeholder="User Name *" autocomplete="off" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <div class="form-group" style="padding-top:25px; text-align:right">

                                                                    <button type="button" id="btnUserSave" class="btn btn-primary" onclick="SaveUser()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                                    <button type="button" id="btnUserRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                                                    <br />
                                                                    <label class="lblUserSuccessMsg" style="padding-top:20px"><span style="color:red">&nbsp;</span></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div style="float:right; width:49%">
                                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tblSector" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Sector</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="tab_sectorpermission">
                                            <div class="row m-t m-l m-r">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <div class="form-group" style="width:97%">
                                                            <label>User Name </label><span id="spn1" style="color:red"> *</span>
                                                            <input type="text" class="form-control" id="txtMenuUserName" name="txtMenuUserName" placeholder="User Name" autocomplete="off" />
                                                            <input type="hidden" class="form-control" id="hdnMenuUserID" name="hdnMenuUserID" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group" style="width:97%">
                                                            <label>Menu Name</label><span id="spn1" style="color:red"> *</span>
                                                            <input type="text" class="form-control" id="txtMenuName" name="txtMenuName" placeholder="Menu Name" autocomplete="off" />
                                                            <input type="hidden" class="form-control" id="hdnMenuID" name="hdnMenuID" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-group" style="width:97%">
                                                            <label>Active</label><span id="spn1" style="color:red"> *</span>
                                                            <select id="ddlRemove" class="form-control" style="width:110%">
                                                                <option selected value="Y">Yes</option>
                                                                <option  value="N">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-group" style="width:97%">
                                                            <label>Insert</label><span id="spn1" style="color:red"> *</span>
                                                            <select id="ddlInsert" class="form-control" style="width:110%">
                                                                <option selected value="Y">Yes</option>
                                                                <option value="N">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-group" style="width:97%">
                                                            <label>Edit</label><span id="spn1" style="color:red"> *</span>
                                                            <select id="ddlEdit" class="form-control" style="width:110%">
                                                                <option selected value="Y">Yes</option>
                                                                <option value="N">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-group" style="width:97%">
                                                            <label>Delete</label><span id="spn1" style="color:red"> *</span>
                                                            <select id="ddlDelete" class="form-control" style="width:110%">
                                                                <option selected value="Y">Yes</option>
                                                                <option value="N">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-l m-r">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tblUserMenu" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Menu Name</th>
                                                                    <th>Active</th>
                                                                    <th>Insert</th>
                                                                    <th>Edit</th>
                                                                    <th>Delete</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .ui-autocomplete {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 200px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }
</style>

