﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.Models.Account;

@{
    ViewBag.Title = "WayBill Report";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>WayBill Mismatch Report</label>
                    </div>


                            <div class="full-height-scroll">
                                <div class="panel-body">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="full-height-scroll">
                                            <div class="panel-body">
                                                <div class="stage stage-default">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label">From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                <input type="text" id="txtFromDate" class="form-control" placeholder="DD/MM/YYYY">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">To Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                                <input type="text" id="txtToDate" class="form-control" placeholder="DD/MM/YYYY">
                                                            </div>

                                                           

                                                            <div class="col-md-1" style="padding-top:22px">
                                                                <button type="button" id="btnPrint" class="btn btn-primary" onclick="Print()"><span class="glyphicon glyphicon-print" aria-hidden="true" style="padding-right:4px"></span>Show</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setDate();

    });

    function setDate() {
        $('#txtFromDate, #txtToDate').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            closeText: 'X',
            showAnim: 'drop',
            changeYear: true,
            changeMonth: true,
            duration: 'slow',
            dateFormat: 'dd/mm/yy',
            todayHighlight: true
        });

        //Set From Date
        var a = localStorage.getItem("FinYear");
        var fy = a.split('-');
        var validDate = '01/04/' + fy[0];
        $('#txtFromDate').val(validDate);


        //Set To Date
        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (('' + day).length < 2 ? '0' : '') + day + '/' + (('' + month).length < 2 ? '0' : '') + month + '/' + d.getFullYear();
        $('#txtToDate').val(output);
    }
    function Print()
    {
        var final = {}; var master = []; var detail = [];

        if ($("#txtFromDate").val() == "") { $("#txtFromDate").focus(); return false; }
        if ($("#txtToDate").val() == "") { $("#txtToDate").focus(); return false; }

                master.push({
                    ReportName: "WayBill_Mismatch.rpt",
                    FileName: "WayBill_Mismatch_Report",
                    Database: ''
                });

                detail.push({
                    fdate: $("#txtFromDate").val(),
                    tdate: $("#txtToDate").val(),
                    sectorid: $("#ddlSector").val()
                });

                final = {
                    Master: master,
                    Detail: detail
                }

                var left = ($(window).width() / 2) - (950 / 2),
                    top = ($(window).height() / 2) - (650 / 2),
                    popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
                popup.focus();
    }
</script>




