﻿@*@model IEnumerable<wbEcsc.ViewModels.Division_dll_VM>*@

@{
    ViewBag.Title = "AdministrativeLoginUI";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Scripts/AppJs/ApprovalAuthentication.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <div class="panel panel-primary" style="margin: 20px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Admistrative Login</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row">

                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <form role="form" id="frm_AdministrativeLogin">
                                    
                                    <div class="form-group">
                                        <input type="text" id="txtUserName" autocomplete="off" placeholder="Username" class="form-control txtUserName" name="txtUserName" />
                                    </div>
                                    <div class="form-group">

                                        <input type="password" autocomplete="off" class="form-control txtPassword" id="txtPassword" name="txtPassword" placeholder="Password" />
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 text-right">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                                <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 text-right">
                                <span class="spn_frm_msg" id="spn_frm_msg"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 "></div>
    </div>
</div>



