﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align:center" class="centered">
    <h1 class="logo-name" style="font-size:90px; letter-spacing:0px">SBSTC</h1>
</div>

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
    }
</style>