﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;

@{
    var a = ""; var b = "";
    var SalMonth = ""; var SalFinYear = ""; var AccFinYear = ""; var SalMonthID = ""; var UserName = "";
    if (SessionContext.IsAuthenticated)
    {
        var ssData = new SessionData();
        ssData.Sectors = new EmployeeMaster().Get_Sector((SessionContext.CurrentUser as IInternalUser).UserID);
        SessionContext.SessionData.Sectors = ssData.Sectors;
        UserName = (SessionContext.CurrentUser as IInternalUser).FirstName + " " + (SessionContext.CurrentUser as IInternalUser).LastName;
        if (ssData.Sectors.Count == 1)
        {
            foreach (var sector in ssData.Sectors)
            {
                ssData.CurrSector = sector.SectorID;
            }
        }

        //POPULATE LOGO, HEADER
        Logo lObj = new Logo();
        Logo_MD modelObj = lObj.GetAppsInfo();
        a = modelObj.LogoPath;
        b = modelObj.WebSiteHeader_1;

        //POPULATE SALMONTH, SALFINYEAR, ACCFINYEAR
        SessionContext.InitSessionData();
        SessionData obj_salfinacc = SessionContext.SessionData;
        SalMonthID = obj_salfinacc.SalMonthID.ToString();
        SalMonth = obj_salfinacc.SalMonth;
        SalFinYear = obj_salfinacc.CurFinYear;
        AccFinYear = obj_salfinacc.CurSalFinYear;
    }
}
<div class="top-nav notification-row" style="width:208px; padding-top:5px; display:none;">

    <span style="float:left; width:50px" class="dropdown">
        <label class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Profile
            <span class="caret"></span>
        </label>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <div class="log-arrow-up"></div>
            <li><span style="color:red; font-family:Verdana; font-weight:bold; margin-left:5px">@UserName</span></li>
            <li role="separator" class="divider"></li>
            <li><a href="~/LoginManager/LogOut" class="btnLogOut1" style="color:blueviolet; font-family:Verdana; font-weight:bold">LogOut&nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
            <li role="separator" class="divider"></li>
            <li>
                <label for="firstName" class="control-label" style="color:black; font-style:italic; margin-left:5px">Salary Month</label>
                <input type="text" id="txtSalMonth" placeholder="Sal Month" value="@SalMonth" disabled class="form-control">
                <input type="hidden" id="txtSalMonthID" placeholder="Sal Month" value="@SalMonthID" disabled class="form-control">
            </li>
            <li>
                <label for="firstName" class="control-label" style="color:black; font-style:italic;  margin-left:5px ">Salary FinYear</label>
                <input type="text" id="txtSalFinYear" placeholder="Sal FinYear" value="@SalFinYear" class="form-control">
            </li>

            <li>
                <label for="firstName" class="control-label" style="color:black; font-style:italic;  margin-left:5px">Account FinYear</label>
                <input type="text" id="txtAccFinYear" placeholder="Acc FinYear" value="@AccFinYear" class="form-control">
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="/Misnellious/_DisplaySetting" style="color:blueviolet; font-family:Verdana; font-weight:bold">Display Settings&nbsp;<span class="glyphicon glyphicon-cog"></span></a>
            </li>
            <li>
                <a href="/Administration/Master/PasswordChange/Index" style="color:blueviolet; font-family:Verdana; font-weight:bold">Change Password</a>
            </li>
        </ul>
    </span>

    <span style="height:10px; width:120px; float:right">
        <select id="ddlSector" class="form-control form-control-no-border">
            <option value="">--Sector --</option>
            @if (SessionContext.IsAuthenticated)
            {
                if (SessionContext.SessionData.Sectors.Count == 1)
                {
                    foreach (var sector in SessionContext.SessionData.Sectors)
                    {
                        //ssData.CurrSector = @sector.SectorID;
                        <option selected value="@sector.SectorID">@sector.SectorName</option>
                    }
                }
                else
                {
                    foreach (var sector in SessionContext.SessionData.Sectors)
                    {
                        <option value="@sector.SectorID">@sector.SectorName</option>
                    }
                }
            }
        </select>

    </span>

</div>

