﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;

<script src="~/Scripts/jquery.js"></script>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        @*<span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Example user</strong>
                            </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
                        </span>*@
                        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold">
                @*<img alt="" src="~/Content/Images/logo.jpg" height="50" width="60" title="Go to Home" /><br />*@
                SBSTC</strong>
            </span> 
        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    @*<img alt="" src="~/Content/Images/logo.jpg" height="50" width="60" title="Go to Home" />*@
                    SBSTC
                </div>
            </li>
            
            @if (SessionContext.IsAuthenticated)
            {
                List<Menu> menuLevel2 = new Menu_BLL().GetMenus(SessionContext.SessionData.UserID);
                foreach (var menuLevel1 in new Menu_BLL().GetMenus(SessionContext.SessionData.UserID))
                {
                    if (menuLevel1.MenuID != 28)
                    {
                    <li class="">
                        @if (menuLevel1.ParrentMenuID == null && (menuLevel1.MenuID != 32 && menuLevel1.MenuID != 33))
                        {
                            if (@menuLevel1.Icon != null)
                            {
                                <a href="/"><i class="fa @menuLevel1.Icon"></i> <span class="nav-label">@menuLevel1.MenuName</span><span class="fa arrow"></span></a>
                            }
                            else
                            {
                                <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">@menuLevel1.MenuName</span><span class="fa arrow"></span></a>
                            }
                            <ul class="nav nav-second-level collapse">
                                @foreach (var item in menuLevel2)
                                {
                                    foreach (var item1 in (item.Menus).Where(x => x.ParrentMenuID != null && Convert.ToInt32(x.ParrentMenuID) == menuLevel1.MenuID))
                                    {
                                        <li class="">
                                            <a href="@item1.Url">@item1.MenuName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                    }
                }
            }
        </ul>
    </div>
</nav>