﻿<div id="right-sidebar">
    <div class="sidebar-container">

        <ul class="nav nav-tabs navs-2">

            <li class="active">
                <a data-toggle="tab" href="#tab-1">
                    Change Password
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-2">
                    <i class="fa fa-cog"></i>
                    Update User
                </a>
            </li>

        </ul>

        <div class="tab-content">

            <div id="tab-1" class="tab-pane active">
                <div style="margin-top:50px; margin-left:350px; width:50%; border:1px solid #e7eaec ;">
                    <div style="padding:20px 20px 20px 30px">
                        <label style="float:right; font-size:10px; padding-bottom:5px; padding-right:18px; color:#af2727">* indicates mandatory field.<span style="color:red">&nbsp;</span></label>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                        <input type="password" class="form-control" id="txtOldPass" name="txtOldPass" placeholder="Old Password *" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                        <input type="password" class="form-control" id="txtNewPass" name="txtNewPass" placeholder="New Password *"  autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div style="float:left; width:97%">
                                            <input type="password" class="form-control" id="txtConPass" name="txtConPass" placeholder="Confirm Password *" autocomplete="off" onkeyup="CheckPassword()" />
                                        </div>
                                        <div  style="float:right; width:2%; padding-top:6px">
                                            <img src="~/Content/Images/right.jpg" height="20px" width="20px" style="display:none" class="clsCorrect" />
                                            <img src="~/Content/Images/wrong.jpg" height="20px" width="20px" style="display:none" class="clsWrong" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="padding-top:25px; text-align:right">
                                        
                                            <button type="button" id="btnSave" class="btn btn-primary" onclick="SavePassword()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                            <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                    <br />
                                            <label class="lblSuccessMsg" style="padding-top:20px"><span style="color:red">&nbsp;</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">

                <div style="margin-top:20px; margin-left:350px; width:50%; border:1px solid #e7eaec ;">
                    <div style="padding:20px 20px 20px 30px">
                        <label style="float:right; font-size:10px; padding-bottom:5px; padding-right:18px; color:#af2727">* indicates mandatory field.<span style="color:red">&nbsp;</span></label>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                        <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" placeholder="First Name *" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                        <input type="text" class="form-control" id="txtLastName" name="txtLastName" placeholder="Last Name *" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                            <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email *" autocomplete="off"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                        <input type="text" class="form-control allownumericwithdecimal" id="txtMobile" name="txtMobile" maxlength="10" placeholder="10-digit Mobile No. *" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="width:97%">
                                        <input type="text" class="form-control" id="txtUserName" name="txtUserName" placeholder="User Name *" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group" style="padding-top:25px; text-align:right">

                                        <button type="button" id="btnUserSave" class="btn btn-primary" onclick="SaveUser()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                        <button type="button" id="btnUserRefresh" class="btn btn-danger" onclick="BlankUser()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px;"></span>Refresh</button>
                                        <br />
                                        <label class="lblUserSuccessMsg" style="padding-top:20px"><span style="color:red">&nbsp;</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



