﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;
@using wbEcsc.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Miscellaneous Payment</label>
        </div>
        <div class="panel-body">
            <div class="wrap">

                <div class="left">
                    <div style="background-color:#cbe9ff; height:25px; text-align:center; border:solid 1px #cbe9ff;">Payment Type</div>
                    <input type="hidden" value="" id="hdnReimbursementTypeID" />
                    <div style="height:500px; overflow:scroll;" >

                            <ul style="padding-left:0px !important ;font-family:Verdana; font-size:12px; ">
                                @if (SessionContext.IsAuthenticated)
                                {
                                    @foreach (var RType in new Miscellaneous_Payment().Get_PaymentType())
                                    {
                                        <li style="padding-top:6px; padding-bottom:6px;   border-bottom:1px solid blue; ">
                                            <a href="javascript:void(0);" class="lst-rtype" style="color:black;" data-rtype="@(RType.ReimbursementTypeID)">@RType.ReimbursementType</a>
                                        </li>
                                    }
                                }
                            </ul>
</div>
                </div>

                <div class="center">
                    <div style="background-color:#cbe9ff; height:25px; text-align:center; border:solid 1px #cbe9ff;"><label id="lblPaymentHeader" for="payment" class="control-label" /></div>
                    <div style="height:500px;   border:1px solid #cbe9ff; overflow:scroll; padding-left:10px;" id="partial">
                    </div>
                </div>

                <div class="right">
                    <div style="background-color:#cbe9ff; height:25px; text-align:center; border:solid 1px #cbe9ff;">Approval List</div>
                    <div style="height:500px;  overflow:scroll;">
                        <input type="hidden" value="" id="hdnReimbursementID" />
                        <table id="tbl_Approvallist" class="Grid">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                       


                        <div id="buttons">
                            <input type="button" value="Sample" id="btnSample" class="btn btn-primary" formaction="Sample">
                            <a id="btnApprove" target="_blank" value="Approve" class="btn btn-primary">Approve</a>
                            <input type="button" id="btnCancel" value="Cancel" class="btn btn-danger" style="float: right;padding: 6px 0px;">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="Sample_dialog" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div style="padding-top:5px; padding-right:20px; text-align:right"><input type="button" id="btnPrint" value="Print" class="btn btn-primary" ></div>
            <div class="modal-body" style="width:100%; height:500px; overflow:scroll;">
                <table id="tbl_sample" class="Grid" style="border-collapse:collapse; width:100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var arrSelected = []; var multiORSingle = '';
    $(document).ready(function () {
        $("#buttons").hide();

        $("#btnSample").click(function (event) {
            Sample();
        });
        $("#btnPrint").click(function (event) {
          
            var res = confirm('Are you sure want to print the details ??');
            if(res==true)
                Print($(".selected").text());
        });
        $("#btnApprove").click(function (event) {
            if(arrSelected.length>0)
            {
                if (multiORSingle != 'M') {
                    if (arrSelected.length > 1) { alert('At a Time One Employee Select'); return false; }
                }
                
                var res = confirm('Are you sure want to Approve the details ??');
                if (res == true) {
                    var E = "{ReimbursementID: '" + arrSelected.join('#') + "',  ReimbursementTypeID:" + $("#hdnReimbursementTypeID").val() + "}";
                    
                    $.ajax({
                        type: "POST",
                        url: '/Administration/Master/Miscellaneous_Payment/NewApproval',
                        data: E,
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (D) {
                            var respopnce = D.Message;
                            console.log(respopnce);
                            var a = respopnce.split('#')[0];
                            var trunsID = respopnce.split('#')[1];
                            alert('Transaction Id :' + trunsID);
                            if ($.isNumeric(a)) {
                                var left = ($(window).width() / 2) - (900 / 2),
                                     top = ($(window).height() / 2) - (600 / 2),
                                     popup = window.open("/ReportView.aspx?ReportID=" + a + "&SalMonth=" + $("#txtSalMonth").val() + "&ReportTypeID=" + 13, "popup", "width=900, height=600, top=" + top + ", left=" + left);
                                popup.focus();
                            }
                        }
                    });
                    setTimeout(location.reload(), 60000);
                }
                else {
                    return false;
                }
            }
            else
            {
                alert('Please Select an Employee first !!');
                return false;
            }
        });

        var pollyFill =new function () {
            $.each($(".lst-rtype"), function (i,v) {
                $(v).setActive = function () {
                    alert($(this).text());
                };
            });
        };

        $(document).on('click', ".lst-rtype", function () {
            var ths = $(this);
            $("#lblPaymentHeader").text($(this).text());
            $(".lst-rtype").removeClass('selected');
            ths.addClass('selected');
           
            $(".lst-rtype").css('color', 'black'); $(".lst-rtype").css('font-style', 'normal');
            $(this).css('color', 'red'); $(this).css('font-style', 'italic');

            var ReimbursementTypeID = Number(ths.attr('data-rtype'));
            $("#hdnReimbursementTypeID").val(ReimbursementTypeID); 
            Load_Function(ReimbursementTypeID);
        });

        $("#tbl_Approvallist").on('change', ".chkApp", function () {
            arrSelected = [];
            $.each($("#tbl_Approvallist .chkApp:checked"), function (i, v) {
                arrSelected.push($(v).val());
            });
           //$("#btnApprove").attr('href', "/Administration/Master/Miscellaneous_Payment/Approval?ReimbursementID=" + arrSelected + "&ReimbursementTypeID=" + $("#hdnReimbursementTypeID").val());
        });
        $(document).on('change','#chkAppall',function () {
            if ($(this).is(":checked")) {
                $('.chkApp').attr("checked", true);;
                arrSelected.length = 0;
                $.each($("#tbl_Approvallist .chkApp:checked"), function (i, v) {
                    arrSelected.push($(v).val());
                });
            }
        });
        $("#btnCancel").click(function (event) {
            Cancelapprov();
        });
    });

    function Load_Function(ID)
    {
        var link = '@Url.Action("CallingForm", "Miscellaneous_Payment", new { ID = "-1" })';
        link = link.replace("-1", ID); 

        $("#partial").load(link);
        Populate_ApprovalList(ID);
    }

    function Populate_ApprovalList(ID)
    {
        Get_multiORSingle(ID);

        var E = "{RTypeID: '" + ID + "'}";
        $.ajax({
            type: "POST",
            url: "/Administration/Master/Miscellaneous_Payment/ApprovalList",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var t = D.Data; 
              
                var table = $("#tbl_Approvallist");
                if (t.length > 0) {

                    var slno = 1; var total_gross = 0;
                    table.empty();
                    table.append("<tr><th  style='border: 1px solid;'>"+(multiORSingle=='M'?"<input type='checkbox' class='chkAppall' id='chkAppall'>":'')+"</th><th style='border: 1px solid;'>EmpNo</th><th style='border: 1px solid;'>GrossAmt</th><th style='border: 1px solid;'>Edit</th></tr>");
                    for (var i = 0; i < t.length; i++) {
                        total_gross = parseFloat(total_gross) + parseFloat(t[i].GrossbillAmount);
                        table.append("<tr class='trdata'><td>" +
                                        "<input type='checkbox' class='chkApp' id='chkApp' value='" + t[i].ReimbursementID + "'>" + "</td><td style='display:none;'>" +
                                        //slno++ + "</td><td style='display:none;'>" +
                                        t[i].ReimbursementID + "</td><td style='text-align:center;'>" +
                                        t[i].EmpNo + "</td><td style='text-align:right'>" +
                                        t[i].GrossbillAmount + "</td><td style='text-align:center' >" +
                                        "<img style='cursor:pointer;' src='/Content/Images/Edit.png' alt='cross' height=20 width=20 onClick='Update_Data(\"" + t[i].ReimbursementID + "\", \"" + ID + "\")' /></td></tr>");

                        $("#buttons").show();
                    }
                    table.append("<tr class='trdata' style='background-color:#cbe9ff' ><td>" +
                                       "" +
                                       "" + "</td><td style='text-align:center; font-style:italic'>" +
                                       "Total" + "</td><td style='text-align:right;'>" +
                                       total_gross + "</td><td style='text-align:center' >" +
                                       "" + "</td></tr>");
                }
                else {
                   // alert(444);
                    $("#buttons").hide();
                    table.empty();
                }
            }
        });
       
    }
    function Update_Data(ID, RTypeID)
    {
        $("#hdnReimbursementID").val(ID);
        var PaymentType = $("#hdnReimbursementTypeID").val();
        var E = "{ReimbursementID: '" + ID + "',PaymentType:" + PaymentType + "}";
        $.ajax({
            type: "POST",
            url: "/Administration/Master/Miscellaneous_Payment/ApprovalList_ByID",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var res = D.Data;
                console.log(res);
                var t = res["Table"];  //Master Data
                var d = res["Table1"]; //Detail Data
                var h = res["Table2"]; //Detail2 Data
                var i = res["Table3"]; //status and Categoryid
                if (D.Status ==200)
                {
                    
                    if (t.length > 0)
                    {
                        //TempleteID-1
                        if (t[0].TempleteID == 1) {
                            $("#txtEmpNo").val(t[0].EmpName); $("#hdnEmployeeID").val(t[0].EmployeeID);
                            $("#txtFrom").val(t[0].ReimbursementFrom); $("#txtTo").val(t[0].ReimbursementTo);
                            $("#txtGrossAmount").val(t[0].GrossbillAmount); $("#txtDeductionAmount").val(t[0].TotalDeduction); $("#txtNetAmount").val(t[0].NetAmount);
                            $('#txtremark').val(t[0].Remarks);
                            $('#txtpaymeth').val(t[0].PaymentMode);

                            $('#myTable tbody tr.myData').remove();
                            if (d.length > 0) {
                                $("#spn_Deduction").show();
                             
                                var $this = $('#myTable .test_0');
                                $parentTR = $this.closest('tr');
                                //$parentTR.empty();

                                var html = ""
                                for (var j = 0; j < d.length; j++) {

                                    var DeductionName = d[j].DeduName;
                                    html += "<tr class='myData' >"
                                        + "<td style='display:none;' class='clsDeduID' chk-data='" + d[j].EDID + "' >" + d[j].EDID + "</td>"
                                        + "<td>" + DeductionName + "</td>"
                                        + "<td style='text-align:right' class='dedAmount'>" + d[j].EDAmount + "</td>"
                                        + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteInstDetail(this);' /></td>"
                                    html + "</tr>";
                                   
                                }
                                $parentTR.after(html);
                            }
                        }
                        //TempleteID-2
                        if (t[0].TempleteID == 2) {
                            $("#txtEmpNo").val(t[0].EmpName); $("#hdnEmployeeID").val(t[0].EmployeeID);
                            $("#txtAdvance").val(t[0].Adjust_Amount_Detail); $("#hdnAdvanceID").val(t[0].ReimbursementAdvanceID); $("#hdnAdvAmount").val(t[0].AdjGrossAmt);
                            $("#txtFinalAmount").val(t[0].GrossbillAmount); $("#txtDeductionAmount").val(t[0].TotalDeduction); $("#txtNetAmount").val(t[0].NetAmount);
                            $('#txtremark').val(t[0].Remarks);
                            $('#txtpaymeth').val(t[0].PaymentMode);
                        }
                        //TempleteID-3
                        if (t[0].TempleteID == 3) {
                            $("#txtEmpNo").val(t[0].EmpName); $("#hdnEmployeeID").val(t[0].EmployeeID);
                            $("#txtFrom").val(t[0].ReimbursementFrom); $("#txtTo").val(t[0].ReimbursementTo);
                            $("#txtGrossAmount").val(t[0].GrossbillAmount); $("#txtDeductionAmount").val(t[0].TotalDeduction); $("#txtNetAmount").val(t[0].NetAmount);
                            $('#txtremark').val(t[0].Remarks);
                            $('#txtpaymeth').val(t[0].PaymentMode);
                            $('#myTable tbody tr.myData').remove();
                            $('#mtable tbody').html('');
                            if (d.length > 0) {
                                $("#spn_Deduction").show();

                                var $this = $('#myTable .test_0');
                                $parentTR = $this.closest('tr');
                                //$parentTR.empty();
                                var html = ""
                                for (var j = 0; j < d.length; j++) {

                                    var DeductionName = d[j].DeduName;
                                    html += "<tr class='myData' >"
                                        + "<td style='display:none;' class='clsDeduID' chk-data='" + d[j].EDID + "' >" + d[j].EDID + "</td>"
                                        + "<td>" + DeductionName + "</td>"
                                        + "<td style='text-align:right' class='dedAmount'>" + d[j].EDAmount + "</td>"
                                        + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteInstDetail(this);' /></td>"
                                    html + "</tr>";

                                }

                                $parentTR.after(html);
                            }
                            if (h.length > 0) {
                                var tblHtml = ""
                                $('#tab').show();

                                for (var j = 0; j < h.length; j++) {
                                    tblHtml += '<tr class="hhh" >';
                                    var fdate = h[j].FromDate.split('/');
                                    var tdate = h[j].ToDate.split('/');
                                    tblHtml += '<td class="FromDate" data-id="' + h[j].FromDateSlNo + '" style="' + (h[j].FromReimbursementID == 0 ? "background-color: #b4f3b6;" : "") + '">' + fdate[0] + '-' + fdate[1] + '-' + fdate[2] + '</td><td class="ToDate" data-id="' + h[j].ToDateSlNo + '" style="' + (h[j].ToReimbursementID == 0 ? "background-color: #b4f3b6;" : "") + '">' + tdate[0] + '-' + tdate[1] + '-' + tdate[2] + '</td><td class="GrossPay"><input id="' + h[j].Caldays + '" class="form-control grossTXT" value="' + h[j].GrossPay + '"></td><td class="ReimbAmount">' + h[j].ReimbursementAmt + '</td>';
                                    tblHtml += '</tr>';

                                }
                                $('#mtable tbody').html(tblHtml);
                            }
                            else {
                                $('#tab').hide();
                            }
                        }
                        //TempleteID-4
                        if (t[0].TempleteID == 4) {
                            $("#txtEmpNo").val(t[0].EmpName); $("#hdnEmployeeID").val(t[0].EmployeeID);
                            $("#txtFrom").val(t[0].ReimbursementFrom); $("#txtTo").val(t[0].ReimbursementTo);
                            $("#txtGrossAmount").val(t[0].GrossbillAmount); $("#txtDeductionAmount").val(t[0].TotalDeduction); $("#txtNetAmount").val(t[0].NetAmount);
                            $('#txtremark').val(t[0].Remarks);
                            $('#txtpaymeth').val(t[0].PaymentMode);
                            $('#txtTotalLeave').val((res["Table3"][0].LEAVEDAYS == null ? 0 : res["Table3"][0].LEAVEDAYS));
                            $('#txtRetirmentDate').val(res["Table4"][0].DOR);
                            $('#myTable tbody tr.myData').remove();
                            if (d.length > 0) {
                                $("#spn_Deduction").show();

                                var $this = $('#myTable .test_0');
                                $parentTR = $this.closest('tr');
                                //$parentTR.empty();

                                var html = ""
                                for (var j = 0; j < d.length; j++) {

                                    var DeductionName = d[j].DeduName;
                                    html += "<tr class='myData' >"
                                        + "<td style='display:none;' class='clsDeduID' chk-data='" + d[j].EDID + "' >" + d[j].EDID + "</td>"
                                        + "<td>" + DeductionName + "</td>"
                                        + "<td style='text-align:right' class='dedAmount'>" + d[j].EDAmount + "</td>"
                                        + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteInstDetail(this);' /></td>"
                                    html + "</tr>";

                                }
                                $parentTR.after(html);
                            }
                            
                            if (h.length > 0) {
                                var tblHtml = ""
                                $('#tab').show();
                                var salAmoun = 0;
                                $.each(h, function (index, item) {
                                    tblHtml += '<tr class="hhh"><td class="typeid">' + item.EDID + '</td><td class="chch"><input id="ch' + item.EDID + '" class="rCheck" type="checkbox" value="' + item.EDAmount + '" /></td><td class="paytype">' + item.EDName + '</td><td class="rCheckValue">' + item.EDAmount + '</td></tr>';
                                });
                                $('#mtable tbody').html(tblHtml);
                                $.each(h, function (index, item) {
                                    if (item.CheckedFlag == 1) {
                                        salAmoun = salAmoun + parseInt(item.EDAmount);
                                        var id = '#ch' + item.EDID;
                                        $(id).prop('checked', true);
                                    }
                                });
                                $('#txtSalaryAmmount').val(salAmoun);
                            }
                            else {
                                $('#tab').hide();
                            }
                        }
                        //TempleteID-5
                        if (t[0].TempleteID == 5) {
                            $("#txtEmpNo").val(t[0].EmpName); $("#hdnEmployeeID").val(t[0].EmployeeID);
                            $("#txtFrom").val(t[0].ReimbursementFrom); $("#txtTo").val(t[0].ReimbursementTo);
                            $("#txtGrossAmount").val(t[0].GrossbillAmount); $("#txtDeductionAmount").val(t[0].TotalDeduction); $("#txtNetAmount").val(t[0].NetAmount);
                            $('#txtremark').val(t[0].Remarks);
                            $('#txtpaymeth').val(t[0].PaymentMode);
                            //$('#txtNoofDays').val((res["Table2"][0].LEAVEDAYS == null ? 0 : res["Table2"][0].LEAVEDAYS));
                            $('.tr1').find('.txtTiffinRateAmount').val((res["Table2"][0].TiffinRate == null ? 0 : res["Table2"][0].TiffinRate));
                            $('.tr1').find('.txtNoofDays').val((res["Table2"][0].TiffinDays == null ? 0 : res["Table2"][0].TiffinDays));
                            $('.tr1').find('.txtTiffinFinalAmount').val((res["Table2"][0].TiffinAmount == null ? 0 : res["Table2"][0].TiffinAmount));
                            $('.tr2').find('.txtTiffinRateAmount').val((res["Table2"][0].ConveRate == null ? 0 : res["Table2"][0].ConveRate));
                            $('.tr2').find('.txtNoofDays').val((res["Table2"][0].ConveDays == null ? 0 : res["Table2"][0].ConveDays));
                            $('.tr2').find('.txtTiffinFinalAmount').val((res["Table2"][0].ConveAmount == null ? 0 : res["Table2"][0].ConveAmount));
                            $('#myTable tbody tr.myData').remove();
                            if (d.length > 0) {
                                $("#spn_Deduction").show();

                                var $this = $('#myTable .test_0');
                                $parentTR = $this.closest('tr');
                                //$parentTR.empty();

                                var html = ""
                                for (var j = 0; j < d.length; j++) {

                                    var DeductionName = d[j].DeduName;
                                    html += "<tr class='myData' >"
                                        + "<td style='display:none;' class='clsDeduID' chk-data='" + d[j].EDID + "' >" + d[j].EDID + "</td>"
                                        + "<td>" + DeductionName + "</td>"
                                        + "<td style='text-align:right' class='dedAmount'>" + d[j].EDAmount + "</td>"
                                        + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteInstDetail(this);' /></td>"
                                    html + "</tr>";

                                }
                                $parentTR.after(html);
                            }
                        }
                        //TempleteID-7
                        if (t[0].TempleteID == 7) {
                            $("#txtEmpNo").val(t[0].EmpName); $("#hdnEmployeeID").val(t[0].EmployeeID);
                            $("#txtFrom").val(t[0].ReimbursementFrom); $("#txtTo").val(t[0].ReimbursementTo);
                            $("#txtGrossAmount").val(t[0].GrossbillAmount); $("#txtDeductionAmount").val(t[0].TotalDeduction); $("#txtNetAmount").val(t[0].NetAmount);
                            $('#txtremark').val(t[0].Remarks);
                            $('#txtpaymeth').val(t[0].PaymentMode);
                            //console.log(i[0]);
                            $('#EmpCategory').val(i[0].Category);
                            $('#EmpStatus').val(i[0].Status);

                            $('#tblEarn tbody tr').remove();
                            $('#tblDeduction tbody tr').remove();
                            if (h.length > 0) {
                                var html1 = '';
                                var html2 = '';
                                var itemCountEarn = 0;
                                var itemCountdeduc = 0;
                                for (var j = 0; j < h.length; j++) {


                                    var EdType = h[j].EDType;
                                    //alert(EdType);
                                    if (EdType == "E") {

                                        itemCountEarn++;
                                        html1 = "<tr class='myearn' id='tr" + itemCountEarn + "'><td>" + h[j].EDName + "</td> <td class='eamt'>" + h[j].EDAmount + " </td> " + " </td><td><span class='glyphicon glyphicon-remove' id='" + itemCountEarn + "' onclick='Delete(this)' ></span></td><td style='display:none;'>" + h[j].EDID + '#1#0#' + h[j].EDType + "</td></tr>";

                                        $("#tblEarn").append(html1);

                                    } else {
                                        itemCountdeduc++;
                                        html2 = "<tr class='mydeduc' id='tr" + itemCountdeduc + "'><td>" + h[j].EDName + "</td> <td class='damt'>" + h[j].EDAmount + " </td> " + " </td><td><span class='glyphicon glyphicon-remove' id='" + itemCountdeduc + "' onclick='Delete(this)'></span></td><td style='display:none;'>" + h[j].EDID + '#1#0#' + h[j].EDType + "</td></tr>";

                                        $("#tblDeduction").append(html2);

                                    }

                                }

                            }

                            $('#myTable tbody tr.myData').remove();
                            if (d.length > 0) {
                                $("#spn_Deduction").show();

                                var $this = $('#myTable .test_0');
                                $parentTR = $this.closest('tr');
                                //$parentTR.empty();

                                var html = ""
                                for (var j = 0; j < d.length; j++) {

                                    var DeductionName = d[j].DeduName;
                                    html += "<tr class='myData' >"
                                        + "<td style='display:none;' class='clsDeduID' chk-data='" + d[j].EDID + "' >" + d[j].EDID + "</td>"
                                        + "<td>" + DeductionName + "</td>"
                                        + "<td style='text-align:right' class='dedAmount'>" + d[j].EDAmount + "</td>"
                                        + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteInstDetail(this);' /></td>"
                                    html + "</tr>";

                                }
                                $parentTR.after(html);
                            }
                            Bind_EarnDeduction();
                            TotalEarning();
                            TotalDeduction();
                            totalnet();
                        }
                        $('#btnSave').attr('value', 'Update');
                    }

                    
                }
            }
        });
    }
    function Delete(ID) {
        $(ID).closest('tr').remove();
        TotalEarning();
        TotalDeduction();
        totalgross();
    }
    function TotalEarning() {
        var sumqty = 0;
        if ($("#tblEarn tbody tr.myearn").length > 0) {
            $("#tblEarn tbody tr.myearn").each(function (index, value) {
                var earnamoubt = $(this).find('.eamt').text();
                sumqty += parseInt(earnamoubt);
            });

        }
        $('#totalearning').val(sumqty);
        totalgross();
        totalnet();
        totalnet();
    }
    function TotalDeduction() {
        var sumqty = 0;
        if ($("#tblDeduction tbody tr.mydeduc").length > 0) {
            $("#tblDeduction tbody tr.mydeduc").each(function (index, value) {
                var earnamoubt = $(this).find('.damt').text();
                sumqty += parseInt(earnamoubt);
            });

        }
        $('#totaldeduc').val(sumqty);
        totalgross();
        totalnet();
    }
    function totalgross() {

        var totalgross = 0;
        var totalearing = $('#totalearning').val();
        var totaldection = $('#totaldeduc').val();
        var totalgross = parseInt(totalearing - totaldection);
        $('#txtGrossAmount').val(totalgross);
    }
    function totalnet() {

        var totalnet = 0;
        var totalgross = $('#txtGrossAmount').val();
        var totaldedction = $('#txtDeductionAmount').val();
        var totalnet = parseInt(totalgross - totaldedction);
        $('#txtNetAmount').val(totalnet);

    }
    //
    function Cancelapprov() {
       
            var ApprovalCanData = "";
            var Count = 0;
            $('#tbl_Approvallist').find('tbody tr td input[id*="chkApp"][type=checkbox]:checked').each(function () {
                if (ApprovalCanData == "") {
                    ApprovalCanData = $(this).val();
                    Count++;
                }
                else {
                    ApprovalCanData = ApprovalCanData + ',' + $(this).val();
                    Count++;
                }
            });
            if (ApprovalCanData == "") {
                alert("Please Select at least one Detail !");
                return;
            }
            if (multiORSingle != 'M') {
                if (ApprovalCanData.split(',').length > 1) {
                    alert("At a time One Employee Select");
                    return false;
                }
            }

            var PaymentcanType = $("#hdnReimbursementTypeID").val();
            var E = "{ApprovalData:'" + ApprovalCanData + "',PaymentTypeID:" + PaymentcanType + "}";
            if (confirm("Do you want cancel?")) {
            $.ajax({
                type: "POST",
                url: "/Administration/Master/Miscellaneous_Payment/CancelApr",
                data: E,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (D) {
                    var res = D.Data;
                    if (D.Status == 200) {

                        alert("Succesfully Cancel");
                        //location.reload(true);
                        Populate_ApprovalList(PaymentcanType);
                    }

                }
            });
           
        } else {
            return false;
        }
    }
    //





    function Sample()
    {
        var ApprovalData = "";
        var Count = 0;
        $('#tbl_Approvallist').find('tbody tr td input[id*="chkApp"][type=checkbox]:checked').each(function () {
            if (ApprovalData == "") {
                ApprovalData = $(this).val();
                Count++;
            }
            else {
                ApprovalData = ApprovalData + ',' + $(this).val();
                Count++;
            }
        });
        if (ApprovalData == "") {
            alert("Please Select at least one Detail !");
            return;
        }
        if (multiORSingle != 'M') {
            if (ApprovalData.split(',').length > 1) {
                alert("At a time One Employee Select");
                return false;
            }
        }
            
        var PaymentType=$("#hdnReimbursementTypeID").val();
        var E = "{ApprovalData:'" + ApprovalData + "',PaymentTypeID:" + PaymentType + "}";
        $.ajax({
            type: "POST",
            url: "/Administration/Master/Miscellaneous_Payment/Sample",
            data: E,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (D) {
                var res = D.Data;
                var t = res["Table"];  //Master Data
                var d = res["Table1"]; //Detail Data
                if (D.Status == 200)
                {
                    var table = $("#tbl_sample");
                    if (t.length > 0) {
                       
                        var slno = 1; var total_gross = 0; var total_deduction = 0; var total_net = 0;
                        table.empty();
                        table.append("<tr>"+  
                                "<th class='Grid_Header'>SlNo.</th>" +
                                "<th class='Grid_Header'>Benificiary Details</th>" +
                                "<th class='Grid_Header'>Billing Details</th>" +
                                "<th class='Grid_Header'>Gross Bill Amount</th>" +
                                "<th class='Grid_Header'>Total Deduction</th>" +
                                "<th class='Grid_Header'>Net Amount</th>"+
                                "<th class='Grid_Header'>Payment Mode</th>" +
                                "</tr>");
                        for (var i = 0; i < t.length; i++) {
                            var subdata = '';
                            var reID = t[i].ReimbursementID;
                            $.each(d, function (i, v) {
                                console.log(t[i].ReimbursementID);
                                if (v.ReimbursementID == reID) {
                                    subdata += '<div><span>' + (v.EDAmount == 0 ? "" : v.DeduName + ':</span><span>' + v.EDAmount) + '</span></div>';
                                }
                            });
                            total_gross = parseFloat(total_gross) + parseFloat(t[i].GrossbillAmount);
                            total_deduction = parseFloat(total_deduction) + parseFloat(t[i].TotalDeduction);
                            total_net = parseFloat(total_net) + parseFloat(t[i].NetAmount);

                            table.append("<tr class='trdata'>" +
                                    "<td style='text-align:center;'>"+slno++ + "</td>"+
                                    "<td style='text-align:center;'>" + t[i].BenificiaryDetails + "</td>" +
                                    "<td style='text-align:center'>" + t[i].BillingDetails + "</td>" +
                                     
                                    "<td style='text-align:right'>" + t[i].GrossbillAmount + "</td>" +
                                    "<td style=''>" + subdata + "</td>" +//" + t[i].TotalDeduction + "
                                    "<td style='text-align:right;'>" + t[i].NetAmount + "</td>" +
                                    "<td style='text-align:center;'>" + t[i].PaymentMode + "</td>" +
                                    "</tr>" +
                                    "<tr><td colspan='7'>Remarks: " + t[i].Remarks + "</td></tr>");
                            subdata = '';
                        }
                        table.append("<tr class='trdata' style='background-color:#cbe9ff' ><td>" +
                                           "" + "</td><td style='text-align:center; '>" +
                                           "" + "</td><td style='text-align:center; '>" +
                                          
                                           "Total" + "</td><td style='text-align:right;' >" +
                                           total_gross + "</td><td style='text-align:right;' >" +
                                           total_deduction + "</td><td style='text-align:right;'>" +
                                           total_net + "</td>"+
                                           "" + "</td><td style='text-align:center; '>" +
                                           "</tr>");

                        $('#Sample_dialog').modal('show');
                    }
                }
            }
        });
    }
    function Get_multiORSingle(ID) {
        var E = "{RTypeID: '" + ID + "'}";
        $.ajax({
            type: "POST",
            url: "/Administration/Master/Miscellaneous_Payment/ApprovalListMultipleSingle",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var t = D.Data;
                multiORSingle = t[0].AppSingleMulti;
                
            }
        });
    }
    function Print(label) {
        var prnt = document.getElementById('tbl_sample');
        prnt.border = 1;
        prnt.align = "center";

        var p = window.open('', 'Print', 'left=100,top=100,width=1000,height=1000,tollbar=0,scrollbars=1,status=0,resizable=1');

        p.document.write("<h2 style='text-align:center; '>" + label + "</h1>");
        //$("#lblHeader").show();
        p.document.write(prnt.outerHTML);
        p.document.close();
        p.focus();


        $('tr').children().eq(0).show();
        $('#tbl tr').find('td:eq(0)').show();

        p.print();
        p.close();
        //$("#lblHeader").hide();
    }
</script>
<style>
    .wrap{
    width:100%;
}
.left{
    float: left;
    width:15%;
    height:500px;
}
.right{
    padding-left:2px;
    float: right;
     width:25%;
     height:500px;
}
.center{
 padding-left:1px;
    margin:0 auto;
   display:inline-block;
    width:60%;
    height:500px;
}
.Grid_Header{
    border: 1px solid; text-align:center;
}


</style>

