﻿.wrap1 {
    width: 100%;
}

    .wrap1 table {
        width: 100%;
        table-layout: fixed;
    }

.wrap1 table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.wrap1 table.head tr th {
    background: #eee;
    padding: 5px;
    border: 1px solid #eee;
    width: 100%;
    /*word-wrap: break-word;*/
}

.inner_table {
    height: 500px;
    overflow-y: auto;
}
