﻿
@{
    ViewBag.Title = "Templete_3";
}

<div class="row" style="display:none">

    <div class="col-md-2">
        <label class="control-label">From Date</label><span id="spn2" style="color: red">&nbsp;</span>
        <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
    </div>
    <div class="col-md-2">
        <label class="control-label">To Date</label><span id="spn3" style="color: red">&nbsp;</span>
        <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
    </div>
    <div class="col-md-4">
        <label class="control-label">Employee Name</label><span id="spn3" style="color: red">&nbsp;</span>
        <input type="text" id="txtEmpName" name="txtEmpName" class="form-control" placeholder="Search by service name" autocomplete="off">
        <input type="hidden" id="hdnEmpName" name="hdnEmpName" class="form-control" autocomplete="off">
    </div>
    <div class="col-md-2" style="padding-top:23px;">
        <button type="button" id="btnsearch" class="ladda-button btn btn-primary" onclick="Dashboard();" data-style="expand-right"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px;"></span>Search</button>
    </div>


</div>

<div class="row">
    <div class="col-md-12 m-t">
        <div class="form-group">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tbldashboard" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Advance No.</th>
                        <th>Advance Date</th>
                        <th>Advance Amount</th>
                        <th>Expense/Retrun Amount</th>
                        <th>Due Amount</th>
                        <th>Print</th>
                    </tr>
                </thead>
                <tfoot align="right">
                    <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        Dashboard();
    });

    function Dashboard() {
        var E = "{TransType: '" + "Dashboard" + "', Desc: '" + $('#txtEmpName').val() + "', FromDate:'" + $('#txtFromDate').val() + "', ToDate:'" + $('#txtToDate').val() + "', SectorID: '" + $('#ddlSector').val() + "'}";
        //alert(E);
        //return false;
        $.ajax({
            url: '/Accounts_Form/Advance_Adjustment/Dashboard',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: E,
            dataType: 'json',
            success: function (data) {
                var t = data.Data; //alert(JSON.stringify(t));
                Bind_Dashboard(t);
            }
        });
    }
    function Bind_Dashboard(data) {


        $('#tbldashboard tbody tr').remove();

        var columnData = [{ "mDataProp": "EmpName" },
            { "mDataProp": "AdvanceNo" },
            { "mDataProp": "AdvanceDate" },
            { "mDataProp": "AdvanceAmount" },
            { "mDataProp": "TotalAdjustedAmount" },
            { "mDataProp": "Amount" },
            {
                "mDataProp": "Edit",
                "render": function (data, type, row) {
                    return '<a href="javascript:void(0)" title="Print" style="text-align:center" class="btn btn-azure btn-xs" onclick="Print(\'' + row.ReimbursementID + '\', \'' + row.AdvanceNo + '\')" ><span class="label label-info pull-right">Print</span>  </a>';
                }
            }];

        var columnDataHide = [];

        var oTable = $('#tbldashboard').DataTable({
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [],

            "oLanguage": {
                "sSearch": "Search all columns: <button type='button' style='float:right;' id='btnoutExcel' class='btn btn-success' onclick='Outstanding_Excel();' data-style='expand-right'><span class='glyphicon glyphicon-save' aria-hidden='true' style='padding-right:4px'></span>Excel</button> ",
               
            },
            "aaData": data,
            "aoColumns": columnData,
            "aoColumnDefs": [
                {
                    "targets": columnDataHide,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [0],
                    "className": "BillId"
                },
                {
                    "targets": [1],
                    "className": "text-center BillNo"
                },
                {
                    "targets": [2],
                    "className": "text-center BillDate"
                },
                {
                    "targets": [3,4, 5],
                    "className": "text-right amount"
                }
            ],
            'iDisplayLength': 10,
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                var netTotal = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var receiptTotal = api
                    .column(4)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                var dueTotal = api
                    .column(5)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                $(api.column(2).footer()).html('Total');
                $(api.column(3).footer()).html('(&#x20b9;) ' + netTotal);
                $(api.column(4).footer()).html('(&#x20b9;) ' + receiptTotal);
                $(api.column(5).footer()).html('(&#x20b9;) ' + dueTotal);
            },
            destroy: true
        });
    }

    function Print(ReimbursementID, AdvanceNo)
    {
        var final = {}; var master = []; var detail = [];

        master.push({
            ReportName: "AdvanceOutstanding.rpt",
            FileName: AdvanceNo,
            Database: ''
        });

        detail.push({
            ReimbursementID: ReimbursementID,
            SectorID: $("#ddlSector").val()
        });

        final = {
            Master: master,
            Detail: detail
        }

        var left = ($(window).width() / 2) - (950 / 2),
            top = ($(window).height() / 2) - (650 / 2),
            popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
        popup.focus();

    }
    function Outstanding_Excel()
    {
        var table = $("#tbldashboard");
        var tblCount = (table.find('tbody tr')).length;
        if (tblCount > 0) {
            var res = confirm('Are You Sure Want to download Excel Report ??');
            if (res == true) {


                var master = []; var final = {};

                var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');

                master.push({
                    ReimbursementTypeID: ReimbursementTypeID,
                    EmpType: "",
                    EmpName: "",
                    TransType: "Dashboard",
                    FileName: "Advance_OutStanding",
                    SectorID: $('#ddlSector').val()
                });
                final = {
                    Master: master
                }
                location.href = "/Accounts_Form/Advance_Adjustment/Excel?ReportName=" + JSON.stringify(final);
            }
        }
        else {
            alert('Sorry ! There is no any Data Available to download.'); return false;
        }
    }

</script>



