﻿@using wbEcsc.App_Codes.BLL.Account;

    <div class="row">
        <div class="form-group">

            <div class="col-md-6 col-md-offset-3">

                <div class="radio radio-info radio-inline" onclick="Load();">
                    <input type="radio" id="lblEmpNo" value="0" name="radioInline" checked class="emoth">
                    <label id="lblEmpNo" for="radioGL"> Employee </label>
                </div>
                <div class="radio radio-info radio-inline" onclick="Load();">
                    <input type="radio" id="radioSL" value="1" name="radioInline" class="emoth">
                    <label id="sl" for="radioSL"> Others </label>
                </div>

            </div>
        </div>
    </div>
    <div class="row m-t">
        <div class="form-group">
            <div class="col-md-6">
                <label id="lblEmpNo" class="control-label">Employee/Ledger Name</label><span id="spn3" style="color:red">*</span>
                <input type="text" id="txtEmpNo" name="empno" class="form-control">
                <input type="hidden" ID="hdnEmployeeID" Value="" />
            </div>
            <div class="col-md-6">
                <label id="lblEmpNo" class="control-label">Advance Details</label><span id="spn3" style="color:red">*</span>
                <input type="text" id="txtAdvance" name="advance" class="form-control">
                <input type="hidden" ID="hdnAdvanceID" Value="" />
                <input type="hidden" ID="hdnAdvAmount" Value="" />
                <input type="hidden" ID="hdnAdjMemoNo" Value="" />
            </div>
        </div>
    </div>
    <div class="row m-t">
        <div class="form-group">
            <div class="col-md-4">
                <label id="lblEmpNo" class="control-label">Adjustment Amount</label><span id="spn3" style="color:red">*</span>
                <input type="text" id="txtAdjAmount" name="txtAdjAmount" class="form-control allownumericwithdecimal" autocomplete="off" onkeyup="CheckLimit();" readonly>
            </div>
            <div class="col-md-3">
                <label id="lblEmpNo" class="control-label">Return Amount</label><span id="spn3" style="color:red">*</span>
                <input type="text" id="txtReturnAmount" name="txtReturnAmount" class="form-control allownumericwithdecimal" onkeyup="CheckExpenseDetail(1);">
            </div>
            <div class="col-md-3">
                <label id="lblEmpNo" class="control-label">Adjustment Date</label><span id="spn3" style="color:red"> &nbsp;*</span>
                <input type="text" id="txtAdjDate" name="txtAdjDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
            </div>
            <div class="col-md-2">
                <label id="lblEmpNo" class="control-label">Payment Method</label><span id="spn3" style="color:red">&nbsp; </span>
                <select id="txtpaymeth" name="txtpaymeth" class="form-control">
                    <option>Select</option>
                    <option selected value="C">Cash</option>
                    <option value="Q">Cheque</option>
                    <option value="T">By Transfer</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row m-t">
        <div class="form-group">
            <div id="spn_Deduction" style="margin-left:16px">
                <table id="myTable" class="table table-hover table-bordered" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:99%;">
                    <thead>
                        <tr>
                            <th style="width:70%; text-align:center">Account Description</th>
                            <th style="text-align:center">Amount</th>
                            <th style="text-align:center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="test_0">
                            <td>
                                <input type="text" id="txtAccountDescription" name="empno" class="form-control">
                                <input type="hidden" ID="hdnAccCode" Value="" />
                            </td>
                            <td><input type="text" id="txtAccAmount" name="txtAccAmount" class="form-control allownumericwithdecimal" onkeyup="CheckExpenseDetail(2);" autocomplete="off"></td>
                            <td><input type="button" value="Add" id="btnDeduAdd" class="btn btn-primary" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label id="lblEmpNo" class="control-label">Remarks</label><span id="spn3" style="color:red">*</span>
                <textarea id="txtremark" name="txtremark" class="form-control" onkeypress="return blockSpecialChar(event)"></textarea>
            </div>
        </div>
    </div>
    <div class="row m-t">
        <div class="form-group">
            <div class="col-md-3" style="text-align:right">
                <select id="ddlSearch" name="ddlSearch" class="form-control" onchange="BlankSearch();">
                    <option selected value="1">Emp/Ledger Name</option>
                </select>
            </div>
            <div class="col-md-5" style="text-align:right">
                <input type="text" id="txtSearch" name="txtSearch" class="form-control" placeholder="type value to search..">
            </div>
                <div class="col-md-4" style="text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                    <button type="button" id="btnExcel" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Excel</button>
                    <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                </div>
        </div>
    </div>
    <div class="row m-t">
        <div class="form-group">
            <div class="col-md-12" style="text-align:center">
                <table id="tbl" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>


<!--Model for Remark-->
<div id="modalRegister" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align-last: center">Remarks</h4>
            </div>
            <div class="modal-body">
                <textarea id="textareaexpended" rows="25" style="width: 100%;" onkeypress="return blockSpecialChar(event)" maxlength="50000"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right;" id="btnsave">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog-SubLedger" role="dialog" style="height:100%; " data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">SubLedger Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal"></button>  @*&times;*@
            </div>

            <input type="hidden" ID="lblSLBillID" Value="" />

            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                                <table id="tblSL" class="table table-hover table-bordered" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:99%;">
                                    <thead>
                                        <tr>
                                            <th style="width:4%"></th>
                                            <th style="text-align:center; width:15%" class="isSubItem">SubLedger</th>
                                            <th style="text-align:center; width:10%">Number</th>
                                            <th style="text-align:center; width:10%">Amount</th>
                                            <th style="text-align:center; width:2%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="test_0">
                                            <td></td>
                                            <td id="mysub">
                                                <input type="text" ID="txtSubLedger" class="form-control" />
                                                <input type="hidden" ID="hdnSubLedgerCode" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" ID="txtSubLedNo" Style="text-transform: uppercase;" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" ID="txtSubLedAmount" Style="text-transform:uppercase; text-align:right" class="form-control allownumericwithdecimal" />
                                            </td>
                                            <td style="text-align:center">
                                                <input type="button" ID="btnSubLedgerAdd" value="Add" class="btn btn-primary" onclick="SubLedgerAdd();" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <input type="button" ID="btnSubLedgerOK" value="OK" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#expand').click(function () {
        $('#textareaexpended').val($('#txtremark').val());
    });
    $('#btnsave').click(function () {
        $('#txtremark').val($('#textareaexpended').val());
    });
    function blockSpecialChar(e) {
        var k = e.keyCode;
        return (k != 39 && k != 92);
    }
</script>

<script type="text/javascript">
    var arrSelected = []; var i = false; var ArrList = []; var emptyval = 'E';
    $(document).ready(function () {
        $('.emoth').click(function () {
            var Rval = $(this).val();
            $("#txtEmpNo").val(''); $("#hdnEmployeeID").val('');
            $("#txtAdvance").val(''); $("#hdnAdvanceID").val(''); $("#hdnAdvAmount").val(''); $("#txtAdjAmount").val('');
            if (Rval == 0) {
                emptyval = 'E';
            }
            if (Rval == 1) {
                emptyval = 'O';
            }
        });
        $("#btnDeduAdd").click(function (event) {
            if ($('#txtAdjAmount').val() == "" && $('#txtAdjAmount').val() <= 0) {
                alert('Sorryt ! Adjustment Amount should be not 0 or empty.');
                $('#txtAdjAmount').focus();
                return false;
            }
            if ($('#hdnAccCode').val() == "") {
                $('#txtAccountDescription').focus();
                return false;
            }
            if ($('#txtAccAmount').val() == "" && $('#txtAccAmount').val() <= 0) {
                $('#txtAccAmount').focus();
                return false;
            }

            Bind_Account();
        });
        $("#btnRefresh").click(function (event) {
            Blank_Field();
        });
        $("#btnExcel").click(function (event) {
            Excel();
        });
        $('#txtAdjDate').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            closeText: 'X',
            showAnim: 'drop',
            changeYear: true,
            changeMonth: true,
            duration: 'slow',
            dateFormat: 'dd/mm/yy',
            maxDate: '+0m +0w'
        });

        $("#btnSave").click(function (event) {
            CheckClosingStatus_Adj();
            //Check_Limit();
           
        });

        $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        //EmpNo click autocomplete
        $("#txtEmpNo").autocomplete({
            source: function (request, response) {

                var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
                var E = "{EmpNo_EmpName: '" + $.trim($("#txtEmpNo").val()) + "',  ReimbursementTypeID: '" + ReimbursementTypeID + "', TransType: '" + "EmplistDept" + "', EmpType: '" + emptyval + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/Advance_Adjustment/Search_EmpNo_EmpName_AutoComplete",
                    data: E,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        var DataAutoComplete = [];
                        if (t.length > 0) {
                            $.each(t, function (index, item) {
                                DataAutoComplete.push({
                                    label: item.EmpName,
                                    EmployeeID: item.EmployeeID
                                });
                            });
                            response(DataAutoComplete);
                        }
                    }
                });
            },
            select: function (e, i) {
                var EmployeeID = i.item.EmployeeID;

                $("#hdnEmployeeID").val(EmployeeID);
                
            },
            minLength: 0
        }).click(function () {
            $(this).autocomplete('search', ($(this).val()));
        });
        $('#txtEmpNo').keydown(function (evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode == 8) {
                $('#txtEmpNo').val('');
                $('#hdnEmployeeID').val('');
            }
            if (iKeyCode == 46) {
                $('#txtEmpNo').val('');
                $('#hdnEmployeeID').val('');
            }
        });


        //Adjustment click autocomplete
        $("#txtAdvance").autocomplete({
            source: function (request, response) {

                var E = "{EmployeeID: '" + $.trim($("#hdnEmployeeID").val()) + "',  ReimbursementTypeID: '" + $("#hdnReimbursementTypeID").val() + "', TransType: '" + "AdjDetail" + "', EmpType: '" + emptyval + "', SectorID: '" + $("#ddlSector").val() + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/Advance_Adjustment/Populate_Adjustment_Details",
                    data: E,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        var DataAutoComplete = [];
                        if (t.length > 0) {
                            $.each(t, function (index, item) {
                                DataAutoComplete.push({
                                    label: item.Amount,
                                    ReimbursementID: item.ReimbursementID,
                                    gAmount: item.GrossBillAmount,
                                    MemoNo: item.MemoNo
                                });
                            });
                            response(DataAutoComplete);
                        }
                    }
                });
            },
            select: function (e, i) {
                var ReimbursementID = i.item.ReimbursementID;
                var GrossAmount = i.item.gAmount;
                var MemoNo = i.item.MemoNo;
                $("#hdnAdvanceID").val(ReimbursementID);
                $("#hdnAdvAmount").val(GrossAmount);
                $("#txtAdjAmount").val(GrossAmount);
                $("#hdnAdjMemoNo").val(MemoNo);
            },
            minLength: 0
        }).click(function () {
            if ($("#hdnEmployeeID").val() == "")
            {
                $("#txtEmpNo").focus(); return false;
            }
            $(this).autocomplete('search', ($(this).val()));
        });
        $('#txtAdvance').keydown(function (evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode == 8) {
                $('#txtAdvance').val('');
                $('#hdnAdvanceID').val('');
                $('#hdnAdvAmount').val('');
            }
            if (iKeyCode == 46) {
                $('#txtAdvance').val('');
                $('#hdnAdvanceID').val('');
                $('#hdnAdvAmount').val('');
            }
        });

        //Account Description autocomplete
        $("#txtAccountDescription").autocomplete({
            source: function (request, response) {

                var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
                var E = "{Desc: '" + $.trim($("#txtAccountDescription").val()) + "',  TransType: '" + "AccDetail" + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/Advance_Adjustment/AccountDescription_AutoComplete",
                    data: E,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        var DataAutoComplete = [];
                        if (t.length > 0) {
                            $.each(t, function (index, item) {
                                DataAutoComplete.push({
                                    label: item.AccDescription,
                                    AccCode: item.AccCode,
                                    SubLedger: item.SubLedger
                                });
                            });
                            response(DataAutoComplete);
                        }
                    }
                });
            },
            select: function (e, i) {
                var AccCode = i.item.AccCode;
                var SubLedger = i.item.SubLedger;
                $("#hdnAccCode").val(AccCode);

                if (SubLedger == "Y")
                {
                    $('#dialog-SubLedger').modal('show');
                }
            },
            minLength: 0
        }).click(function () {
            $(this).autocomplete('search', ($(this).val()));
            });
        $('#txtAccountDescription').keydown(function (evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode == 8) {
                $('#txtAccountDescription').val('');
                $('#hdnAccCode').val('');
            }
            if (iKeyCode == 46) {
                $('#txtAccountDescription').val('');
                $('#hdnAccCode').val('');
            }
        });

        //SEARCH AUTO COMPLETE
        $("#txtSearch").autocomplete({
            source: function (request, response) {

                var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
                var E = "{SearchID: '" + $("#ddlSearch").val() + "', Desc: '" + $.trim($("#txtSearch").val()) + "', ReimbursementTypeID: '" + ReimbursementTypeID + "', TransType: '" + "Search" + "', EmpType: '" + emptyval + "', SectorID: '" + $('#ddlSector').val() + "' }";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/Advance_Adjustment/Search_AutoComplete",
                    data: E,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        if (t.length > 0) {
                            Show(t);
                        }
                    }
                });
            },
            minLength: 0
        }).click(function () {
            $(this).autocomplete('search', ($(this).val()));
            });

        //======================================== SUB-LEDGER AUTO-COMPLETE =============================================
        $("#txtSubLedger").autocomplete({

            source: function (request, response) {

                var Value = $.trim($("#txtSubLedger").val());

                var V = "{AccountCode:'" + $("#hdnAccCode").val() + "', Desc:'" + Value + "', FinYear:'" + $("#ddlGlobalFinYear option:selected").text() + "',  SectorID:'" + $("#ddlSector").val() + "', VchTypeID:'" + "" + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/VoucherMaster/Auto_SubLedger_Details",
                    data: V,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        var DataAutoComplete = [];
                        if (t.length > 0) {
                           // alert(JSON.stringify(t));
                            $.each(t, function (index, item) {
                                DataAutoComplete.push({
                                    label: item.AccountDescription,
                                    AccountCode: item.AccountCode

                                });
                            });
                            response(DataAutoComplete);
                        }
                    }
                });
            },
            appendTo: "#mysub",
            select: function (e, i) {
                $("#hdnSubLedgerCode").val(i.item.AccountCode);


            },
            minLength: 0
        }).click(function () {
            $(this).autocomplete('search', ($(this).val()));
        });
        $('#txtSubLedger').keydown(function (evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode == 8) {
                $("#txtSubLedger").val('');
                $("#hdnSubLedgerCode").val('');
            }
            if (iKeyCode == 46) {
                $("#txtSubLedger").val('');
                $("#hdnSubLedgerCode").val('');
            }
        });


        Load();
    });

    function Blank_Field() {
        $('#txtEmpNo').val('');
        $('#hdnEmployeeID').val('');
        $('#txtAdvance').val('');
        $('#hdnAdvanceID').val('');
        $('#hdnAdvAmount').val('');
        $('#txtAdjAmount').val('');
        $('#txtAdjDate').val('');
        $('#txtDeductionAmount').val('');
        $('#txtpaymeth').val('C');
        $('#txtremark').val('');
        $('#txtReturnAmount').val(''); 
        $("#hdnAdjMemoNo").val('');
        $('#myTable tbody tr.myData').remove();
    }
    function BlankSearch() {
        $('#txtSearch').focus();
        $('#txtSearch').val('');
    }
    function Save() {
        alert(11);
        var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
        var URL = ""; var Master = {};
        var valChk = Validation();
        if (valChk == true) {

            var Empid = "", BenID = "";
            if (emptyval == 'E') {
                Empid = $('#hdnEmployeeID').val();
            }
            else {
                BenID = $('#hdnEmployeeID').val();
            }

            var grdLen = $('#myTable tbody tr.myData').length; var TotalAmt = 0;
            if (grdLen > 0) {
                ArrList = [];
                $('#myTable tbody tr.myData').each(function () {
                    var AccCode = $(this).find('.clsAccCode').text();
                    var Amount = $(this).find('.accAmount').text();
                    TotalAmt = parseFloat(TotalAmt) + parseFloat(Amount);
                    ArrList.push({ 'AccCode': AccCode, 'Amount': Amount });
                });
            }

            var RetAmt = ($('#txtReturnAmount').val() == "" || $('#txtReturnAmount').val() < 0) ? 0 : $('#txtReturnAmount').val();
            var AdvAmt = $('#txtAdjAmount').val();

            alert(RetAmt); alert(parseFloat(RetAmt) + parseFloat(TotalAmt));
            if (parseFloat(AdvAmt) >= parseFloat(RetAmt) + parseFloat(TotalAmt))
            {

            }
            else {
                alert('Sorry ! Please add Expense details.'); return false;
            }

            var E2 = JSON.stringify(ArrList);

            var E = "{ReimbursementTypeID: '" + ReimbursementTypeID + "',  EmployeeID:'" + Empid + "', BeneficiaryID:'" + BenID + "', ReimbursementAdvanceID:'" + $('#hdnAdvanceID').val() + "'," +
                "NetAmount:'" + TotalAmt + "', ReturnAmount: '" + $('#txtReturnAmount').val() + "', PaymentType:'" + $('#txtpaymeth').val() + "', Remarks:'" + $('#txtremark').val() + "', SectorID:'" + $('#ddlSector').val() + "'," +
                "ReimbursementID: '" + $("#hdnReimbursementID").val() + "', Emptype: '" + emptyval + "', Deduction:" + E2 + ", AdjDate: '" + $('#txtAdjDate').val() + "'}";

            //alert(E);
            //return false;

            $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/Advance_Adjustment/Save_AdjustmentAmount",
                    data: E,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (D) {
                        var a = D.Data;
                        if (a == 'success') {
                            //alert('Payment details are Saved Successfully !' + a); Blank_Field(); return false; 
                            swal({
                                title: "Success",
                                text: 'Adjustment Successfully done for!!\nAdvance No. :- ' + $("#hdnAdjMemoNo").val(),
                                type: "success",
                                confirmButtonColor: "#AEDEF4",
                                confirmButtonText: "OK",
                                closeOnConfirm: true,
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                       // Blank_Field();
                                       // Load();
                                       // return false;
                                        location.reload();
                                    }
                                });
                        }
                    }
                });
            
        }
    }
    function Validation() {

        if ($("#hdnEmployeeID").val() == "") {
            $('#txtEmpNo').focus(); return false;
        }
        else if ($("#hdnAdvanceID").val() == "") {
            $('#txtAdvance').focus(); return false;
        }
        else if ($("#txtAdjAmount").val() == "") {
            $('#txtAdjAmount').focus(); return false;
        }
        else if ($('#txtAdjDate').val() == '') {
            $('#txtAdjDate').focus(); return false;
        }
        else if ($('#txtremark').val()=='') {
            $('#txtremark').focus(); return false;
        }
        else
            return true;

    }
    function Bind_Account() {

        var advAmount = $("#txtAccAmount").val();
        var l = $('#myTable tbody tr.myData').find("td[chk-data='" + $("#hdnAccCode").val() + "']").length;

        if (l > 0) {
            alert('Sorry ! This Account Description is Already Available.'); $("#hdnAccCode").val(''); return false;
        }
        var Total = 0.00;
        var grdlen = $('#myTable tbody tr.myData').length; 
        if (grdlen > 0)
        {
            if ($("#myTable tbody tr.myData").length > 0) {
                $("#myTable tbody tr.myData").each(function (index, value) {
                    var CRAmount = Number($(this).find('.accAmount').text()); 
                    Total = Number(Total) + (Number(CRAmount) == "" ? 0 : Number(CRAmount));
                });
            }
        }
     
        var grossAmt = $('#txtAdjAmount').val() == "" ? 0 : $('#txtAdjAmount').val();

        if ((Number(Total) + Number($('#txtAccAmount').val() == "" ? 0 : $('#txtAccAmount').val()))  > (Number(grossAmt) - Number($('#txtReturnAmount').val() == "" ? 0 : $('#txtReturnAmount').val()))) {
            alert("Sorry ! Enter Total Amount should be not greater than Advance Amount " + (Number(grossAmt) - (Number($('#txtReturnAmount').val() == "" ? 0 : $('#txtReturnAmount').val()))) + ".");
            return false;
        }

        var html = ""
        var $this = $('#myTable .test_0');
        $parentTR = $this.closest('tr');

        html += "<tr class='myData' >"
            + "<td style='display:none;' class='clsAccCode' chk-data='" + $("#hdnAccCode").val() + "' >" + $("#hdnAccCode").val() + "</td>"
            + "<td>" + $("#txtAccountDescription").val()  + "</td>"   
            + "<td style='text-align:right' class='accAmount'>" + $("#txtAccAmount").val() + "</td>"
            + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteDetail(this);' /></td>"
        html + "</tr>";
        $parentTR.after(html);

        $('#txtAccountDescription').val(''); $('#hdnAccCode').val('');
        $('#txtAccAmount').val('');
    }
    function DeleteDetail(ID)
    {
        $(ID).closest('tr').remove();
    }
    function CheckLimit()
    {
        var a = $("#hdnAdvAmount").val() == "" ? 0 : $("#hdnAdvAmount").val(); 
        var b = $("#txtAdjAmount").val() == "" ? 0 : $("#txtAdjAmount").val(); 
        if (Number(a) > 0) {
            if (Number(b) > Number(a)) {
                alert('Sorry ! Enter Ajustment amount is greater than ' + $("#hdnAdvAmount").val() + "."); $("#txtAdjAmount").val(a); return false;
            }
        }
    }
    function Check_Limit()
    {
        var Total = 0.00;
        var grdlen = $('#myTable tbody tr.myData').length;
        if (grdlen > 0) {
            if ($("#myTable tbody tr.myData").length > 0) {
                $("#myTable tbody tr.myData").each(function (index, value) {
                    var CRAmount = Number($(this).find('.accAmount').text());
                    Total = parseFloat(Total) + (parseFloat(CRAmount) == "" ? 0 : parseFloat(CRAmount));
                });
            }
        }
        var grossAmt = $('#txtAdjAmount').val() == "" ? 0 : $('#txtAdjAmount').val();
        if ((parseFloat(Total) + parseFloat($('#txtAccAmount').val() == "" ? 0 : $('#txtAccAmount').val())) > (parseFloat(grossAmt) - parseFloat($('#txtReturnAmount').val() == "" ? 0 : $('#txtReturnAmount').val()))) {
            alert("Sorry ! Enter Total Amount should be not greater than Advance Amount " + (parseFloat(grossAmt) - (parseFloat($('#txtReturnAmount').val() == "" ? 0 : $('#txtReturnAmount').val()))) + ".");
            return false;
        }
        Save();
    }
    function PrintConBudgetDetail(ID) {

        var final = {}; var master = []; var detail = [];

        var vchNo = $(ID).closest('tr').find('.vchNo').text();
        var RefvchNo = $(ID).closest('tr').find('.RefvchNo').text();

        master.push({
            ReportName: "VoucherCash.rpt",
            FileName: RefvchNo
        });

        detail.push({
            VoucherNumber: vchNo,
            sectorid: $("#ddlSector").val()
        });

        final = {
            Master: master,
            Detail: detail
        }
        var left = ($(window).width() / 2) - (950 / 2),
            top = ($(window).height() / 2) - (650 / 2),
            popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
        popup.focus();
    }
    function Load() {
        var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
        var E = "{ReimbursementTypeID: '" + ReimbursementTypeID + "', EmpType:'" + emptyval + "', EmpName:'" + "" + "', TransType:'" + "AdvLoad" + "', SectorID:'" + $('#ddlSector').val() + "'}";

        $.ajax({
            type: "POST",
            url: "/Accounts_Form/Advance_Adjustment/Load",
            data: E,
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var t = D.Data; //alert(JSON.stringify(t)); //alert(a.length);
                Show(t);
            }
        });
    }
    function Show(t) {
       
        var table = $('#tbl');
        var thead = table.find('thead');
        var tbody = table.find('tbody');
        tbody.find('.myData').empty();

        if (t.length > 0) {
            var html = "";
            thead.empty();
           
            table.find('thead').append("<tr><th>Adv No.</th><th>Emp/Ledger Name</th><th>Adv Amt</th><th>Adj Date</th><th>Adj Amount</th><th>Return Amount</th><th>VoucherNo.</th><th></th></tr>");

            for (var i = 0; i < t.length; i++) {
                html += "<tr class='myData'>"
                    + "<td style='display:none;' class='ReimbursementID'>" + t[i].ReimbursementID + "</td>"
                    + "<td style='display:none;' class='EmployeeID'>" + t[i].EmployeeID + "</td>"
                    + "<td style='display:none;' class='vchNo'>" + t[i].VoucherNumber + "</td>"
                    + "<td style='display:none;' class='Remarks'>" + t[i].Remarks + "</td>"
                    + "<td style='display:none;' class='PayMode'>" + t[i].PaymentMode + "</td>"
                    + "<td style='display:none;' class='ReimbursementAdvanceID'>" + t[i].ReimbursementAdvanceID + "</td>"

                    + "<td  class='AdvNo' style='text-align:center;'>" + t[i].AdvNo + "</td>"
                    + "<td  class='EmpName' style='text-align:left;'>" + t[i].EmpName + "</td>"
                    + "<td  class='AdvanceAmt' style='text-align:right;'>" + (t[i].AdvanceAmt).toFixed(2) + "</td>"
                    + "<td  class='ReimbursementFrom' style='text-align:center;'>" + t[i].ReimbursementFrom + "</td>"
                    + "<td  class='GrossbillAmount' style='text-align:right;'>" + (t[i].GrossbillAmount).toFixed(2) + "</td>"
                    + "<td  class='TotalDeduction' style='text-align:right;'>" + (t[i].TotalDeduction).toFixed(2) + "</td>"
                    + "<td  class='NetAmount' style='text-align:right; display:none;'>" + (t[i].NetAmount).toFixed(2) + "</td>"
                    + "<td  class='RefvchNo' style='text-align:center;'>" + t[i].RefVoucherSlNo + "</td>"
                    + "<td>"
                    + "<img src= '/Content/Images/edit.png' title= 'Edit' style= 'width:20px;height:22px;cursor:pointer; text-align:center;' onClick= 'Edit(this);' />&nbsp;&nbsp;"
                    + "<img src= '/Content/Images/delete.png' title= 'Delete' style= 'width:20px;height:20px;cursor:pointer; text-align:center;' onClick= 'ConfirmDelete(this);' />&nbsp;&nbsp;"
                    + "<img src= '/Content/Images/printer.png' title= 'Print Voucher' style= 'width:18px;height:19px;cursor:pointer; text-align:center;' onClick= 'PrintConBudgetDetail(this);' /></td > "
                html + "</tr>";
            }
            tbody.append(html);
        }
    }
    function Edit(ID) {

        var ReimbursementAdvanceID = $(ID).closest('tr').find('.ReimbursementAdvanceID').text();
        var FNetAmount = $(ID).closest('tr').find('.NetAmount').text();
        var l = $('#tbl tbody tr.myData').length; var TotalAmt = 0;
        if (l > 0)
        {
            $('#tbl tbody tr.myData').each(function () {
                var RAdvanceID = $(this).find('.ReimbursementAdvanceID').text();
                var NetAmount = $(this).find('.NetAmount').text();
                if (ReimbursementAdvanceID == RAdvanceID)
                    TotalAmt = parseFloat(TotalAmt) + parseFloat(NetAmount) ;
            });
        }
      
        var b = parseFloat(TotalAmt) - parseFloat(FNetAmount);
        var AdvanceAmt = $(ID).closest('tr').find('.AdvanceAmt').text(); 
        var a = (parseFloat(AdvanceAmt) - parseFloat(b)); 

        var ReimbursementID = $(ID).closest('tr').find('.ReimbursementID').text();
        var EmployeeID = $(ID).closest('tr').find('.EmployeeID').text();
        var EmpName = $(ID).closest('tr').find('.EmpName').text();

        var AdvNo = $(ID).closest('tr').find('.AdvNo').text();
        var ReimbursementFrom = $(ID).closest('tr').find('.ReimbursementFrom').text();
        var adjDetails = AdvNo + ' - ' + ReimbursementFrom + ' - ' + 'Rs. ' + a;

        var ReturnAmount = $(ID).closest('tr').find('.TotalDeduction').text();
        var PayMode = $(ID).closest('tr').find('.PayMode').text();
        var Remarks = $(ID).closest('tr').find('.Remarks').text();

        $('#txtEmpNo').val(EmpName); $('#hdnEmployeeID').val(EmployeeID); $("#hdnReimbursementID").val(ReimbursementID);
        $('#txtAdvance').val(adjDetails); $('#hdnAdvanceID').val(ReimbursementAdvanceID); $('#hdnAdvAmount').val(a); $('#hdnAdjMemoNo').val(AdvNo); $('#txtAdjAmount').val(a);
        $('#txtReturnAmount').val(ReturnAmount); $('#txtAdjDate').val(ReimbursementFrom); $('#txtpaymeth').val(PayMode);
        $('#txtremark').val(Remarks);

        $('#txtEmpNo').prop('disabled', true);
        Bind_detail(ReimbursementID);
    }
    function ConfirmDelete(ID) {
        var dt = $(ID).closest('tr').find('.ReimbursementFrom').text();
        var a = $.trim(dt);
        var b = a.split('/');
        var vchDate = b[2] + '-' + b[1] + '-' + b[0];

        var E = "{MenuId: '" + 92 + "', TransDt: '" + vchDate + "', SectId: '" + $.trim($("#ddlSector").val()) + "', FromModule: '" + "A" + "'}";

        $.ajax({
            type: "POST",
            url: "/Accounts_Form/AccountClose/AccountClosingStatus",
            data: E,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (D) {
                var t = D.Data;
                if (t.length > 0) {
                    var Status = t[0].Status;
                    var msg = t[0].Message;
                    if (Status == 1)
                        FinalDelete_Adj(ID);
                    else {
                        swal("Cancelled", msg, "error");
                    }
                }
            }
        });
    }
    function FinalDelete_Adj(ID) {
        var res = confirm("Are you sure want to delete ?");
        if (res == true) {
            var ReimbursementID = $(ID).closest('tr').find('.ReimbursementID').text();

            var E = "{ReimbursementTypeID: '" + ReimbursementID + "', EmpType:'" + emptyval + "', EmpName:'" + "" + "', TransType:'" + "Delete" + "', SectorID:'" + $('#ddlSector').val() + "'}";

            $.ajax({
                type: "POST",
                url: "/Accounts_Form/Advance_Adjustment/Load",
                data: E,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var t = D.Data; alert(JSON.stringify(t)); //alert(a.length);
                    var Code = t[0].Code; alert(Code);
                    if (Code == 0) {
                        alert("Record Deleted Successfully !!");
                        Load();
                        return false;
                    }
                    else {
                        alert("Sorry !! You can not Deleted !!"); return false;
                    }
                }
            });
        }
    }
    function Bind_detail(ReimbursementID)
    {
        var E = "{Desc: '" + ReimbursementID + "', TransType:'" + "AdjExpdetail" + "'}";

        $.ajax({
            type: "POST",
            url: "/Accounts_Form/Advance_Adjustment/AccountDescription_AutoComplete",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var t = D.Data; //alert(JSON.stringify(t)); //alert(a.length);

                var html = ""
                var $this = $('#myTable .test_0');
                $parentTR = $this.closest('tr');
                $('#myTable tbody tr.myData').remove();
                if (t.length > 0)
                {
                    for (var j = 0; j < t.length; j++)
                    {
                        html += "<tr class='myData' >"
                            + "<td style='display:none;' class='clsAccCode' chk-data='" + t[j].AccountCode + "' >" + t[j].AccountCode + "</td>"
                            + "<td>" + t[j].AccountDescription + "</td>"
                            + "<td style='text-align:right' class='accAmount'>" + t[j].Amount  + "</td>"
                            + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteDetail(this);' /></td>"
                        html + "</tr>";
                    }
                    $parentTR.after(html);
                }
            }
        });
    }
    function CheckExpenseDetail(con)
    {
        if (con == 2) {
            var expCode = $('#hdnAccCode').val();
            if (expCode == "") {
                $('#txtAccountDescription').focus(); $('#txtAccAmount').val(''); return false;
            }
        }
        else
        {
            var txtAdjAmount = $('#txtAdjAmount').val();
            var txtReturnAmount = $('#txtReturnAmount').val();
            if (parseFloat(txtReturnAmount) > parseFloat(txtAdjAmount)) {
                alert('Sorry ! Enter Return amount is greater than Advance Amount.'); $('#txtReturnAmount').focus(); $('#txtReturnAmount').val(''); return false;
            }
        }
    }
    function CheckClosingStatus_Adj() {
        var a = $.trim($("#txtAdjDate").val());
        var b = a.split('/');
        var vchDate = b[2] + '-' + b[1] + '-' + b[0];

        var E = "{MenuId: '" + 92 + "', TransDt: '" + vchDate + "', SectId: '" + $.trim($("#ddlSector").val()) + "', FromModule: '" + "A" + "'}";

        $.ajax({
            type: "POST",
            url: "/Accounts_Form/AccountClose/AccountClosingStatus",
            data: E,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (D) {
                var t = D.Data;
                if (t.length > 0) {
                    var Status = t[0].Status;
                    var msg = t[0].Message;
                    if (Status == 1)
                        Check_Limit();
                    else {
                        swal("Cancelled", msg, "error");
                    }
                }
            }
        });
    }
    function Excel() {

        var table = $("#tbl");
        var tblCount = (table.find('tbody tr.myData')).length;
        if (tblCount > 0) {
            var res = confirm('Are You Sure Want to download Excel Report ??');
            if (res == true) {


                var master = []; var final = {};

                var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');

                master.push({
                    ReimbursementTypeID: ReimbursementTypeID,
                    EmpType: emptyval,
                    EmpName: "",
                    TransType: "AdvLoad",
                    FileName: "Internal_Adjustment",
                    SectorID: $('#ddlSector').val()
                });
                final = {
                    Master: master
                }
                location.href = "/Accounts_Form/Advance_Adjustment/Excel?ReportName=" + JSON.stringify(final);
            }
        }
        else {
            alert('Sorry ! There is no any Data Available to download.'); return false;
        }

    }
</script>


