﻿<div class="row">
    <div class="form-group">

        <div class="col-md-6 col-md-offset-3">

            <div class="radio radio-info radio-inline" onclick="Load();">
                <input type="radio" id="radio1" value="0" name="radioInline" checked class="emoth" >
                <label id="lblEmpNo" for="radioGL"> Employee </label>
            </div>
            <div class="radio radio-info radio-inline" onclick="Load();">
                <input type="radio" id="radioSL" value="1" name="radioInline" class="emoth" >
                <label id="sl" for="radioSL"> Others </label>
            </div>

        </div>
    </div>
</div>

<div class="row" id="other" style="display:none;"></div>
<div class="row m-t" id="employee">
    <div class="form-group">
        <div class="col-md-5">
            <label id="lblEmpNo" class="control-label">Employee/Ledger Name</label><span id="spn3" style="color:red">&nbsp;*</span>
            <input type="text" id="txtEmpNo" name="empno" class="form-control">
            <input type="hidden" ID="hdnEmployeeID" Value="" />
        </div>
        <div class="col-md-2">
            <label id="lblEmpNo" class="control-label">Advance Date</label><span id="spn3" style="color:red"> &nbsp;*</span>
            <input type="text" id="txtFrom" name="txtFrom" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
        </div>
        @*<div class="col-md-2">
            <label id="lblEmpNo" class="control-label">To Date</label><span id="spn3" style="color:red"> &nbsp;*</span>
            <input type="text" id="txtTo" name="txtTo" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
        </div>*@
        <div class="col-md-3">
            <label id="lblEmpNo" class="control-label">Net Amount</label><span id="spn3" style="color:red"> &nbsp;*</span>
            <input type="text" id="txtNetAmount" name="empno" class="form-control allownumericwithdecimal" >
        </div>
        <div class="col-md-2">
            <label id="lblEmpNo" class="control-label">Payment Method</label><span id="spn3" style="color:red">&nbsp; </span>
            <select id="txtpaymeth" name="txtpaymeth" class="form-control">
                <option>Select</option>
                <option selected value="C">Cash</option>
                <option value="Q">Cheque</option>
                <option value="T">By Transfer</option>
            </select>
        </div>
    </div>
</div>

<div class="row m-t">
        <div class="form-group">
            <div class="col-md-12">
                <label id="lblEmpNo" class="control-label">Remarks</label><span id="spn3" style="color:red"> &nbsp;*</span>
                <textarea id="txtremark" name="txtremark" class="form-control" maxlength="50000" onkeypress="return blockSpecialChar(event)"></textarea>
            </div>
        </div>
    </div>

<div class="row m-t">
        <div class="form-group">
            <div class="col-md-3" style="text-align:right">
                <select id="ddlSearch" name="ddlSearch" class="form-control" onchange="BlankSearch();">
                    <option selected value="1">Emp/Ledger Name</option>
                    <option value="2">Adv No.</option>
                </select>
            </div>
            <div class="col-md-5" style="text-align:right">
                <input type="text" id="txtSearch" name="txtSearch" class="form-control" placeholder="type value to search..">
            </div>
            <div class="col-md-4" style="text-align:right">
                <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                <button type="button" id="btnExcel" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Excel</button>
                <button type="button" id="btnRefresh" class="btn btn-danger" onclick="Blank()"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
            </div>
        </div>
    </div>

<div class="row m-t">
    <div class="form-group">
        <div class="col-md-12" style="text-align:center">
            <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!--Model for Remark-->
<div id="modalRegister" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align-last: center">Remarks</h4>
                </div>
                <div class="modal-body">
                    <textarea id="textareaexpended" rows="25" style="width: 100%;" onkeypress="return blockSpecialChar(event)" maxlength="50000"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right;" id="btnsave">Done</button>
                </div>
            </div>
        </div>
    </div>
<script>
    $('#expand').click(function () {
        $('#textareaexpended').val($('#txtremark').val());
    });
    $('#btnsave').click(function () {
        $('#txtremark').val($('#textareaexpended').val());
    });
    function blockSpecialChar(e) {
        var k = e.keyCode;
        return (k != 39 && k != 92);
    }
    
</script>
<script type="text/javascript">
        var emptyval='E';
        var i = false; var ArrList = [];
        $(document).ready(function () {

            $('.emoth').click(function () {
                var Rval = $(this).val();
                if (Rval == 0) {
                    emptyval='E';
                }
                if (Rval == 1) {
                    emptyval='O';
                }
            });
            $(".DefaultButton").click(function (event) {
                event.preventDefault();
            });
            $("#btnRefresh").click(function (event) {
                Blank_Field();
            });
            $("#btnExcel").click(function (event) {
                Excel();
            });
            $("#btnSave").click(function (event) {
                //alert($(".lst-rtype.selected").attr('data-rtype'));
                //return;
                CheckClosingStatus_Adv();
                //Save();
            });
            $('#txtFrom').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                closeText: 'X',
                showAnim: 'drop',
                changeYear: true,
                changeMonth: true,
                duration: 'slow',
                dateFormat: 'dd/mm/yy',
                maxDate: '+0m +0w'
            });
            $('#txtTo').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                closeText: 'X',
                showAnim: 'drop',
                changeYear: true,
                changeMonth: true,
                duration: 'slow',
                dateFormat: 'dd/mm/yy',
                maxDate: '+0m +0w'
            });

            $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
                //this.value = this.value.replace(/[^0-9\.]/g,'');
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });

            $("#txtEmpNo").autocomplete({
                source: function (request, response) {

                    var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
                    var E = "{EmpNo_EmpName: '" + $.trim($("#txtEmpNo").val()) + "', ReimbursementTypeID: '" + ReimbursementTypeID + "', TransType: '" + "Emplist" + "', EmpType: '" + emptyval + "', SectorID: '" + $('#ddlSector').val() + "' }";

                    $.ajax({
                        type: "POST",
                        url: "/Accounts_Form/Advance_Adjustment/Search_EmpNo_EmpName_AutoComplete",
                        data: E,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (D) {
                            var t = D.Data;
                            var DataAutoComplete = [];
                            if (t.length > 0) {
                                $.each(t, function (index, item) {
                                    DataAutoComplete.push({
                                        label: item.EmpName,
                                        EmployeeID: item.EmployeeID
                                    });
                                });
                                response(DataAutoComplete);
                            }
                        }
                    });
                },
                select: function (e, i) {
                    var EmployeeID = i.item.EmployeeID;

                    $("#hdnEmployeeID").val(EmployeeID);
                },
                minLength: 0
            }).click(function () {
                $(this).autocomplete('search', ($(this).val()));
            });
            $('#txtEmpNo').keydown(function (evt) {
                var iKeyCode = (evt.which) ? evt.which : evt.keyCode
                if (iKeyCode == 8) {
                    $('#txtEmpNo').val('');
                    $('#hdnEmployeeID').val('');
                }
                if (iKeyCode == 46) {
                    $('#txtEmpNo').val('');
                    $('#hdnEmployeeID').val('');
                }
            });

            //SEARCH AUTO COMPLETE
            $("#txtSearch").autocomplete({
                source: function (request, response) {

                    var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
                    var E = "{SearchID: '" + $("#ddlSearch").val() + "', Desc: '" + $.trim($("#txtSearch").val()) + "', ReimbursementTypeID: '" + ReimbursementTypeID + "', TransType: '" + "Search" + "', EmpType: '" + emptyval + "',  SectorID: '" + $('#ddlSector').val() + "' }";

                    $.ajax({
                        type: "POST",
                        url: "/Accounts_Form/Advance_Adjustment/Search_AutoComplete",
                        data: E,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (D) {
                            var t = D.Data;
                            if (t.length > 0) {
                                Show(t);
                            }
                        }
                    });
                },
                minLength: 0
            }).click(function () {
                $(this).autocomplete('search', ($(this).val()));
            });

            Load();
        });

        function Blank_Field() {
            $('#txtEmpNo').val('');
            $('#hdnEmployeeID').val('');
            $("#hdnReimbursementID").val('');
            $('#txtFrom').val('');
            $('#txtTo').val('');
            $('#txtNetAmount').val('');
            $('#txtremark').val('');
            $('#txtpaymeth').val('C');
            $('#btnSave').attr('value', 'Save');
        }
        function BlankSearch()
        {
            $('#txtSearch').focus();
            $('#txtSearch').val('');
        }
        function Save() {
            alert(22);
            var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
            var URL = ""; var Master = {};
            var valChk = Validation();
            if (valChk == true) {

                var Empid = "", BenID ="";
                if (emptyval == 'E') {
                    Empid = $('#hdnEmployeeID').val();
                    //BenID = 0;
                }
                else {
                    //Empid = 0;
                    BenID = $('#hdnEmployeeID').val();
                }
                //if (BenID == '') {
                //    if (emptyval == 'E') {
                //        alert('Please Select a Employee');
                //        return false;
                //    }
                //    else {
                //        alert('Please Select a Beneficiary');
                //        return false;
                //    }
                //}

                var E = "{ReimbursementTypeID: '" + ReimbursementTypeID + "',  EmployeeID:'" + Empid + "', BeneficiaryID:'" + BenID + "', FromDate:'" + $('#txtFrom').val() + "'," +
                    "NetAmount:'" + $('#txtNetAmount').val() + "', PaymentType:'" + $('#txtpaymeth').val() + "', Remarks:'" + $('#txtremark').val() + "', SectorID:'" + $('#ddlSector').val() + "'," +
                    "ReimbursementID: '" + $("#hdnReimbursementID").val() + "', Emptype: '" + emptyval + "'}";

                //alert(E);
                //return false;
                $.ajax({
                        type: "POST",
                        url: "/Accounts_Form/Advance_Adjustment/Save",
                        data: E,
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (D) {
                            var a = D.Data;
                            if (a != 'fail') {
                                swal({
                                    title: "Success",
                                    text: 'Advance details are Saved Successfully !!\nAdvance No. is :- ' + a,
                                    type: "success",
                                    confirmButtonColor: "#AEDEF4",
                                    confirmButtonText: "OK",
                                    closeOnConfirm: true,
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            //Blank_Field();
                                            //Load();
                                            //return false;
                                            location.reload();
                                        }
                                    });
                            }
                            else
                            {
                                swal({
                                    title: "Warning",
                                    text: 'There is some problem.',
                                    type: "warning",
                                    confirmButtonColor: "#AEDEF4",
                                    confirmButtonText: "OK",
                                    closeOnConfirm: true,
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                           // Blank_Field();
                                            return false;
                                        }
                                    });
                            }
                        }
                    });

            }
        }
        function Validation() {
            if ($("#hdnEmployeeID").val() == "") {
                $('#txtEmpNo').focus(); return false;
            }
            else if ($("#txtFrom").val() == "") {
                $('#txtFrom').focus(); return false;
            }
            else if ($("#txtNetAmount").val() == "") {
                $('#txtNetAmount').focus(); return false;
            }
            else if ($('#txtpaymeth').val() == '') {
                $('#txtpaymeth').focus(); return false;
            }
            else if ($('#txtremark').val() == '') {
                 $('#txtremark').focus(); return false;
            }
            else
                return true;

        }
        function Deduction() {
            var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
            var E = "{PaymentType:" + ReimbursementTypeID + "}";
            $.ajax({
                type: "POST",
                url: "/Administration/Master/Miscellaneous_Payment/Populate_Deduction",
                data: E,
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var t = D.Data;
                    if (t.length > 0 && D.Status == 200) {
                        var ddlPayeeDetails = $("[id*=ddlDeduction]");
                        ddlPayeeDetails.empty().append('<option selected value="">--Select--</option>');
                        $.each(t, function () {
                            ddlPayeeDetails.append($("<option></option>").val(this['DeductionTypID']).html(this['DeduName']));
                        });
                    }
                }
            });
        }
        function Bind_Deduction() {

            var l = $('#myTable tr.myData').find("td[chk-data='" + $("#ddlDeduction").val() + "']").length;

            if (l > 0) {
                alert('Sorry ! This Deduction is Already Available.'); $("#ddlDeduction").val(''); return false;
            }

            var grossAmt = $('#txtGrossAmount').val() == "" ? 0 : $('#txtGrossAmount').val();
            var deducAmt = $('#txtDeductionAmount').val() == "" ? 0 : $('#txtDeductionAmount').val();
            var DeductionAmt = $('#txtDeduAmount').val() == "" ? 0 : $('#txtDeduAmount').val();
            var gaamt = parseInt(deducAmt) + parseInt(DeductionAmt);
            if (parseInt(gaamt) > parseInt(grossAmt)) {
                alert("Sorry ! Enter Deduction Amount should be not greater than Gross Amount.");
                return false;
            }

            var html = ""
            var $this = $('#myTable .test_0');
            $parentTR = $this.closest('tr');

            var DeductionName = $('#ddlDeduction').find('option:selected').text();
            html += "<tr class='myData' >"
                + "<td style='display:none;' class='clsDeduID' chk-data='" + $("#ddlDeduction").val() + "' >" + $("#ddlDeduction").val() + "</td>"
                + "<td>" + DeductionName + "</td>"
                + "<td style='text-align:right' class='dedAmount'>" + $("#txtDeduAmount").val() + "</td>"
                + "<td style='text-align:center'><img src='/Content/Images/Delete.png' title='Delete' style='width:20px;height:20px;cursor:pointer; text-align:center;' onClick='DeleteInstDetail(this);' /></td>"
            html + "</tr>";
            $parentTR.after(html);

            $('#txtDeductionAmount').val(gaamt);

            var grossAmt = $('#txtGrossAmount').val();
            var dedAmt = parseInt(grossAmt) - parseInt(gaamt);
            $('#txtNetAmount').val(dedAmt);

            $("#ddlDeduction").val(''); $("#txtDeduAmount").val('');
        }
        function DeleteInstDetail(ID) {
            var delAmount = $(ID).closest('tr').find('.dedAmount').text();
            var deduAmt = $('#txtDeductionAmount').val();
            var FindalGridAmount = parseInt(deduAmt) - parseInt(delAmount);
            $('#txtDeductionAmount').val(FindalGridAmount);

            var grossAmt = $('#txtGrossAmount').val();
            var dedAmt = parseInt(grossAmt) - parseInt(FindalGridAmount);
            $('#txtNetAmount').val(dedAmt);

            $(ID).closest('tr').remove();
        }
        function PrintConBudgetDetail(ID) {

            var final = {}; var master = []; var detail = [];

            var vchNo = $(ID).closest('tr').find('.vchNo').text();
            var RefvchNo = $(ID).closest('tr').find('.RefvchNo').text();

            master.push({
                ReportName: "VoucherCash.rpt",
                FileName: RefvchNo
            });

            detail.push({
                VoucherNumber: vchNo,
                sectorid: $("#ddlSector").val()
            });

            final = {
                Master: master,
                Detail: detail
            }
            var left = ($(window).width() / 2) - (950 / 2),
                top = ($(window).height() / 2) - (650 / 2),
                popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
            popup.focus();
        }
        function Load() {
            var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');
            var E = "{ReimbursementTypeID: '" + ReimbursementTypeID + "', EmpType:'" + emptyval + "', EmpName:'" + "" + "', TransType:'" + "AdvLoad" + "', SectorID:'" + $('#ddlSector').val() + "'}";

            $.ajax({
                type: "POST",
                url: "/Accounts_Form/Advance_Adjustment/Load",
                data: E,
                async: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var t = D.Data; //alert(JSON.stringify(t)); //alert(a.length);
                    Show(t);
                }
            });
        }
        function Show(t)
        {
            var table = $('#myTable');
            var thead = table.find('thead');
            var tbody = table.find('tbody');
            tbody.find('.myData').empty();

            if (t.length > 0) {
                var html = "";

                thead.empty();
                table.find('thead').append("<tr><th>Emp/Ledger Name</th><th>Adv Date</th><th>Amount</th><th>Adv No.</th><th>VoucherNo.</th><th></th></tr>");

                for (var i = 0; i < t.length; i++) {
                    html += "<tr class='myData'>"
                        + "<td style='display:none;' class='ReimbursementID'>" + t[i].ReimbursementID + "</td>"
                        + "<td style='display:none;' class='EmployeeID'>" + t[i].EmployeeID + "</td>"
                        + "<td style='display:none;' class='vchNo'>" + t[i].VoucherNumber + "</td>"
                        + "<td style='display:none;' class='Remarks'>" + t[i].Remarks + "</td>"
                        + "<td style='display:none;' class='PayMode'>" + t[i].PaymentMode + "</td>"
                        + "<td  class='EmpName' style='text-align:left;'>" + t[i].EmpName + "</td>"
                        + "<td  class='ReimbursementFrom' style='text-align:center;'>" + t[i].ReimbursementFrom + "</td>"
                        + "<td  class='GrossbillAmount' style='text-align:right;'>" + (t[i].GrossbillAmount).toFixed(2) + "</td>"
                        + "<td  class='MemoNo' style='text-align:center;'>" + t[i].MemoNo + "</td>"
                        + "<td  class='RefvchNo' style='text-align:center;'>" + t[i].RefVoucherSlNo + "</td>"
                        + "<td>"
                        + "<img src= '/Content/Images/edit.png' title= 'Edit' style= 'width:20px;height:22px;cursor:pointer; text-align:center;' onClick= 'Edit(this);' />&nbsp;&nbsp;"
                        + "<img src= '/Content/Images/delete.png' title= 'Delete' style= 'width:20px;height:20px;cursor:pointer; text-align:center;' onClick= 'ConfirmDelete(this);' />&nbsp;&nbsp;"
                        + "<img src= '/Content/Images/printer.png' title= 'Print Voucher' style= 'width:18px;height:19px;cursor:pointer; text-align:center;' onClick= 'PrintConBudgetDetail(this);' /></td > "
                    html + "</tr>";
                }
                tbody.append(html);
            }
        }
        function Edit(ID)
        {
          
            var ReimbursementID = $(ID).closest('tr').find('.ReimbursementID').text();
            var EmployeeID = $(ID).closest('tr').find('.EmployeeID').text(); 
            var EmpName = $(ID).closest('tr').find('.EmpName').text();
            var ReimbursementFrom = $(ID).closest('tr').find('.ReimbursementFrom').text();
            var GrossbillAmount = $(ID).closest('tr').find('.GrossbillAmount').text();
            var PayMode = $(ID).closest('tr').find('.PayMode').text();
            var Remarks = $(ID).closest('tr').find('.Remarks').text();

            $('#txtEmpNo').val(EmpName); $('#hdnEmployeeID').val(EmployeeID); $("#hdnReimbursementID").val(ReimbursementID);
            $('#txtFrom').val(ReimbursementFrom); $('#txtNetAmount').val(GrossbillAmount);
            $('#txtpaymeth').val(PayMode);
            $('#txtremark').val(Remarks);
        }
        function ConfirmDelete(ID)
        {
            var dt = $(ID).closest('tr').find('.ReimbursementFrom').text();
            var a = $.trim(dt);
            var b = a.split('/');
            var vchDate = b[2] + '-' + b[1] + '-' + b[0];

            var E = "{MenuId: '" + 92 + "', TransDt: '" + vchDate + "', SectId: '" + $.trim($("#ddlSector").val()) + "', FromModule: '" + "A" + "'}";

            $.ajax({
                type: "POST",
                url: "/Accounts_Form/AccountClose/AccountClosingStatus",
                data: E,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (D) {
                    var t = D.Data;
                    if (t.length > 0) {
                        var Status = t[0].Status;
                        var msg = t[0].Message;
                        if (Status == 1) {
                            FinalDelete(ID);
                        }
                        else {
                            swal("Cancelled", msg, "error");
                        }
                    }
                }
            });
        }
        function FinalDelete(ID) {
            var res = confirm("Are you sure want to delete ?");
            if (res == true) {
                var ReimbursementID = $(ID).closest('tr').find('.ReimbursementID').text();
                var EmployeeID = $(ID).closest('tr').find('.EmployeeID').text();
                var E = "{ReimbursementTypeID: '" + ReimbursementID + "', EmpType:'" + emptyval + "', EmpName:'" + "" + "', TransType:'" + "Delete" + "', SectorID:'" + $('#ddlSector').val() + "'}";
                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/Advance_Adjustment/Load",
                    data: E,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (D) {
                        var t = D.Data; alert(JSON.stringify(t)); //alert(a.length);
                        var Code = t[0].Code; alert(Code);
                        if (Code == 0) {
                            alert("Record Deleted Successfully !!");
                            Load();
                            return false;
                        }
                        else {
                            alert("Sorry !! You can not Deleted !!"); return false;
                        }
                    }
                });
            }

        }
        function CheckClosingStatus_Adv() {
            var a = $.trim($("#txtFrom").val());
            var b = a.split('/');
            var vchDate = b[2] + '-' + b[1] + '-' + b[0];

            var E = "{MenuId: '" + 92 + "', TransDt: '" + vchDate + "', SectId: '" + $.trim($("#ddlSector").val()) + "', FromModule: '" + "A" + "'}";

            $.ajax({
                type: "POST",
                url: "/Accounts_Form/AccountClose/AccountClosingStatus",
                data: E,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (D) {
                    var t = D.Data;
                    if (t.length > 0) {
                        var Status = t[0].Status;
                        var msg = t[0].Message;
                        if (Status == 1) {
                            Save();
                        }
                        else {
                            swal("Cancelled", msg, "error");
                        }
                    }
                }
            });
        }
        function Excel() {

            var table = $("#myTable");
            var tblCount = (table.find('tbody tr.myData')).length;
            if (tblCount > 0) {
                var res = confirm('Are You Sure Want to download Excel Report ??');
                if (res == true) {


                    var master = []; var final = {};

                    var ReimbursementTypeID = $(".lst-rtype.selected").attr('data-rtype');

                    master.push({
                        ReimbursementTypeID: ReimbursementTypeID,
                        EmpType: emptyval,
                        EmpName: "",
                        TransType: "AdvLoad",
                        FileName: "Internal_Advance",
                        SectorID: $('#ddlSector').val()
                    });
                    final = {
                        Master: master
                    }
                    location.href = "/Accounts_Form/Advance_Adjustment/Excel?ReportName=" + JSON.stringify(final);
                }
            }
            else {
                alert('Sorry ! There is no any Data Available to download.'); return false;
            }

        }
    </script>




